@model  HealthyChefCreationsMVC.CustomModels.CustomerSubProfilePrefUpdate
@{
    int pindex = 0;
    string checkedStr = string.Empty;
    //var display = @Model.DisplaytoUser.ToString();
}
<style>
    .checkbox_1 td {
        width: 20%;
        float: left;
    }   
</style>
@using (Html.BeginForm("UpdateSubProfilePrefInfo", "Account", FormMethod.Post))
{
    <div class="m-2">
        <div id="">
            @Html.HiddenFor(m => m.UserID)
            @Html.HiddenFor(m => m.ProfileId)
            <div class="fieldRow">
                <div class="fieldCol p-20">
                    <p>Account Preferences shall be applied to Custom Meal Programs only.</p>
                    <p class="p-20">
                        @*NOTE: Changes made to food preferences and allergen information in profiles will be applied to future purchases and also to future
        delivery weeks for existing orders, but may not be reflected in your upcoming current delivery week.
        Changes made after a weekly order deadline (i.e., Thursday night) will not be reflected in that week's deliveries.*@
                        <span style="color:red">NOTE: Changes to your Custom Meal Program preferences can be made by calling our customer service center.</span>
                        If changes are not made by the ordering deadline, they may not be reflected in your next delivery.
                        Please review with your customer service representative for details.
                    </p>
                    <table id="" class="checkbox_1" border="0" width="100%">
                        <tbody>
                            <tr>
                                @{
                                    foreach (var p in Model.AllPreferences)
                                    {
                                        checkedStr = @p.IsSelected ? "checked" : string.Empty;
                                        <td>
                                            <input id="pref_@p.PreferenceID" type="checkbox" disabled="disabled" name="PreferencesSelected" value="@p.PreferenceID" @checkedStr>
                                            <label for="pref_@p.PreferenceID" class="push" style="text-align: left;">@p.Name</label>
                                        </td>
                                    }
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="fieldRow">
                <div class="fieldCol">
                    <input type="submit"style="display:none" name="" value="Save" id="" class="btn btn-green">@*pixels-button-user pixels-button-solid-green-user*@
                </div>
            </div>
            <div class="fieldRow">
                <div class="fieldCol">
                    <div id="" style="color:Red;display:none;">

                    </div>
                </div>
                <span id="" data-ctrl="pref" style="color:Green;"></span>
            </div>
            <div class="fieldRow">
                <div class="fieldCol">

                </div>
            </div>
        </div>
        <div class="fieldRow col-md-12">
            <div class="fieldCol">
                <div>
                    <p class="">
                        <span>@Model.NotesTitle</span>
                    </p>
                    <span>@Model.DisplayNote</span>
                </div>
            </div>
        </div>

    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        if (document.URL.indexOf('login.aspx') == -1) {
            $("[id$=pnlPrefs]").find(":input").change(function () {
                $("[id$=lblFeedback]").filter('[data-ctrl="pref"]')
                    .text('There may be unsaved values in this section. If you have changed information in this section, please be sure to save it before moving on.')
                    .css("color", "#F60");
            });
        }
    });
  
</script>