@model  HealthyChefCreationsMVC.CustomModels.CustomerSubProfileAllergensUpdate
@{
    int pindex = 0;
    string checkedStr = string.Empty;

}

@using (Html.BeginForm("UpdateSubProfileAllergensInfo", "Account", FormMethod.Post))
{

    <div class="m-2">
        <div id="">
            @Html.HiddenFor(m => m.UserID)
            @Html.HiddenFor(m => m.ProfileId)
            <div class="fieldRow">
                <div class="fieldCol">
                    <p>Account Allergens shall be applied to all Meal Program orders only. A La Carte meals may be individually customized at checkout.</p>
                    <p>
                        @*NOTE: Changes made to food preferences and allergen information in profiles will be applied to future purchases and also to future*@
                        NOTE: Changes made to food preferences information in profiles will be applied to future purchases and also to future
                        delivery weeks for existing orders, but may not be reflected in your upcoming current delivery week.
                        Changes made after a weekly order deadline (i.e., Thursday night) will not be reflected in that week's deliveries.
                    </p>
                    <table id="" class="checkbox_1" border="0" width="100%">
                        <tbody>
                            <tr>
                                @{
                                    foreach (var a in Model.AllAllergens)
                                    {
                                        checkedStr = @a.IsSelected ? "checked" : string.Empty;
                                        <td>
                                            <input id="allergen_@a.AllergenID" type="checkbox" name="AllergensSelected" value="@a.AllergenID" @checkedStr>
                                            <label for="allergen_@a.AllergenID" class="push" style="text-align: left;">@a.Name</label>
                                        </td>
                                    }
                                }
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="fieldRow">
                <div class="fieldCol">
                    <input type="submit" name="" value="Save" id="" class="btn btn-green">@*pixels-button-user pixels-button-solid-green-user*@
                </div>
            </div>
            <div class="fieldRow">
                <div class="fieldCol">
                    <div id="" style="color:Red;display:none;">

                    </div>
                </div>
                <span id="" data-ctrl="allg" style="color:Green;"></span>
            </div>
            <div class="fieldRow">
                <div class="fieldCol">



                </div>
            </div>

        </div>
    </div>

                                    }
<script type="text/javascript">
    $(document).ready(function () {
        if (document.URL.indexOf('login.aspx') == -1) {
            $("[id$=pnlAllg]").find(":input").change(function () {
                $("[id$=lblFeedback]").filter('[data-ctrl="allg"]')
                    .text('There may be unsaved values in this section. If you have changed information in this section, please be sure to save it before moving on.')
                    .css("color", "#F60");
            });
        }
    });
</script>