@model  HealthyChefCreationsMVC.CustomModels.CustomerSubProfileBasicInfo

@using (Html.BeginForm("UpdateSubProfileBasicInfo", "Account", FormMethod.Post))
{
    <div class="plan_edit">
        <div id="" onkeypress="">
            @Html.HiddenFor(m => m.UserID)
            @Html.HiddenFor(m => m.ProfileId)
            <div class="fieldRow col-md-12">
                <div class="fieldCol startprfle">
                    @Html.LabelFor(m => m.IsActive, new { @class = "col-md-2 push labelextent"  })
                    @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control col-md-6" })
                    @Html.ValidationMessageFor(m => m.IsActive)
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="fieldRow col-md-12">
                <div class="fieldCol">
                    @Html.LabelFor(m => m.ProfileName, new { @class = "col-md-2 push required" })
                    @Html.TextBoxFor(m => m.ProfileName, new { @class = "form-control col-md-6 AlphabetsOnly" })
                    @Html.ValidationMessageFor(m => m.ProfileName)
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="fieldRow col-md-12">
                <div class="fieldCol">
                    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 push required" })
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control col-md-6 AlphabetsOnly" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="fieldRow col-md-12">
                <div class="fieldCol"> 
                    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 push required" })
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control col-md-6 AlphabetsOnly" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
            <div class="clearfix"></div>
            
            <div class="clearfix"></div>
            <div class="fieldRow col-md-12">
                <div class="fieldCol">
                    <!--<label for="ctl00_body_ctl00_BasicEdit1_txtEmail" id="ctl00_body_ctl00_BasicEdit1_Label1">Yes, I would like to receive the Healthy Chef Creations newsletter and promotional emails from Healthy Chef Creations</label>
                    <input id="ctl00_body_ctl00_BasicEdit1_cbMarketingOptIn" type="checkbox" name="ctl00$body$ctl00$BasicEdit1$cbMarketingOptIn" checked="checked" />-->
                </div>
            </div>
            <div class="fieldRow col-md-12">
                <div class="fieldCol col-md-offset-3">
                    <input type="submit" name="Save" value="Save" onclick="" id="" class="btn btn-green">@*pixels-button-user pixels-button-solid-green-user*@

                    <div>
                        <span id="" data-ctrl="basic" style="color:Green;"></span>
                    </div>
                </div>
            </div>
            @*<div class="col-md-12 col-md-offset-3">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger validation_error_group" })
                </div>*@
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        if (document.URL.indexOf('login.aspx') == -1) {
            $("[id$=pnlBasicEdit]").find(":input").change(function () {
                $("[id$=lblFeedback0]").filter('[data-ctrl="basic"]')
                    .text('There may be unsaved values in this section. If you have changed information in this section, please be sure to save it before moving on.')
                    .css("color", "#F60");
            });
        }
    });

   
    $('.AlphabetsOnly').keypress(function (e) {
        
        var regex = new RegExp("^[a-zA-Z ]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });
</script>
<style>
    .validation_error_group ul, .field-validation-error {
        padding: 10px;
        /*color: #b94a48;*/
        color:red;
    }
    .startprfle input {
        width:auto !important;
    }
</style>