@model  HealthyChefCreationsMVC.CustomModels.CustomerBillingInfo

@{
    var StatesDropdown = new List<SelectListItem>();
    foreach (var s in HealthyChef.Common.Helpers.US_States)
    {
        StatesDropdown.Add(new SelectListItem()
        {
            Text = s.Name,
            Value = s.Abbr
        });
    }
    
}

    @using (Html.BeginForm("UpdateBillingInfo", "Account", FormMethod.Post))
    {
        <div id="">

            <div class="fieldRow">
                <div class="fieldCol">
                    <div id="" data-ctrl="addrBilling">
                        @Html.HiddenFor(m => m.UserID, new { @id = "BillingInfoUserId" })
                        @Html.HiddenFor(m => m.BillingAddressID)
                        <div class="table_row plan_edit">
                            <div class="fieldRow col-md-12">
                                <div class="fieldCol">
                                    @Html.LabelFor(m => m.BillingFirstName, new { @class = "col-sm-2 push required" })
                                    @Html.TextBoxFor(m => m.BillingFirstName, new { @class = "form-control col-md-6 AlphabetsOnly", id = "ShippingInfoFirstName" })
                                    @Html.ValidationMessageFor(m => m.BillingFirstName)
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="fieldRow col-md-12">
                                <div class="fieldCol">
                                    @Html.LabelFor(m => m.BillingLastName, new { @class = "col-sm-2 push required" })
                                    @Html.TextBoxFor(m => m.BillingLastName, new { @class = "form-control col-md-6 AlphabetsOnly", id = "ShippingInfoLastName" })
                                    @Html.ValidationMessageFor(m => m.BillingLastName)
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="fieldRow col-md-12">
                                <div class="fieldCol">
                                    @Html.LabelFor(m => m.BillingAddress1, new { @class = "col-sm-2 push required" })
                                    @Html.TextBoxFor(m => m.BillingAddress1, new { @class = "form-control col-md-6" })
                                    @Html.ValidationMessageFor(m => m.BillingAddress1)
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="fieldRow col-md-12">
                                <div class="fieldCol">
                                    @Html.LabelFor(m => m.BillingAddress2, new { @class = "col-sm-2 push" })
                                    @Html.TextBoxFor(m => m.BillingAddress2, new { @class = "form-control col-md-6" })
                                    @Html.ValidationMessageFor(m => m.BillingAddress2)
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="fieldRow col-md-12">
                                <div class="fieldCol">
                                    @Html.LabelFor(m => m.BillingCity, new { @class = "col-sm-2 push required" })
                                    @Html.TextBoxFor(m => m.BillingCity, new { @class = "form-control col-md-6 AlphabetsOnly" })
                                    @Html.ValidationMessageFor(m => m.BillingCity)
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="fieldRow col-md-12">
                                <div class="fieldCol">
                                    @Html.LabelFor(m => m.BillingState, new { @class = "col-sm-2 push required" })
                                    @Html.DropDownListFor(m => m.BillingState, StatesDropdown, new { @class = "form-control col-md-6" })
                                    @Html.ValidationMessageFor(m => m.BillingState)
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="fieldRow col-md-12">
                                <div class="fieldCol">
                                    @Html.LabelFor(m => m.BillingPostalCode, new { @class = "col-sm-2 push required" })
                                    @Html.TextBoxFor(m => m.BillingPostalCode, new { @class = "form-control col-md-6", @onkeypress = "return isNumeric(event)", @maxlength = 5 })
                                    @Html.ValidationMessageFor(m => m.BillingPostalCode)

                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="fieldRow col-md-12">
                                <div class="fieldCol">
                                    @Html.LabelFor(m => m.BillingPhone, new { @class = "col-sm-2 push" })
                                    @Html.TextBoxFor(m => m.BillingPhone, new { @class = "form-control col-md-6", @onkeypress = "return isNumeric(event)", @maxlength = 20 })
                                    @Html.ValidationMessageFor(m => m.BillingPhone)
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="fieldRow col-md-12">
                                <div class="fieldCol col-md-offset-3">

                                    <input type="submit" name="save" value="Save" onclick="" id="" class="btn btn-green">@*pixels-button-user pixels-button-solid-green-user*@
                                </div>
                                <div>
                                    @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="validation-summary-errors text-success">
                                    @ViewBag.UpdateBillingInfoMessage
                                </div>
                                @*@Html.ValidationSummary(false, "", new { @class = "text-success" })*@
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }

<script>

    function isNumeric(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if ((charCode == 46) || (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57)))
            return false;

        return true;
    }


    $('.AlphabetsOnly').keypress(function (e) {
        
        var regex = new RegExp("^[a-zA-Z ]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });

</script>