@model  HealthyChefCreationsMVC.CustomModels.CustomerUpdatePassword

@using (Html.BeginForm("UpdateCustomerPassword", "Account", FormMethod.Post))
{

    <fieldset>

        <div id="" onkeypress="">
            @Html.HiddenFor(m => m.UserID, new { @id = "ChangePasswordInfoUserId" })
            <table>
                <tbody>
                    <tr>
                        <td style="text-align: right; font-weight: bold; vertical-align: top;">
                            Instructions:
                        </td>
                        <td>
                            <ol style="margin: 0;">
                                <li>Enter your current password into the field labeled "Current Password".</li>
                                <li>Enter your new password into the field labeled "New Password".</li>
                                <li>Confirm your new password by entering it a second time into the field labeled "Confirm New Password".</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; font-weight: bold; vertical-align: top;">
                            Password Requirements:
                        </td>
                        <td>
                            <ul style="margin: 0;">
                                <li>Passwords must be at least 5 characters in length.</li>
                            </ul>
                            <br><br>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; font-weight: bold;">
                            @Html.LabelFor(m => m.CurrentPassword, new { @class = "required" }):
                        </td>
                        <td>
                            @Html.EditorFor(m => m.CurrentPassword, new { @class = "form-control col-md-6" })
                            <span style="color:red">@TempData["CurrentPasswordMessage"]</span>
                            @Html.ValidationMessageFor(m => m.CurrentPassword)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; font-weight: bold;">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "required" }):
                        </td>
                        <td>
                            @Html.EditorFor(m => m.NewPassword, new { @class = "form-control col-md-6" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right; font-weight: bold;">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "required" }):
                        </td>
                        <td>
                            @Html.EditorFor(m => m.ConfirmPassword, new { @class = "form-control col-md-6" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="margin-left: 20%;">
                                <input type="submit" name="ctl00$body$ctl00$PasswordChange1$btnSave" value="Save Password" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$body$ctl00$PasswordChange1$btnSave&quot;, &quot;&quot;, true, &quot;PasswordChangeGroup&quot;, &quot;&quot;, false, false))" id="ctl00_body_ctl00_PasswordChange1_btnSave" class="btn btn-green">@*pixels-button-user pixels-button-solid-green-user*@
                                <br>
                                <div class="validation-summary-errors text-success">
                                    @ViewBag.UpdatePasswordMessage
                                </div>
                                <span style="color:red;">@TempData["customerupdatePasswod"]</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
}
<style>
    td {
        padding:3px;
    }
</style>

