@model  HealthyChefCreationsMVC.CustomModels.CustomerShippinInfo

@{
    var StatesDropdown = new List<SelectListItem>();
    var DeliveryTypesDropdown = new List<SelectListItem>();
    foreach (var s in HealthyChef.Common.Helpers.US_States)
    {
        StatesDropdown.Add(new SelectListItem()
        {
            Text = s.Name,
            Value = s.Abbr
        });
    }

    var types = HealthyChef.Common.Enums.GetEnumAsTupleList(typeof(HealthyChef.Common.Enums.DeliveryTypes));
    if (HealthyChef.Common.Helpers.LoggedUser == null || Roles.IsUserInRole(HealthyChef.Common.Helpers.LoggedUser.UserName, "Customer"))
    {
        types.RemoveAt(types.IndexOf(types.Where(a => a.Item2 == (int)HealthyChef.Common.Enums.DeliveryTypes.LocalDelivery).Single()));
    }

    foreach (var dd in types)
    {
        DeliveryTypesDropdown.Add(new SelectListItem()
        {
            Text = dd.Item1,
            Value = dd.Item2.ToString()
        });
    }

}

@using (Html.BeginForm("UpdateShippingInfo", "Account", FormMethod.Post))
{

    <div id="ctl00_body_ctl00_AddressEdit_Shipping1_pnlAddressEdit" data-ctrl="addrShipping" onkeypress="">

        <p class="p-20">
            NOTE: Changes saved to shipping addresses in profiles will be applied to future purchases only,
            and will not be automatically applied to future delivery weeks for existing orders from previous purchases.
            To change the shipping address for a future delivery week for an existing order from a previous purchase,
            please contact Customer Service. Shipping addresses for existing orders from previous purchases cannot be changed online.
        </p>
        @Html.HiddenFor(m => m.UserID, new { @id = "ShippingInfoUserId"})
        @Html.HiddenFor(m => m.ShippingAddressID)
        <div class="table_row plan_edit">
            <div class="fieldRow col-md-12">
                <div class="fieldCol">
                    @Html.LabelFor(m => m.ShippingFirstName, new { @class = "col-sm-2 push required labelextent" })
                    @Html.TextBoxFor(m => m.ShippingFirstName, new { @class = "form-control col-md-6 AlphabetsOnly", id = "ShippingInfoFirstName" })
                    @Html.ValidationMessageFor(m => m.ShippingFirstName)
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="fieldRow col-md-12">
                <div class="fieldCol">
                    @Html.LabelFor(m => m.LastName, new { @class = "col-sm-2 push required" })
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control col-md-6 AlphabetsOnly", id = "ShippingInfoLastName" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="fieldRow col-md-12">
                <div class="fieldCol">
                    @Html.LabelFor(m => m.Address1, new { @class = "col-sm-2 push required" })
                    @Html.TextBoxFor(m => m.Address1, new { @class = "form-control col-md-6" })
                    @Html.ValidationMessageFor(m => m.Address1)
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="fieldRow col-md-12">
                <div class="fieldCol">
                    @Html.LabelFor(m => m.Address2, new { @class = "col-sm-2 push" })
                    @Html.TextBoxFor(m => m.Address2, new { @class = "form-control col-md-6" })
                    @Html.ValidationMessageFor(m => m.Address2)
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="fieldRow col-md-12">
                <div class="fieldCol">
                    @Html.LabelFor(m => m.City, new { @class = "col-sm-2 push required" })
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control col-md-6 AlphabetsOnly" })
                    @Html.ValidationMessageFor(m => m.City)
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="fieldRow col-md-12">
                <div class="fieldCol">
                    @Html.LabelFor(m => m.State, new { @class = "col-sm-2 push required" })
                    @Html.DropDownListFor(m => m.State, StatesDropdown, new { @class = "form-control col-md-6" })
                    @Html.ValidationMessageFor(m => m.State)
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="fieldRow col-md-12">
                <div class="fieldCol">
                    @Html.LabelFor(m => m.PostalCode, new { @class = "col-sm-2 push required" })
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control col-md-6", @onkeypress = "return isNumeric(event)", @maxlength = 5 })
                    @Html.ValidationMessageFor(m => m.PostalCode)

                </div>
            </div>
            <div class="clearfix"></div>
            <div class="fieldRow col-md-12">
                <div class="fieldCol">
                    @Html.LabelFor(m => m.Phone, new { @class = "col-sm-2 push" })
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control col-md-6", @onkeypress = "return isNumeric(event)", @maxlength = 20 })
                    @Html.ValidationMessageFor(m => m.Phone)
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="" class="fieldRow col-md-12">
                <div class="fieldCol">
                    @Html.LabelFor(m => m.DefaultShippingTypeID, new { @class = "col-sm-2 push" })
                    @Html.DropDownListFor(m => m.DefaultShippingTypeID, DeliveryTypesDropdown, new { @class = "form-control col-md-6" })
                    @Html.ValidationMessageFor(m => m.DefaultShippingTypeID)
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="" class="fieldRow col-md-12">
                <div class="fieldCol">
                    @Html.LabelFor(m => m.IsBusiness, new { @class = "col-sm-2 push" })
                    @Html.CheckBoxFor(m => m.IsBusiness, new { @class = "form-control width_at" })
                    @Html.ValidationMessageFor(m => m.IsBusiness)
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-offset-3">
                <input type="submit" name="save" value="Save" onclick="" id="" class="btn btn-green">@*pixels-button-user pixels-button-solid-green-user*@
            </div>
            @*<div class="fieldRow col-md-12">
                <div class="fieldCol col-md-offset-3">
                    
                </div>
            </div>*@
            <div class="col-md-12">
                <div class="validation-summary-errors text-success">
                    @ViewBag.UpdateShippingInfoMessage
                </div>
                @*@Html.ValidationSummary(true, "", new { @class = "text-success" })*@
            </div>       
            <div class="fieldRow col-md-12">
                <div class="fieldCol">
                    <div>
                        <p class="">
                            <span>@Model.NotesTitle</span>
                        </p>
                        <span>@Model.DisplayNote</span>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
}
    <style>
        .validation_error_group ul, .field-validation-error {
            padding: 10px;
            /*color: #b94a48;*/
            color: red;
        }
        .width_at {
            width:auto !important;
        }
        button, html input[type="button"], input[type="reset"], input[type="submit"] {
            outline: -webkit-focus-ring-color auto 0px;
        }
    </style>
<script>

    function isNumeric(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if ((charCode == 46) || (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57)))
            return false;

        return true;
    }


    $('.AlphabetsOnly').keypress(function (e) {
        
        var regex = new RegExp("^[a-zA-Z ]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });

</script>