@model  HealthyChefCreationsMVC.CustomModels.CheckoutViewModel
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutNoColumns.cshtml";
}
<style>
    div.invoice, div.invoice td {
        font-size: 11px !important;
    }
</style>

    <div id="main">
        <div class="container">
            <div class="container-bottom">
                <div class="container-cnt">
                    <!-- Header -->
                    @*<div class="full-page-header">
                        <div class="alignleft">

                        </div>
                        <div class="info">

                        </div>
                        <div class="cl">&nbsp;</div>
                    </div>*@
                    <!-- Body Content -->

                    <script type="text/javascript">
                        function preventBack() {
                            window.history.forward();
                        }
                        setTimeout("preventBack()", 0);
                        window.onunload = function () {
                            null;
                        };
                        $(function () {
                            $('#ctl00_body_ctl00_CartDisplay1_CheckBoxRequired').hide();
                        });
                        function CheckBoxRequired_ClientValidate(sender, e) {
                            e.IsValid = jQuery("#ctl00_body_ctl00_CartDisplay1_cbTermsAndConditions").is(':checked');
                            if (e.IsValid == false) {
                                $('#ctl00_body_ctl00_CartDisplay1_CheckBoxRequired').show();
                                MakeUpdateProg(false);
                            }
                            else {
                                $('#ctl00_body_ctl00_CartDisplay1_CheckBoxRequired').hide();
                            }
                        }
                    </script>

                    <div id="ctl00_body_ctl00_CartDisplay1_pnlConfirm">

                        <h2 style="text-align: center; font-size: 30px" class="color-orange">Order Summary</h2>
                        <div id="ctl00_body_ctl00_CartDisplay1_lblOrderDetails">

                          
                                <div class="invoice">
                                    <table style="width: 100%; padding: 5px;">
                                        <tbody>
                                            <tr style="height: 20px; background-color: #eeeeee;">
                                                <td style="width: 200px; padding: 2px; border: 1px solid #cccccc; font-weight: bold;">Purchase Number:&nbsp;2767031</td>
                                                <td style="padding: 2px; border: 1px solid #cccccc; font-weight: bold;">Status:&nbsp;Unfinalized</td>
                                                <td style="padding: 2px; border: 1px solid #cccccc; font-weight: bold;">Modified Date: 4/11/2018 1:27:57 PM</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div>
                                                        <b>Billing Information:</b>
                                                        <table class="address">
                                                            <tbody>
                                                                <tr><td>maniteja sindiri</td></tr>
                                                                <tr><td>test</td></tr>
                                                                <tr><td>test, CA  30005 </td></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div>
                                                        <b>Transaction Information:</b>
                                                        E00027-This transaction has been declined.
                                                    </div>
                                                </td>
                                                <td colspan="2" style="vertical-align:top;">
                                                    <b>Shipping Information:</b><br>
                                                    <div>
                                                        <div style="padding-right:15px;display:inline;float:left;">
                                                            Profile:Maniteja<br>
                                                            <table class="address">
                                                                <tbody>
                                                                    <tr><td>Maniteja Sindiri</td></tr>
                                                                    <tr><td>test</td></tr>
                                                                    <tr><td>test, CA  30005 </td></tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="padding: 2px">
                                                    <b>Purchased Items</b>
                                                    <table width="100%" cellpadding="2" cellspacing="0">
                                                        <tbody>
                                                            <tr style="border:1px solid #cccccc; background-color:whitesmoke">
                                                                <th style="text-align:center;width:100px;">Order #</th>
                                                                <th>Item</th>
                                                                <th style="text-align:center;width:100px;">Quantity</th>
                                                                <th style="text-align:right;width:100px;">Unit Price</th>
                                                                <th style="text-align:right;width:100px;">Sub-Total</th>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                            </tr>
                                                            @if (Model.parentProfile != null)
                                {
                                    <tr>
                                        <td colspan="6" style="padding: 2px; border: 1px solid #cccccc; background-color: #eeeeee; font-weight: bold;">
                                            Profile:&nbsp;@Model.UserProfileString
                                        </td>
                                    </tr>
    }

                                                            @foreach (var items in Model.cartItems)
                                {
                                    <tr style="background-color:#ffffff;">
                                        <td>@items.OrderNumber</td>
                                        <td>@items.ItemName</td>
                                        <td style="text-align:center;">@items.Quantity</td>
                                        <td style="text-align:right;">@items.ItemPrice.ToString("c")</td>
                                        <td style="text-align:right;">@items.ItemSubTotalNA.ToString("c")</td>
                                        <td style="text-align:right;"></td>
                                    </tr>
    }
                                                            @foreach (var currentcart in Model.profCart)
                                {
                                    <tr><td colspan="6" style="text-align:right; padding: 2px; font-weight: bold;">Profile Sub-Total:&nbsp;@currentcart.SubTotalNA.ToString("c")</td></tr>
                                    <tr><td colspan="6"><hr></td></tr>
                                    <tr>
                                        <td rowspan="10">
                                            <table width="200px">
                                                <tbody>
                                                    <tr>
                                                        <td><b>Gift Certificate Redeemed</b>:</td>
                                                    </tr>
                                                    <tr><td>NULL</td></tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td colspan="2">&nbsp;</td>
                                        <td colspan="2" style="text-align:right;"><b>Subtotal:</b></td>
                                        <td style="text-align:right;">@currentcart.SubTotalNA.ToString("c")</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                        <td colspan="2" style="text-align:right; font-weight: bold;">Tax:</td>
                                        <td style="text-align:right;">@currentcart.SubTax.ToString("c")</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                        <td colspan="2" style="text-align:right; font-weight: bold;">Shipping:</td>
                                        <td style="text-align:right;">@currentcart.ShippingFee.ToString("c")</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                        <td colspan="2" style="text-align:right; font-weight: bold;">Discount:</td>
                                        <td style="text-align:right;">(@currentcart.SubDiscountAmount.ToString("c"))</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                        <td colspan="2" style="text-align:right; font-weight: bold;border-top:1px solid black;">Total:</td>
                                        <td style="text-align:right;border-top:1px solid black;">$84.90</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                        <td colspan="2" style="text-align:right; font-weight: bold;">Account Balance:</td>
                                        @if (Model.parentProfile != null)
            {
                            <td style="text-align:right;">@Model.parentProfile.AccountBalance.ToString("c")</td>
}
else
{
                            <td style="text-align:right;">@decimal.Zero.ToString("c")</td>
}
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                        <td colspan="2" style="text-align:right; font-weight: bold;">Payment Amount:</td>
                                        <td style="text-align:right;">@Model.PaymentAmount</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                        <td colspan="2" style="text-align:right; font-weight: bold;border-top:1px solid black;">Remaining Account Balance:</td>
                                        <td style="text-align:right;border-top:1px solid black;">$915.10</td>
                                    </tr>
    }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <div style="margin: auto 0px auto auto; text-align: right; max-width: 400px;">
                            <fieldset>
                                <legend style="display: none"></legend>
                                <span style="font-size: .9em;">
                                    <span id="ctl00_body_ctl00_CartDisplay1_CheckBoxRequired" style="color: red; visibility: hidden; display: none;">You must select this box to proceed.<br></span>
                                    <input id="ctl00_body_ctl00_CartDisplay1_cbTermsAndConditions" type="checkbox" name="ctl00$body$ctl00$CartDisplay1$cbTermsAndConditions">
                                    <label for="ctl00_body_ctl00_CartDisplay1_cbTermsAndConditions">(Required) I have read, understand and agree to the terms and conditions, including the cancellation and change policies.  Terms and conditions may be viewed by clicking the link at the bottom of any page on this website.</label>
                                </span>
                                <br>
                                <br>
                                <input id="ctl00_body_ctl00_CartDisplay1_cbMarketingOptIn" type="checkbox" name="ctl00$body$ctl00$CartDisplay1$cbMarketingOptIn" checked="checked">
                                <span style="font-size: .9em;">Yes, I would like to receive the Healthy Chef Creations newsletter and promotional emails from Healthy Chef Creations.</span>
                                <br>
                                <br>
                            </fieldset>

                            <br>
                            <input type="submit" name="ctl00$body$ctl00$CartDisplay1$btnConfirmCancel" value="Cancel and Restart" id="ctl00_body_ctl00_CartDisplay1_btnConfirmCancel" class="pixels-button-double pixels-button-double-orange">
                            &nbsp;
                            <input type="submit" name="ctl00$body$ctl00$CartDisplay1$btnConfirmComplete" value="Complete Purchase" onclick="MakeUpdateProg(true);WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$body$ctl00$CartDisplay1$btnConfirmComplete&quot;, &quot;&quot;, true, &quot;ConfirmCheckoutGroup&quot;, &quot;&quot;, false, false))" id="ctl00_body_ctl00_CartDisplay1_btnConfirmComplete" class="pixels-button-double pixels-button-double-green">
                            &nbsp;<br>
                            (Your payment card will be charged)
                            <div id="ctl00_body_ctl00_CartDisplay1_div1" style="text-align: right;">
                                <div id="ctl00_body_ctl00_CartDisplay1_ValSumConfirmCheckoutGroup" style="color:Red;display:none;">
                                </div>
                            </div>
                            <br>
                            <span id="ctl00_body_ctl00_CartDisplay1_lblConfirmFeedback"></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
