@model  HealthyChefCreationsMVC.CustomModels.CartViewModel
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutNoColumns.cshtml";
    bool IsCartPrinted = true;
}

<script type="text/javascript">
    function preventBack() {
        window.history.forward();
    }
    setTimeout("preventBack()", 0);
    window.onunload = function () {
        null;
    };
    $(function () {
        $('#ctl00_body_ctl00_CartDisplay1_CheckBoxRequired').hide();
    });
    function CheckBoxRequired_ClientValidate(sender, e) {
        e.IsValid = jQuery("#ctl00_body_ctl00_CartDisplay1_cbTermsAndConditions").is(':checked');
        if (e.IsValid == false) {
            $('#ctl00_body_ctl00_CartDisplay1_CheckBoxRequired').show();
            MakeUpdateProg(false);
        }
        else {
            $('#ctl00_body_ctl00_CartDisplay1_CheckBoxRequired').hide();
        }
    }
</script>
<div class="">
    <div id="divLoader" style="display:none;"> <img src="~/Content/Images/ajax-loading.gif" alt="Loader" /> </div>
    <div class="container">
        <div id="" class="mycart-page table_row cart_bg">

            <h2 class="header color-orange" style="color:#276f22">My Cart</h2>
            <span id="" style="color:Red;"></span>
            <div class="clearfix"></div>
            <div class="mycart-page">
                @if (Model.IsExpiredOrder)
                {
                    <div style="text-align: center;font-size: 13px;color:red;">
                        @ViewBag.ExpiredOrderCartitems
                    </div>
                }
                else
                {
                    <div style="text-align: center;font-size: 13px;color:red;">
                        @Model.lblFeedbackCart
                    </div>
                }
                <!-- Group by user profile -->
                @if (Model.cartItems == null || Model.cartItems.Count == 0)
                {
                    <div style="text-align: center;font-size: 13px;">
                        @*Item(s) removed from cart due to expiration of availability.
                            <br />
                            (or)
                            <br />*@
                        There are currently no items in your cart.
                    </div>

                    <div class="mycart-page">
                        <!-- Group by user profile -->
                        <!-- 2nd table-->
                        @*<div class="col-md-12">

                                @if (Model.isUserLoggedIn)
                                {
                                    if (Model.parentProfile != null)
                                    {
                                        if (Model.parentProfile.ShippingAddressID.HasValue)
                                        {
                                            <div style="text-align:center;margin-left:95px;">
                                                <span id="ShippingDeliveryType" style="text-align:center;">@Model.ShippingDeliveryType.ToString()</span>
                                            </div>
                                        }
                                    }
                                }
                                else
                                {
                                    <div id="CalculateShipping">
                                        <span id="CalcShipping">Calculate Shipping :</span>
                                        <input name="CalZipCode" type="text" id="txtCalZipCode" style="width: 120px;" onkeypress="return isNumeric(event)" maxlength=5>
                                        <input type="button" name="SearchZipCode" value="Calculate" id="btnSearchZipCode" onclick="CalculateShipping();">
                                        <span id="zipcode" style="color:red;width: 100%;display: block;padding-left:101px;"></span>
                                        <select name="Calczipcode" id="ddlCalczipcode" style="display:none;"></select>

                                        <span style="display:none;"><input id="chkIsPickup" type="checkbox" name="IsPickup"></span>
                                        <span id="lblIsPickup" style="display:none;">IsPickup</span>
                                    </div>
                                    <div id="" class="shippingMethod">
                                        <span id="" style="display:none;">Shipping Method-1 :</span>
                                        <table id="" border="0" style="display:none;">
                                            <tbody>
                                                <tr>
                                                    <td><input id="" type="checkbox" name="ctl00$body$ctl00$CartDisplay1$chkShippingMethod$0"><label for="ctl00_body_ctl00_CartDisplay1_chkShippingMethod_0">Fresh Delivery :Fed Ex Overnight</label></td>
                                                </tr>
                                                <tr>
                                                    <td><input id="" type="checkbox" name="ctl00$body$ctl00$CartDisplay1$chkShippingMethod$1"><label for="ctl00_body_ctl00_CartDisplay1_chkShippingMethod_1">Pickup</label></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div style="text-align:center">
                                            <span id="ShippingDeliveryType" style="text-align:center"></span>
                                        </div>
                                    </div>
                                }

                            </div>

                            <div class="col-md-12">
                                <ul class="cart-list">
                                    <li>
                                        <span class="spanlabel">Sub-Total:</span>
                                        <span id="lblSubTotal" class="label">$0.00</span>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="spanlabel">Tax:</span>
                                            <span id="lblTax" class="label">$0.00</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div id="Shipping">
                                            <span class="spanlabel">Shipping:</span>
                                            @if (Model.profCart.Count > 0)
                                            {
                                                <span id="">@Model.ShippingAmount</span>
                                            }
                                            else
                                            {
                                                <span id="" class="label">@decimal.Zero.ToString("c")</span>
                                            }
                                        </div>
                                    </li>
                                </ul>
                                <div>
                                    <span class="spanlabel">Total:</span>
                                    <span id="lblGrandTotal" class="label">$0.00</span>
                                </div>
                                <ul class="cart-list">
                                    <li>
                                        <div id="AcctBalance">
                                            <span class="spanlabel">Account Balance:</span>
                                            @if (Model.parentProfile != null)
                                            {
                                                <span id="" class="label">@Model.parentProfile.AccountBalance.ToString("c")</span>
                                            }
                                            else
                                            {
                                                <span id="" class="label">@decimal.Zero.ToString("c")</span>
                                            }
                                        </div>
                                    </li>
                                    <li>
                                        <div id="PaymentDue">
                                            <span class="spanlabel">Payment Amount:</span>
                                            <span id="lblPaymentDue" class="label">$0.00</span>
                                        </div>
                                    </li>
                                </ul>
                                <div id="RemainAcctBalance">
                                    <span class="spanlabel">Remaining Acct. Balance:</span>
                                    @if (Model.parentProfile != null)
                                    {
                                        var RemainingAcctountBalance = Model.parentProfile.AccountBalance - Model.creditAppliedToBalance;
                                        <span id="" class="label">@RemainingAcctountBalance.ToString("c")</span>
                                    }
                                    else
                                    {
                                        <span id="" class="label">@decimal.Zero.ToString("c")</span>
                                    }
                                </div>
                            </div>
                            <div class="col-md-12 divAddCouponCode p-40">
                                 Coupon Information
                                <div id="" class="m-2">
                                    @if (!Model.isUserLoggedIn)
                                    {
                                        <input name="" type="text" maxlength="20" placeholder="Log in to" style="text-align:right" id="CouponCodeText" disabled>
                                        <input type="submit" name="" value="Apply Coupon Code" id="" disabled onclick="ApplyCouponCode();">
                                        <span id="" style="color:Red;font-size:10px;"></span>
                                    }
                                    else
                                    {
                                        <input name="" type="text" maxlength="20" id="CouponCodeText">
                                        <input type="submit" name="" value="Apply Coupon Code" id="" onclick="ApplyCouponCode();">
                                        <span id="" style="color:Red;font-size:10px;"></span>

                                    }

                                    @if (Model.ActiveCoupon != null)
                                    {
                                        <div id="" class="m-2">
                                            <span id="" style="color:Red;font-size:10px;">@Html.Raw(Model.ActiveCoupon.ToString(false))</span>
                                            <input type="submit" name="" value="Delete" id="" onclick="RemoveCoupon();" />
                                        </div>
                                    }

                                    <div id="" class="">
                                        @if (!Model.isUserLoggedIn)
                                        {
                                            <input name="" type="text" maxlength="10" placeholder="Log in to" style="text-align:right" id="RedeemedGiftText" disabled>
                                            <input type="submit" name="" value="Redeem Gift Certificate" id="" disabled class="redeemgift" onclick="AddRedeemedGift();">
                                            <span id="" style="color:Red;font-size:10px;"></span>
                                        }
                                        else
                                        {
                                            <input name="" type="text" maxlength="10" id="RedeemedGiftText">
                                            <input type="submit" name="" value="Redeem Gift Certificate" id="" class="redeemgift" onclick="AddRedeemedGift();">
                                            <span id="" style="color:Red;font-size:10px;"></span>
                                        }

                                    </div>
                                </div>
                            </div>*@
                        <div class="clear"></div>
                        <div class="cotinue-shopping-button">
                            <a href="@Url.Action("Details","Content",new { Id = 7})" id="btnContinue" class="btn btn-default" style="float:right;margin:0px 5px;">Keep Shopping</a>
                            &nbsp;

                            &nbsp;


                            <div id="ValSum" style="text-align: right;">
                                <div id="ValSumCheckout" style="color:Red;display:none;">

                                </div>
                            </div>
                            <br>
                            <span id="lblFeedBack"></span>
                        </div>

                    </div>
                    if (Model.isUserLoggedIn)
                    {
                        <span style="padding-right: 15px;display:none;">
                            Shipping Address:&nbsp;
                            <a href="/my-profile.aspx/3" id="" class="form-show">[&nbsp;Edit&nbsp;]</a>
                            <br>
                            <span id="">@Html.Raw(Model.BillingAddress)</span>
                        </span>

                        <div style="display:none;">
                            Billing Information:&nbsp;
                            <a href="/my-profile.aspx/3" id="" class="form-show">[&nbsp;Edit&nbsp;]</a>


                            <div class="fieldRow">
                                <div class="fieldCol">
                                    Name on Card:<span id="">@Model.CurrentCardInfo.NameOnCard</span>
                                </div>
                            </div>
                            <div class="fieldRow">
                                <div class="fieldCol">
                                    Card Number:
                                    <span id="">@Model.CurrentCardInfo.CardNumber</span>
                                </div>
                            </div>
                            <div class="fieldRow">
                                <div class="fieldCol">
                                    Card Type:
                                    <span id="">@Model.CurrentCardInfo.CardType</span>
                                </div>
                            </div>
                            <div class="fieldRow">
                                <div class="fieldCol">
                                    Expires:
                                    <span id="">@Model.CurrentCardInfo.Expires</span>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    if (Model.profCart.SelectMany(x => x.CartItems).Count() > 0)
                    {
                        <div>
                            <div class="table-responsive">

                                <table style="width: 100%; padding: 0px; margin:10px 0px;" class="txtQuantity_item">
                                    <thead>
                                        @*<tr visible="true" style="height: 0px;">
                                                <th style="width:50%;height: 0px;"></th>
                                                <th style="width:80px;height: 0px;"></th>
                                                <th style="width: 80px; height: 0px;"></th>
                                                <th style="width: 80px; height: 0px;"></th>
                                                <th style="width: 80px; height: 0px;"></th>
                                                <th style="width: 100px; height: 0px;"></th>
                                            </tr>*@
                                        <tr id="" style="background:#ddd;">
                                            <th style="width:50%">Product</th>
                                            <th style="width:80px">Family Style</th>
                                            <th style="width:80px;text-align:center">Autorenew</th>
                                            <th style="width:80px;text-align: center;">Quantity</th>
                                            <th style="width:80px">Price</th>
                                            <th style="width:100px">Totals</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*<tr>
                                            <td colspan="5">*@
                                        @foreach (var profCart in Model.profCart)
                                        {

                                            @*<table style="width: 100%; padding: 0px; margin:10px 0px;" class="txtQuantity_item">
                                                <tbody>*@

                                            if (profCart.DeliveryDate != null)
                                            {
                                                <tr style="display:none">
                                                    <td colspan="4" width="70%">
                                                        <i class="color-olive">
                                                            Profile Name(s):
                                                            @if (Model.parentProfile != null)
                                                            {
                                                                @*<span id="">@Model.parentProfile.ProfileName</span>*@
                                                                <span id="">@Model.UserProfileString</span>
                                                                @*<span>:@Convert.ToDateTime(@profCart.DeliveryDate).ToString("MM/dd/yyyy")</span>*@
                                                                <span id="">:Delivery</span>
                                                            }
                                                            else
                                                            {
                                                                <span>:@Convert.ToDateTime(@profCart.DeliveryDate).ToString("MM/dd/yyyy")</span>
                                                            }
                                                        </i>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr style="display:none">
                                                    <td colspan="4" width="70%">
                                                        <i class="color-olive">
                                                            Profile Name(s):
                                                            <span id="">:@profCart.DeliveryDate</span>
                                                            <span id="">:</span>
                                                        </i>
                                                    </td>
                                                </tr>
                                            }
                                            @*@if (IsCartPrinted)
                                                {*@
                                            foreach (var Item in profCart.CartItems.OrderBy(x => x.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss.fff")))
                                            {
                                                <tr Id='cartItem_@Item.CartItemID'>
                                                    <td style="font-size: 14px;color:#276f22;font-weight:bold;margin-bottom: 7px;display: block;">


                                                        @if (Item.ItemName.Contains("Gift Certificate "))
                                                        {
                                                            <span> @Item.ItemName.Split('-')[0]</span>
                                                            <br />
                                                        }
                                                        else
                                                        if (Item.ItemName.Split('-').Length == 4 && !Item.ItemName.Contains("Gift certificate"))
                                                        {
                                                            <span> @Item.ItemName.Split('-')[2]</span>
                                                            <br />
                                                        }
                                                        else
                                                        if (Item.ItemTypeID == 2)
                                                        {
                                                            <span>@Item.ItemName.Split('-')[0]</span>
                                                            <br />
                                                        }
                                                        else
                                                        {
                                                            <span>@Item.ItemName.Split('-')[2]</span>
                                                            <br />
                                                        }
                                                        @if (Item.Plan_IsAutoRenew == true && Item.ItemTypeID == 2)
                                                        {
                                                            <span style="color:gray;">Subscription</span>
                                                        }
                                                        @if (Request.Browser.IsMobileDevice)
                                                        {
                                                            if (Item.ItemTypeID == 2)
                                                            {
                                                                if (Item.ItemName.Contains("Dinner"))
                                                                {
                                                                    <span id="ItemName" style="color:gray;">@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[1]-@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[3]-@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[4]-@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[5]-@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[6]</span>
                                                                }
                                                                else if (Item.ItemName.Contains("Lunch"))
                                                                {
                                                                    <span id="ItemName" style="color:gray;">@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[1]-@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[3]-@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[4] @Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[5]-@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[6]</span>
                                                                }
                                                                else if (Item.ItemName.Contains("Breakfast"))
                                                                {
                                                                    <span id="ItemName" style="color:gray;">@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[1]-@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[3]-@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[4] @Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[5]-@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[6]</span>
                                                                }
                                                                else if (Item.ItemName.Split('-').Length == 5 && Item.ItemName.Contains("Healthy Living"))
                                                                {
                                                                    <span id="ItemName" style="color:gray;">@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[1]-@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[3] @Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[4]</span>
                                                                }
                                                                else if (Item.ItemName.Split('-').Length == 5)
                                                                {
                                                                    <span id="ItemName" style="color:gray;">@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[1]-@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[2]-@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[3] @Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[4]</span>
                                                                }
                                                                else
                                                                {
                                                                    <span id="ItemName" style="color:gray;">@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[1]-@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[2]-@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[3] @Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[4]-@Item.ItemName.Replace("w/ Profile Preferences", "").Split('-')[5]</span>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <span id="ItemName" style="color:gray;">@Item.ItemName.Split('-').Last()</span>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <span id="ItemName" style="color:gray;"> @Item.ItemName.Replace("w/ Profile Preferences", "") </span>
                                                        }
                                                    </td>
                                                    <td style="width:10%" align="center" class="cart_check cartpagecheck">
                                                        @if (Item.Plan_IsAutoRenew == true && Item.ItemTypeID == 1)
                                                        {
                                                            <input type="checkbox" onchange="DeleteAutoRenewItemFS(@Item.CartItemID)" id="AddorCancelFamilyStyle_@Item.CartItemID" value="@Item.CartItemID" checked="checked" />
                                                        }
                                                        else if (Item.Plan_IsAutoRenew == false && Item.ItemTypeID == 1)
                                                        {
                                                            <input type="checkbox" onchange="DeleteAutoRenewItemFS(@Item.CartItemID)" id="AddorCancelFamilyStyle_@Item.CartItemID" value="@Item.CartItemID" />
                                                        }
                                                    </td>
                                                    <td style="width:10%" align="center" class="cart_check">
                                                        @if (Item.Plan_IsAutoRenew == true && Item.Plan_PlanID != null)
                                                        {
                                                            <input type="checkbox" onchange="DeleteAutoRenewItem(@Item.CartItemID)" id="AddorCancelAutorenew" value="@Item.CartItemID" checked="checked" />
                                                            @*<a onclick="DeleteAutoRenewItem(@Item.CartItemID)" id="" href="javascript:void(0)" style="color:Red;font-weight:bold;text-decoration: none;border:1px solid #ddd;padding:6px"><i class="fa fa-times" aria-hidden="true"></i></a>*@
                                                        }
                                                        else if (Item.Plan_IsAutoRenew == false && Item.Plan_PlanID != null)
                                                        {
                                                            <input type="checkbox" onchange="DeleteAutoRenewItem(@Item.CartItemID)" id="AddorCancelAutorenew" value="@Item.CartItemID" />
                                                            @*<a onclick="DeleteAutoRenewItem(@Item.CartItemID)" id="" href="javascript:void(0)" style="color:Red;font-weight:bold;text-decoration: none;border:1px solid #ddd;padding:6px"><i class="fa fa-times" aria-hidden="true"></i></a>*@
                                                        }
                                                    </td>

                                                    <td style="display:none">

                                                        @if (Model.parentProfile != null)
                                                        {
                                                           if (@Item.UserProfile.ProfileName != Model.parentProfile.ProfileName)
                                                            {
                                                                <span class="spanOrderMinimumdata" style="display:none">@profCart.OrderMinimum-@Item.UserProfile.ProfileName-@Item.mockTotalPrice-@Item.Quantity-@profCart.PostalCode-@profCart.SubDiscountAmount</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="spanMainOrderMinimumdata" style="display:none">@profCart.OrderMinimum-@Item.UserProfile.ProfileName-@Item.mockTotalPrice-@Item.Quantity-@profCart.PostalCode-@profCart.SubDiscountAmount</span>
                                                            }
                                                        }


                                                    </td>

                                                    <td style="width:10%;" align="center">
                                                        <input name="" class="list_checkpage" type="number" value=@Item.Quantity min="1" max="99" maxlength="3" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)" onchange="UpdateCartItemQuantity(@Item.CartItemID,this)" onkeypress="" id="CartItemQuantity_@Item.CartItemID" title="Update quantity" style="width:35px;text-align:center;">
                                                        <span id="" style="color:Red;display:none;"></span>
                                                        <span id="" style="color:Red;display:none;"></span>
                                                        <a onclick="DeleteCartItem(@Item.CartItemID)" id="" title="Remove item from cart" href="javascript:void(0)" style="color:Red;font-weight:bold;text-decoration: none;"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                    </td>
                                                    <td style="font-size: 14px;width:10%">
                                                        @Item.mockSingleItemPrice.ToString("c")
                                                    </td>
                                                    <td style="font-size: 14px;width:10%">
                                                        @Item.mockTotalPrice.ToString("c")
                                                    </td>
                                                </tr>
                                                @*IsCartPrinted= false;
                                                    }*@
                                            }
                                            @*</tbody>
                                                </table>*@
                                            if (Model.UserProfileString.Contains(','))
                                            {
                                                @*<table style="width: 100%; border-top: 1px solid black; padding: 0px; margin: 0px;">*@
                                                <tr>
                                                    <td colspan="6" align="right" class="align_ment_mble align_mble" style="padding: 5px;font-weight: bold;">
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="2">&nbsp;</td>
                                                                    <td style="text-align: right; font-size: 12px;font-weight: bold;">
                                                                        Profile Sub-Total:
                                                                    </td>
                                                                    <td style="text-align: right; font-size: 12px;">
                                                                        <span id="">@profCart.MockProfileSubTotal.ToString("c")</span>
                                                                    </td>
                                                                </tr>
                                                        </table>
                                                    </td>

                                                </tr>
                                                @*</table>*@
                                            }

                                        }

                                        @*</td>
                                            </tr>*@
                                    </tbody>
                                </table>


                                <table class="table-responsive gridviewbill" style="width: 100%; padding: 0px; margin: 0px;">
                                    <tbody>

                                        <tr>
                                            <td style="vertical-align: bottom;">
                                                <div id="">
                                                    @*style="display:none">*@
                                                    @if (Model.isUserLoggedIn)
                                                    {
                                                        if (Model.CurrentCardInfo != null || Model.CurrentCardInfo == null)
                                                        {
                                                            <span style="padding-right: 15px;">
                                                                Shipping Address:&nbsp;
                                                                <a href="/my-profile.aspx/3" id="" class="form-show">[&nbsp;Edit&nbsp;]</a>
                                                                <br>
                                                                <span id="">@Html.Raw(Model.BillingAddress)</span>
                                                            </span>

                                                            <div>
                                                                Billing Information:&nbsp;
                                                                <a href="/my-profile.aspx/3" id="" class="form-show">[&nbsp;Edit&nbsp;]</a>


                                                                <div class="fieldRow">
                                                                    <div class="fieldCol">
                                                                        Name on Card:<span id="">@Model.CurrentCardInfo.NameOnCard</span>
                                                                    </div>
                                                                </div>
                                                                <div class="fieldRow">
                                                                    <div class="fieldCol">
                                                                        Card Number:
                                                                        <span id="">@Model.CurrentCardInfo.CardNumber</span>
                                                                    </div>
                                                                </div>
                                                                <div class="fieldRow">
                                                                    <div class="fieldCol">
                                                                        Card Type:
                                                                        <span id="">@Model.CurrentCardInfo.CardType</span>
                                                                    </div>
                                                                </div>
                                                                <div class="fieldRow">
                                                                    <div class="fieldCol">
                                                                        Expires:
                                                                        <span id="">@Model.CurrentCardInfo.Expires</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </td>
                                            <td class="align_ment_mble bgcolor1" align="right">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2">
                                                                <div class="col-1 divAddCouponCode" style="float:right">
                                                                    <!-- Coupon Information-->
                                                                    <div id="" class="m-5">
                                                                        @if (!Model.isUserLoggedIn)
                                                                        {

                                                                            <input type="submit" name="" class="textcouponcode" value="Apply Coupon Code" id="" disabled onclick="ApplyCouponCode();">
                                                                            <input name="" type="text" maxlength="20" placeholder="Log in to " style="text-align:right" id="CouponCodeText" disabled>
                                                                            <span id="" style="color:Red;font-size:10px;"></span>
                                                                        }
                                                                        else
                                                                        {
                                                                            if (Model.ActiveCoupon == null)
                                                                            {

                                                                                <input type="submit" name="" class="textcouponcode" value="Apply Coupon Code" id="" onclick="ApplyCouponCode();">
                                                                                <input name="" type="text" maxlength="20" id="CouponCodeText">
                                                                                <span id="" style="color:Red;font-size:10px;"></span>
                                                                            }

                                                                        }

                                                                    </div>

                                                                    @if (Model.ActiveCoupon != null)
                                                                    {
                                                                        <div id="" class="m-2">
                                                                            <input type="text" name="" class="textcouponcode" value="@Html.Raw(Model.ActiveCoupon.RedeemCode)" id="DefaultCouponCodeText" onchange="DefaultApplyCouponCode();" style="width: 40%;float: left;margin: 4px 4px 4px 0px;background: #fff;border: 1px solid #bdb3b3;">
                                                                            @*<a href="" onclick="RemoveCoupon()" style="display:inline-block;margin-top:6px;font-weight:bold;"><i class="fa fa-trash-o" aria-hidden="true" style="color:red;"></i></a>*@

                                                                        </div>
                                                                        <div style="padding-top:6px;">
                                                                            <span id="" style="color:#333;font-size:12px;margin-left: 5px;">Coupon Applied</span>@*@Html.Raw(Model.ActiveCoupon.ToString(false))*@
                                                                        </div>
                                                                    }
                                                                    <div class="clearfix"></div>
                                                                    <div id="" class="m-2">
                                                                        @if (!Model.isUserLoggedIn)
                                                                        {
                                                                            <input name="" type="text" maxlength="10" placeholder="Log in to " style="text-align:right" id="RedeemedGiftText" disabled>
                                                                            <input type="submit" name="" value="Redeem Gift Certificate" id="" disabled class="textcouponcode" onclick="AddRedeemedGift();">
                                                                            <span id="" style="color:Red;font-size:10px;"></span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <input name="" type="text" maxlength="10" id="RedeemedGiftText">
                                                                            <input type="submit" name="" value="Redeem Gift Certificate" id="" class="textcouponcode" onclick="AddRedeemedGift();">
                                                                            <span id="" style="color:Red;font-size:10px;"></span>
                                                                        }

                                                                    </div>

                                                                </div>
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <tr id="">
                                                            <td>
                                                                Original Price:
                                                            </td>
                                                            <td>

                                                                @if (Model.profCart.Count > 0)
                                                                {
                                                                    <span id="lbloriginalprice">@Model.SubTotal</span>
                                                                }
                                                                else
                                                                {
                                                                    <span id="lbloriginalprice">@decimal.Zero.ToString("c")</span>
                                                                }

                                                            </td>
                                                        </tr>

                                                        <tr id="lblDiscount">
                                                            <td>
                                                                Discount:

                                                            </td>
                                                            <td style="vertical-align:top">
                                                                @if (Model.Discount == "$0.00")
                                                                {
                                                                    <span id="spanDiscount" style="color:black;">@Model.Discount</span>
                                                                }
                                                                else
                                                                {
                                                                    <span id="spanDiscount" style="color:red;"> - @Model.Discount</span>
                                                                }
                                                            </td>
                                                        </tr>

                                                        <tr id="lblDiscount">
                                                            <td>
                                                                <b>  Product Total:</b>
                                                            </td>
                                                            <td style="vertical-align:top">
                                                                @if (Model.profCart.Count > 0)
                                                                {
                                                                    <b>
                                                                        <span id="lblsubtotal">@Model.mockSubTotal</span>
                                                                    </b>
                                                                }
                                                                else
                                                                {
                                                                    <b>
                                                                        <span id="lblsubtotal">@decimal.Zero.ToString("c")</span>
                                                                    </b>
                                                                }
                                                            </td>
                                                        </tr>

                                                        <tr id="" class="calcship">
                                                            <td>
                                                                @*Shipping:*@
                                                                <span id="CalcShipping">Shipping:</span>
                                                                @if (Model.parentProfile != null)
                                                                {
                                                                    if (Model.parentProfile.ShippingAddressID.HasValue)
                                                                    {
                                                                        @*<span id="ShippingDeliveryType">@Model.ShippingDeliveryType.ToString()</span>*@
                                                                    }
                                                                }
                                                                else
                                                                {

                                                                    <input name="CalZipCode" type="text" id="txtCalZipCode" style="width: 78px;" onkeypress="return isNumeric(event)" maxlength=5>
                                                                    <input type="button" name="SearchZipCode" value="Calculate" id="btnSearchZipCode" onclick="CalculateShipping();" style="margin-top:0px !important;margin-left:5px;">
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (Model.profCart.Count > 0)
                                                                {
                                                                    if (Model.ShippingAmount != "$0.00")
                                                                    {
                                                                        <span id="ShippingAmount">@Model.ShippingAmount</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span id="ShippingAmount">$0.00</span>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <span id="" style="display:none;">@decimal.Zero.ToString("c")</span>
                                                                }

                                                            </td>

                                                        </tr>
                                                        <tr id="">
                                                            <td>
                                                                Sales Tax:
                                                            </td>
                                                            <td>
                                                                @if (Model.profCart.Count > 0)
                                                                {
                                                                    <span id="">@Model.Tax</span>
                                                                }
                                                                else
                                                                {
                                                                    <span id="">@decimal.Zero.ToString("c")</span>
                                                                }

                                                            </td>

                                                        </tr>
                                                        <tr id="">
                                                            @*class="bgcolor">*@
                                                            <td>
                                                                Total:
                                                            </td>
                                                            <td>
                                                                @if (Model.profCart.Count > 0)
                                                                {
                                                                    <span id="GrandTotal">@Model.GrandTotal</span>
                                                                }
                                                                else
                                                                {
                                                                    <span id="">@decimal.Zero.ToString("c")</span>
                                                                }

                                                            </td>
                                                        </tr>
                                                        <tr id="" class="bgcolor">
                                                            <td>
                                                                Account Balance:
                                                            </td>
                                                            <td>
                                                                @if (Model.parentProfile != null)
                                                                {
                                                                    <span id="AcctBalance">@Model.AcctBalance</span>
                                                                }
                                                                else
                                                                {
                                                                    <span id="">@decimal.Zero.ToString("c")</span>
                                                                }
                                                            </td>
                                                        </tr>

                                                        <tr id="" class="bgcolor" style="display:none;">
                                                            <td>
                                                                Order Minimum:
                                                            </td>
                                                            <td>



                                                                <span id="spanOrderMinimum">@Model.MainProfileOrderMinimum </span>

                                                            </td>
                                                        </tr>

                                                        <tr id="" style="display:none;">
                                                            @*class="bgcolor">*@
                                                            <td>
                                                                Payment Amount:
                                                            </td>
                                                            <td>
                                                                @if (Model.profCart.Count > 0)
                                                                {

                                                                    <span id="PaymentDueAmt">@Model.PaymentDue</span>
                                                                }
                                                                else
                                                                {
                                                                    <span id="">@decimal.Zero.ToString("c")</span>
                                                                }

                                                            </td>
                                                        </tr>
                                                        @*@if (Model.ActiveCoupon != null)
                                                            {*@


                                                        <tr id="lblDiscountedSubTotal" style="display:none;">
                                                            <td>
                                                                Discounted Sub-Total:
                                                            </td>
                                                            <td>

                                                                @if (Model.profCart.Count > 0)
                                                                {
                                                                    <span id="lblsubtotal">@Model.SubTotalAdj </span>
                                                                }
                                                                else
                                                                {
                                                                    <span id="lblsubtotal">@decimal.Zero.ToString("c")</span>
                                                                }

                                                            </td>
                                                        </tr>
                                                        @*}*@


                                                        <tr id="" style="display:none;">
                                                            <td>
                                                                Remaining Acct. Balance:
                                                            </td>
                                                            <td>
                                                                @if (Model.parentProfile != null)
                                                                {
                                                                    @*var RemainingAcctountBalance = Model.parentProfile.AccountBalance - Model.creditAppliedToBalance;
                                                                        <span id="">@RemainingAcctountBalance.ToString("c")</span>*@
                                                                    <span id="">@Model.RemainAcctBalance </span>
                                                                }
                                                                else
                                                                {
                                                                    <span id="">@decimal.Zero.ToString("c")</span>
                                                                }
                                                            </td>
                                                        </tr>

                                                        <tr id="" style="display:none;">
                                                            <td>
                                                                Profile Tax Sub-Total:
                                                            </td>
                                                            <td>
                                                                @*<span id="">@currentcart.SubTax.ToString("c")</span>*@
                                                                <span id="">0</span>
                                                            </td>
                                                        </tr>

                                                        <tr id="" style="display:none;">
                                                            <td>
                                                                *DEV - Actual Profile Shipping Sub-Total:
                                                            </td>
                                                            <td>
                                                                @*<span id="">@currentcart.SubShippingActual</span>*@
                                                                <span id="">0</span>
                                                            </td>
                                                        </tr>

                                                        <tr id="" style="display:none;">
                                                            <td>
                                                                Profile Shipping Sub-Total:
                                                            </td>
                                                            <td>
                                                                @*<span id="">@currentcart.SubShipping.ToString("c")</span>*@
                                                                <span id="">0</span>
                                                            </td>
                                                        </tr>

                                                        <tr id="" style="display:none;">
                                                            <td>
                                                                Profile Total:
                                                            </td>
                                                            <td>
                                                                @*@{var _profileTotal = currentcart.SubTotalAdj + currentcart.SubTax + currentcart.SubShipping;}*@

                                                                @*@{var _profileTotal = 0}
                                                                    <span id="">@_profileTotal.ToString("c")</span>*@
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="align_ment_mble">
                                                <div class="col-1 divAddCouponCode" style="float:right;display:none;">
                                                    <!-- Coupon Information-->
                                                    <div id="" class="m-5">
                                                        @if (!Model.isUserLoggedIn)
                                                        {

                                                            <input type="submit" name="" value="Apply Coupon Code" id="" disabled onclick="ApplyCouponCode();">
                                                            <input name="" type="text" maxlength="20" placeholder="Log in to " style="text-align:right" id="CouponCodeText" disabled>
                                                            <span id="" style="color:Red;font-size:10px;"></span>
                                                        }
                                                        else
                                                        {
                                                            if (Model.ActiveCoupon == null)
                                                            {

                                                                <input type="submit" name="" value="Apply Coupon Code" id="" onclick="ApplyCouponCode();">
                                                                <input name="" type="text" maxlength="20" id="CouponCodeText">
                                                                <span id="" style="color:Red;font-size:10px;"></span>
                                                            }

                                                        }

                                                    </div>
                                                    @if (Model.ActiveCoupon != null)
                                                    {
                                                        <div id="" class="m-2">
                                                            <span id="" style="color:Red;font-size:10px;">@Html.Raw(Model.ActiveCoupon.ToString(false))</span>
                                                            <a href="" onclick="RemoveCoupon()"></a>
                                                        </div>
                                                    }

                                                    <div id="" class="m-2">
                                                        @if (!Model.isUserLoggedIn)
                                                        {
                                                            <input name="" type="text" maxlength="10" placeholder="Log in to " style="text-align:right" id="RedeemedGiftText" disabled>
                                                            <input type="submit" name="" value="Redeem Gift Certificate" id="" disabled class="" onclick="AddRedeemedGift();">
                                                            <span id="" style="color:Red;font-size:10px;"></span>
                                                        }
                                                        else
                                                        {
                                                            <input name="" type="text" maxlength="10" id="RedeemedGiftText">
                                                            <input type="submit" name="" value="Redeem Gift Certificate" id="" class="" onclick="AddRedeemedGift();">
                                                            <span id="" style="color:Red;font-size:10px;"></span>
                                                        }

                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align_ment_mble">
                                                <div class="col-1" style="float:right;display:none;">

                                                    @if (Model.isUserLoggedIn)
                                                    {
                                                        if (Model.parentProfile != null)
                                                        {
                                                            if (Model.parentProfile.ShippingAddressID.HasValue)
                                                            {
                                                                <span id="ShippingDeliveryType">@Model.ShippingDeliveryType.ToString()</span>
                                                            }
                                                        }

                                                    }
                                                    else
                                                    {
                                                        <div id="CalculateShipping">
                                                            <span id="CalcShipping">Calculate Shipping :</span>
                                                            <input name="CalZipCode" type="text" id="txtCalZipCode" style="width: 120px;" onkeypress="return isNumeric(event)" maxlength=5>
                                                            <input type="button" name="SearchZipCode" value="Calculate" id="btnSearchZipCode" onclick="CalculateShipping();">
                                                            <span id="zipcode" style="color:red;width: 100%;display: block;padding-left:101px;"></span>
                                                            <select name="Calczipcode" id="ddlCalczipcode" style="display:none;"></select>

                                                            <span style="display:none;"><input id="chkIsPickup" type="checkbox" name="IsPickup"></span>
                                                            <span id="lblIsPickup" style="display:none;">IsPickup</span>
                                                        </div>
                                                        <div id="" class="shippingMethod">
                                                            <span id="" style="display:none;">Shipping Method-1 :</span>
                                                            <table id="" border="0" style="display:none;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td><input id="" type="checkbox" name="ctl00$body$ctl00$CartDisplay1$chkShippingMethod$0"><label for="ctl00_body_ctl00_CartDisplay1_chkShippingMethod_0">Fresh Delivery :Fed Ex Overnight</label></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><input id="" type="checkbox" name="ctl00$body$ctl00$CartDisplay1$chkShippingMethod$1"><label for="ctl00_body_ctl00_CartDisplay1_chkShippingMethod_1">Pickup</label></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div style="text-align:center">
                                                                <span id="ShippingDeliveryType" style="text-align:center"></span>
                                                            </div>
                                                        </div>
                                                    }

                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>


                                @if (Model.profCart.Count == 0)
                                {
                                    <div class="col-1 right">
                                        <ul class="cart-list">
                                            <li>
                                                <span class="spanlabel">Sub-Total:</span>
                                                <span id="lblSubTotal" class="label">$0.00</span>
                                            </li>
                                            <li>

                                            </li>
                                            <li>

                                            </li>
                                            <li>
                                                <div>
                                                    <span class="spanlabel">Tax:</span>
                                                    <span id="lblTax" class="label">$0.00</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div id="Shipping">
                                                    <span class="spanlabel">Shipping:</span>
                                                    <span id="lblShipping" class="label" style="display:none;">$0.00</span>
                                                </div>
                                            </li>
                                        </ul>
                                        <div>
                                            <span class="spanlabel">Total:</span>
                                            <span id="lblGrandTotal" class="label">$0.00</span>
                                        </div>
                                        <ul class="cart-list">
                                            <li>
                                                <div id="AcctBalance">
                                                    <span class="spanlabel">Account Balance:</span>
                                                    <span id="lblAcctBalance" class="label">$0.00</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div id="PaymentDue">
                                                    <span class="spanlabel">Payment Amount:</span>
                                                    <span id="lblPaymentDue" class="label">$0.00</span>
                                                </div>
                                            </li>
                                        </ul>
                                        <div id="RemainAcctBalance">
                                            <span class="spanlabel">Remaining Acct. Balance:</span>
                                            <span id="lblRemainAcctBalance" class="label">$0.00</span>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="cotinue-shopping-button">
                            @*<input type="submit" name="ctl00$body$ctl00$CartDisplay1$btnContinue" value="Continue Shopping" id="ctl00_body_ctl00_CartDisplay1_btnContinue" class="pixels-button-double pixels-button-double-orange">
                                &nbsp;
                                <input type="submit" name="ctl00$body$ctl00$CartDisplay1$btnClearCart" value="Empty Cart" id="ctl00_body_ctl00_CartDisplay1_btnClearCart" class="pixels-button pixels-button-solid-grey">
                                &nbsp;
                                <input type="submit" name="ctl00$body$ctl00$CartDisplay1$btnCheckOut" value="Check Out" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$body$ctl00$CartDisplay1$btnCheckOut&quot;, &quot;&quot;, true, &quot;CheckoutGroup&quot;, &quot;&quot;, false, false))" id="ctl00_body_ctl00_CartDisplay1_btnCheckOut" class="pixels-button pixels-button-solid-green">*@
                            @*@if (Model.IsExpiredOrder)
                                {
                                    <a href="@Url.Action("CartCheckout", "Cart")" class="btn btn-orange" style="float:right;margin:0px 5px;text-transform:capitalize;display:none;">Continue</a>
                                    <a href="@Url.Action("Details", "Content", new { Id = 7 })" class="btn btn-default" style="float:right;margin:0px 5px;display:none;">Keep Shopping</a>
                                }
                                else
                                {*@

                            @if (Model.lblFeedbackCart != null && (Model.lblFeedbackCart.Contains("Tax Lookup could not determine the tax rate for this zip code:")))
                            {

                            }
                            else
                            {
                                if (HttpContext.Current.User.Identity.IsAuthenticated)
                                {
                                    <a onclick="BtnCheckoutPage()" class="btn btn-orange" id="MybtnModalPreventScript" style="float:right;margin:0px 5px;text-transform:capitalize">Continue</a>
                                }
                                else
                                {
                                    <a onclick="window.location.href='/login.aspx?ReturnUrl=/cart.aspx'" class="btn btn-orange" style="float:right;margin:0px 5px;text-transform:capitalize">Continue</a>
                                }
                            }
                            <a href="/browse-menu.aspx" class="btn btn-default" style="float:right;margin:0px 5px">Keep Shopping</a>
                            @*}*@
                            <a href="@Url.Action("ClearCart","Cart")" class="btn btn-default" style="float:right;margin:0px 5px">Empty Cart</a>


                            <div id="" style="text-align: right;">
                                <div id="" style="color:Red;display:none;">

                                </div>
                            </div>
                            <br>
                            <span id=""></span>
                        </div>
                    }
                    else
                    {
                        <a href="/order-now.aspx" class="btn btn-default" style="float:right;margin:0px 5px">Keep Shopping</a>
                    }
                }
            </div>
            <div id="snackbar1" style="display:none">Cart Item Deleted Successfully</div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div id="familystylepopup" class="modal fade" role="dialog" style="display:none">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>*@
            <div class="modal-body">
                <input type="hidden" id="hdnfamilystyle" value="" />
                <span>Family Style requires at least 2 servings.</span><br />
                <span style="padding: 5px;"><b>Increase to 2?</b></span>
                <a id="increaseItemQuantity" onclick="increaseItemQuantityFS(true)"><b>Yes</b></a>
                <a id="increaseItemQuantityNo" onclick="increaseItemQuantityFS(false)"><b>No</b></a>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>

    </div>
</div>

<div id="MymodalPreventScript" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left:0px !important;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:none !important;">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" id="divOrderMinimumText" style="font-size:18px">
                <div id="divOrderMinimumText1"></div>
                <br />
                <div id="divOrderMinimumText2"></div>
            </div>
            <div class="modal-footer" style="border-top:none !important;">
                <a type="button" class="btn btn-default" href="/browse-menu.aspx">Continue Shopping</a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    //$(document).ready(function () {
    //    $("#divLoader").css('display', 'block');
    //    $('body').css("opacity", '0.5');
    //    setTimeout(function () {
    //        $('#divLoader').fadeOut();
    //        $('body').css("opacity", '1');
    //    }, 2000);
    //});

    @*function getrequiredamount() {

       debugger;


        $.ajax({
            type: "get",
            url: '@Url.Action("requiredAmountOrderMinimum", "Cart")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                debugger;
                $("#Content").text(response.d);
            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }*@

    function BtnCheckoutPage()
    {
       // debugger;
        var MainProfileOrderMinimum = parseFloat($("#spanOrderMinimum").text());
        var ProductTotal = parseFloat($("#lblsubtotal").text().replace("$", "").replace(",", ""));
        var DiscountAmount = parseFloat($("#spanDiscount").text().replace("$", "").replace("-", ""));
        var TotalDeduction = ProductTotal;
        var DistinctProfiles = [];

        $(".spanOrderMinimumdata").each(function () {
           // debugger;
            if ((DistinctProfiles.indexOf($(this).text().split('-')[1]))==-1) {
                DistinctProfiles.push($(this).text().split('-')[1]);
            }

        });
        var message1 = "";
        var title = "Order Minimum";
        var MainOrderMinimum = 0;
        var MainTotalAmount = 0;
        var MainSubDsicount = 0;
        $(".spanMainOrderMinimumdata").each(function () {
            debugger;

            MainOrderMinimum = $(this).text().split('-')[0];
            var amount = $(this).text().split('-')[2];
            MainSubDsicount = $(this).text().split('-')[5];
            MainTotalAmount = (MainTotalAmount + parseFloat(amount));
            
        });
        MainTotalAmount = MainTotalAmount-parseFloat(MainSubDsicount);
        if (MainOrderMinimum > MainTotalAmount) {

            message1 += " Your Product Total for <b> Main</b> profile is less than the $ " + MainOrderMinimum + " minimum required to ship your product. Please add  " + (MainOrderMinimum - MainTotalAmount).toFixed(2) + " more to complete your order.";
            message1 += "<br/><br/>";
        }
      
        
        $(DistinctProfiles).each(function (index, value) {
            var OrderMinimum = 0;
            var TotalAmount = 0;
            var NoOfProfiles = DistinctProfiles.length;

            $(".spanOrderMinimumdata").each(function () {
                debugger;
                if (value == $(this).text().split('-')[1]) {
                    OrderMinimum = $(this).text().split('-')[0];
                    var amount = $(this).text().split('-')[2];
                    var SubDsicount = $(this).text().split('-')[5];
                    TotalAmount = (TotalAmount + parseFloat(amount))- parseFloat(SubDsicount);

                }


            });
            if (OrderMinimum > TotalAmount) {
                message1 += " Your Product Total for sub profile  <b> " + value + "</b> is less than the $" + OrderMinimum + " minimum required to ship your product. Please add " + (OrderMinimum - TotalAmount).toFixed(2) + " more to complete your order.";
                message1 += "<br/><br/>";
            }
           
           
        });


        $("#divOrderMinimumText1").html(message1);
        if (message1 !== "") {
            $("#MyPopup .modal-title").html(title);
            $("#MyPopup").modal("show");

            $('#MymodalPreventScript').modal({
                backdrop: 'static',
                keyboard: false
            });
            return false;
        }
       

        $("#divLoader").css('display', '');
        $('body').css("opacity", '0.9');
        window.location.href = '@Url.Action("CartCheckout", "Cart")';
        $('body').css("opacity", '1');
        $("#divLoader").css('display', 'none');
    }
    function UpdateCartItemQuantity(cartItemId, txtQuantityObj) {
        var newQty = $(txtQuantityObj).val();
        $.ajax({
            type: "POST",
            /**/
            url: '@Url.Action("UpdateCartItemQuantity", "Cart")',
    /**/
    data: '{cartItemId: "' + cartItemId + '",newQty: "' + newQty + '"}',
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: function (res) {

        if (res.Success === true) {

            /**/
            window.location.href = '@Url.Action("Index", "Cart")';
        }
},
failure: function (response) {
alert(response.d);
}
});
    }
    function UpdateCartItemQuantityFS(cartItemId, newQty) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateCartItemQuantity", "Cart")',
    data: '{cartItemId: "' + cartItemId + '",newQty: "' + newQty + '"}',
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: function (res) {
        if (res.Success === true) {
            document.getElementById("CartItemQuantity_" + cartItemId).value = 2;
            DeleteAutoRenewItemFS(cartItemId);
        }
},
failure: function (response) {
alert(response.d);
}
});
}


    function DeleteCartItem(cartItemId) {


        var _confirm = confirm('Are you sure that you want to remove this item from the cart?');
        var x = document.getElementById("snackbar1");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 1000);
        if (_confirm === false) {
            x.className = "hide";
            return _confirm;
        }
        else {
            $('#cartItem_' + cartItemId).remove();
            $.ajax({
                type: "POST",
                /**/
                url: '@Url.Action("DeleteCartItem", "Cart")',
                /**/
                data: '{cartItemId: "' + cartItemId + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {


                    //$('#cartItem_' + cartItemId).remove();
                    if (res.Success === true)
                    {

                        /**/

                        window.location.href = '@Url.Action("Index", "Cart")';

                        /**/
                    }
                    $('#snackbar1').show();
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
    }
    function DeleteAutoRenewItemFS(cartItemId) {
        var quantity = document.getElementById("CartItemQuantity_" + cartItemId).value;
        if (quantity == 1) {
            document.getElementById("hdnfamilystyle").value = cartItemId;
            $('#familystylepopup').modal();
        }
        else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteAutoRenewItem", "Cart")',
                data: '{cartItemId: "' + cartItemId + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    if (res.Success === true) {
                        window.location.href = '@Url.Action("Index", "Cart")';
                    }
                    else if (res.Success === false) {
                        alert(res.Message);
                        window.location.href = '@Url.Action("Index", "Cart")';
                    }
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        }
    }
    function DeleteAutoRenewItem(cartItemId)
    {
    //$('#AddorCancelAutorenew').change(function () {
    //$("input[type=checkbox]").click(function () {
        //var cartItemId = $("input:checked").val();
        //var _confirm = '';
        //if (this.checked)
        //{
        //    _confirm = confirm('Are you sure that you want to add this subscription?');
        //}
        //else
        //{
        //    _confirm = confirm('Are you sure that you want to remove this subscription?');
        //}
        //var x = document.getElementById("snackbar1");
        //x.className = "show";
        //setTimeout(function () { x.className = x.className.replace("show", ""); }, 1000);
        //if (_confirm === false) {
        //    return _confirm;
        //}
        //else {
        //$('#cartItem_' + cartItemId).remove();
            $.ajax({
                type: "POST",
                /**/
                url: '@Url.Action("DeleteAutoRenewItem", "Cart")',
                /**/
                data: '{cartItemId: "' + cartItemId + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {


                    //$('#cartItem_' + cartItemId).remove();
                    if (res.Success === true) {

                        /**/

                        window.location.href = '@Url.Action("Index", "Cart")';

                        /**/
                    }
                    else if (res.Success === false) {
                        alert(res.Message);
                        window.location.href = '@Url.Action("Index", "Cart")';
                    }
                    //$('#snackbar1').show();
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        //}
    };
    function increaseItemQuantityFS(isIncrease) {
        var cartItemId = document.getElementById("hdnfamilystyle").value;
        if (isIncrease) {
            UpdateCartItemQuantityFS(cartItemId, 2);

            $("#familystylepopup").modal("hide");
        }
        else {
            $("#familystylepopup").modal("hide");
            document.getElementById("AddorCancelFamilyStyle_" + cartItemId).checked = false;
        }
    }

function ApplyCouponCode() {

$("#divLoader").css('display', '');
var CouponCode = $('#CouponCodeText').val();
if (CouponCode === undefined || CouponCode === '') {
alert('please enter the promo code');
return false;
}
$.ajax({
type: "POST",
/**/
url: '@Url.Action("AddCouponCode", "Cart")',
/**/
data: '{CouponCode: "' + CouponCode + '"}',
//data: {
// CouponCode: CouponCode

//},
contentType: "application/json; charset=utf-8",
dataType: "json",
success: function (res) {

//alert(res);
$("#wrapper").html(res.responseText);
if (res.Message != "Coupon applied successfully") {
alert(res.Message);
}
if (res.Success === true) {
/**/
// window.location.href = '@Url.Action("Index", "Cart")';
/**/
}
$("#divLoader").css('display', 'none');
},
error: function (error) {

$("#wrapper").html(error.responseText);
$("#divLoader").css('display', 'none');
},
failure: function (response) {
alert(response.d);
$("#divLoader").css('display', 'none');
}
});
}

    function DefaultApplyCouponCode() {
        var CouponCode = $('#DefaultCouponCodeText').val();
if (CouponCode === undefined || CouponCode === '') {
alert('please enter the promo code');
return false;
}
$.ajax({
type: "POST",
/**/
url: '@Url.Action("AddCouponCode", "Cart")',
    /**/
    data: '{CouponCode: "' + CouponCode + '"}',
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: function (res) {
        alert(res.Message);
        if (res.Success === true) {
             /**/
              window.location.href = '@Url.Action("Index", "Cart")';
             /**/
}
},
failure: function (response) {
alert(response.d);
}
});
}



function RemoveCoupon() {

$.ajax({
type: "POST",
/**/
url: '@Url.Action("RemoveCouponCode", "Cart")',
    /**/
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: function (res) {
        alert(res.Message);
        if (res.Success === true) {
            /**/
            window.location.href = '@Url.Action("Index", "Cart")';
    /**/
}
},
failure: function (response) {
alert(response.d);
}
});
}


function AddRedeemedGift() {
var RedeemGiftCode = $('#RedeemedGiftText').val();
if (RedeemGiftCode === undefined || RedeemGiftCode === '') {
alert('please enter the gift code');
return false;
}
$.ajax({
type: "POST",
/**/
url: '@Url.Action("AddRedeemGift", "Cart")',
    /**/
    data: '{RedeemGiftCode: "' + RedeemGiftCode + '"}',
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: function (res) {
        alert(res.Message);
        if (res.Success === true) {
            /**/
            window.location.href = '@Url.Action("Index", "Cart")';
    /**/
}
},
failure: function (response) {
alert(response.d);
}
});
}

    function CalculateShipping()
    {
      var ZipCode = $('#txtCalZipCode').val();
    if (ZipCode === undefined || ZipCode === '')
    {
        $('#zipcode').text("Please Enter the ZipCode");
        return false;
    }
    if(ZipCode.length < 5)
    {
        $('#zipcode').text("The Zipcode should have 5 numbers.");
        return false;
    }
    else
    {
        $('#zipcode').text('');
    }

$.ajax({
type: "POST",

url: '@Url.Action("CalculateShipping", "Cart")',
    data: '{ZipCode: "' + ZipCode + '"}',
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: function (res) {
        $('#lblShipMenthod').show();
        $('#lblShipDelType').text(res.ShipDelType);
        $('#zipcode').text(res.Message);
        $('#ShippingDeliveryType').text(res.ShipDelType);

        if (res.Shipping != "") {
            $('#ShippingAmount').text(res.Shipping)

        }
        else {
            $('#ShippingAmount').text("$0.00")
        }

        if (res.GrandTotal != "") {
            $('#GrandTotal').text(res.GrandTotal)
        }
        else {
            $('#GrandTotal').text($('#lblsubtotal').text());
        }

        if (res.PaymentDue != "") {
            $('#PaymentDueAmt').text(res.PaymentDue)
        }
        else {
            $('#PaymentDueAmt').text($('#lblsubtotal').text());
        }

       // $('#ShippingAmount').text(res.Shipping);
       // $('#GrandTotal').text(res.GrandTotal);
       // $('#PaymentDue').text(res.PaymentDue)

},
    failure: function (response) {

alert(response.d);
}
});
    }


    function ShowShippingDetails()
    {

    }

</script>
<script>
    function maxLengthCheck(object) {
        if (object.value.length > object.maxLength)
            object.value = object.value.slice(0, object.maxLength)
    }
    $("input[type='number']").attr({
        "max": 99,
        "min": 1
    });
    function isNumeric(evt) {
        //var theEvent = evt || window.event;
        //var key = theEvent.keyCode || theEvent.which;
        //key = String.fromCharCode(key);
        //var regex = /1-9]|\./;
        //if (!regex.test(key)) {
        //    theEvent.returnValue = false;
        //    if (theEvent.preventDefault) theEvent.preventDefault();
        //}

        var charCode = (evt.which) ? evt.which : event.keyCode;
        if ((charCode == 46) || (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57)))
            return false;

        return true;

    }
</script>
@*<script>
    $(document).ready(function () {
        $('#MybtnModalPreventScript').click(function () {
            $('#MymodalPreventScript').modal({
                backdrop: 'static',
                keyboard: false
            });
        });
    });
</script>*@

<style>
    #snackbar1 {
        visibility: hidden;
        min-width: 250px;
        background-color: #276f22;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 5px 16px;
        position: fixed;
        z-index: 1;
        left: 0px;
        top: 0px;
        font-size: 17px;
        width: 100%;
    }

    .color-orange {
        color: #276f22;
    }

    .bgcolor {
        background: #10d5e033;
        padding: 10px;
        /*border: 1px solid #276f22;*/
    }

        .bgcolor table {
            width: 100%;
        }

            .bgcolor table td {
                padding: 5px;
            }

    #CouponCodeText, #RedeemedGiftText {
        width: 40%;
        float: left;
        margin-right: 4px;
    }

    .bgcolor1 td {
        padding: 10px 0px;
    }

    .bgcolor1 {
        float: right;
        width: 100%;
        margin-top: 20px;
    }

    #familystylepopup .modal-dialog {
        left: 0%;
        top: 13%;
        text-align: center;
        width: 400px;
        font-size: 18px;
        color: red;
    }

        #familystylepopup .modal-dialog a {
            color: red;
            text-decoration: underline;
            padding: 6px;
        }

    .redeemgift {
        width: 56%;
        float: left;
    }

    .btn-default, .btn-default:hover, .btn-default:focus {
        border-radius: 5px;
        color: #72bb3b !important;
        border: 1px solid #39aa35;
        text-transform: capitalize;
        padding: 5px 15px;
        background: #fff;
    }

    #snackbar1.show {
        visibility: visible;
        /*-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
                animation: fadein 0.5s, fadeout 0.5s 2.5s;*/
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }

    @@-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    @@keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }
</style>

