@model  HealthyChefCreationsMVC.CustomModels.ThankYouPageModel
@{
    ViewBag.Title = "Thank you for the purchase" + Model.UserName + "!";
    Layout = "~/Views/Shared/_LayoutNoColumns.cshtml";
    var merchantId = 114169608;
}

@*<h2 class="post-header" style="margin-top:20px">Thank you</h2>*@
<div class="container">
    <div id="printContainer">
        <h3 style="color:#39aa35;padding:20px 0px;margin-top:90px;">Your purchase is complete.  Thank you for your order!</h3>
        <asp:label id="lblCompleteDetail" runat="server"></asp:label>
        You may view your order at any time at <a href="www.healthychefcreations.com">www.healthychefcreations.com</a>  by logging in and clicking My Profile, My Orders.                                           <br />
        <br />
        An electronic receipt has been emailed to you.      <img src="//cdsusa.veinteractive.com/DataReceiverService.asmx/Pixel?journeycode=A08F77AF-E33F-46CC-A80B-924B9E1C4E4D" width="1" height="1" alt="" />                  <img id="track_id" src="https://shareasale.com/sale.cfm?amount=AMOUNTOFSALE&amp;tracking=TRACKINGNUMBER&amp;transtype=sale&amp;merchantID=" width="1" height="1" alt="" />  <iframe id="stage_id_iframe" src="https://stage39.go2cloud.org/aff_l?offer_id=84&amp;amount=AMOUNT" scrolling="no" frameborder="0" width="1" height="1"></iframe>
    </div>
</div>
<meta name="msvalidate.01" content="36EB1A194C116E88B600C9EB1A332622">
@*<meta name="google-site-verification" content="pEdaIoVNdrxoDXJowruYbab9hy2qMQxLxb2gJJKLaJE">*@
<meta name="google-site-verification" content="nxMDGgxTErPKXNuICvBxfQPXY4XdPqCUpPUpFSnGIgU" />
<script type="text/javascript">
        $(document).ready(function () {
            var purchaseNum = '@Model.PurchaseNumber';
            var totalAmount ='@Model.TotalAmount';
            var Isnewcustomer = '@Model.Isnewcustomer';
            document.getElementById("track_id").src = "https://shareasale.com/sale.cfm?amount=" + totalAmount + "&tracking=" + purchaseNum + "&newcustomer=" + Isnewcustomer + "&transtype=sale&merchantID=65905";
            document.getElementById("stage_id_iframe").src = "https://stage39.go2cloud.org/aff_l?offer_id=84&amount=" + totalAmount;
        });

</script>
<script>
        @Html.Raw(Model.GoogleTrackScript)
</script>

<script src="https://apis.google.com/js/platform.js?onload=renderOptIn"
        async defer>
</script>

<script>
    window.renderOptIn = function () {

        window.gapi.load('surveyoptin', function () {

            window.gapi.surveyoptin.render(
                {
                    "merchant_id": @merchantId,

                    "order_id": "@Model.PurchaseNumber",

                    "email": "@Model.Email",

                    "delivery_country": "@Model.Country",

                    "estimated_delivery_date": "@Model.DeliveryDate.ToString("yyyy-MM-dd")"
                });
        });
    }
</script>
<!-- END GCR Opt-in Module Code -->