@model  HealthyChefCreationsMVC.CustomModels.ProgramDetailsViewModel
@using HealthyChef.Common
@*Program plan menu start*@
<div class="col-title">This Week's Menus@*Example Menu Your selected plan menu*@</div>
<table id="plan-mealtypes" cellpadding="0" cellspacing="0" class="form-select-menu  col-height">
    <tbody id="defaultmenu" style="display:none;"><tr><td style="text-align: center;color:forestgreen;"><b>NO DEFAULT MENU</b></td></tr></tbody>
    <tbody id="planmenu">
        @if (Model.programdefaultmenudetails.Count > 0)
        {
            foreach (var defaultplan in Model.programdefaultmenudetails)
            {
                <tr class="hiderowmenu">

                    @if (defaultplan.MealTypeID == (int)Enums.MealTypes.BreakfastEntree)
                    {
                        @*<td style="width:80px">Day @defaultplan.DayNumber:</td>*@
                        <td class="">
                            <span class="meals_menu">Breakfast</span>

                            <br />
                            <img id="imageurl" class="img-responsive" src="@defaultplan.MenuItemImageUrl" />
                        </td>
                        <td class="menuitems">
                            <div class="menu_data">
                                <b>@defaultplan.MenuItemName</b><br />
                                                                <p> @defaultplan.Description</p>
                             
                                @*<b>Nutrition Info:</b><br />*@
                                                                <strong >
                                                                    <hr />
                                                                    <b>
                                                                        <span>@defaultplan.Calories</span>
                                                                    </b>
                                                                    <b>
                                                                        <span>@defaultplan.Fat<span></span></span>
                                                                    </b>

                                                                    <b> <span>@defaultplan.Carbohydrates<span></span></span></b>
                                                                    @*<b> <span>@defaultplan.DietaryFiber<span>g</span></span></b>*@
                                                                    <b>
                                                                        <span>@defaultplan.Protein<span></span></span>
                                                                    </b>
                                                                    <b>
                                                                        <span>@defaultplan.Sodium<span></span></span>
                                                                    </b>
                                                                    <hr />
                                                                </strong>
                                <br /><br />
                            </div>
                        </td>
                    }
                    @if (defaultplan.MealTypeID == (int)Enums.MealTypes.LunchEntree)
                    {
                        @*<td style="width:80px">Day @defaultplan.DayNumber:</td>*@
                        <td class="">
                            <span class="meals_menu">
                                Lunch</span>
                                <img id="imageurl" class="img-responsive" src="@defaultplan.MenuItemImageUrl" />
</td>
                        <td class="menuitems">
                            <div class="menu_data">
                                <b>@defaultplan.MenuItemName</b>
                                <br />
                                <p> @*<b>Description:</b>*@@defaultplan.Description</p>
                    
                                @*<b>Nutrition Info:</b><br />*@
                                
                                <strong >
                                    <hr />
                                    <b>
                                        <span>@defaultplan.Calories</span>
                                    </b>
                                    <b>
                                        <span>@defaultplan.Fat<span></span></span>
                                    </b>
                                    <b> <span>@defaultplan.Carbohydrates<span></span></span></b>
                                    @*<b> <span>@defaultplan.DietaryFiber<span>g</span></span></b>*@
                                    <b>
                                        <span>@defaultplan.Protein<span></span></span>
                                    </b>
                                    <b>
                                        <span>@defaultplan.Sodium<span></span></span>
                                    </b>
                                    <hr />
                                </strong>
                                <br /><br />
                                </div>
                        </td>
                    }
                    @if (defaultplan.MealTypeID == (int)Enums.MealTypes.DinnerEntree)
                    {
                        @*<td style="width:80px">Day @defaultplan.DayNumber:</td>*@
                        <td class="">
                            <span class="meals_menu">Dinner</span>
                            <br/>
                            <img id="imageurl" class="img-responsive" src="@defaultplan.MenuItemImageUrl" />
                        </td>
                        <td class="menuitems">
                            <div class="menu_data">
                                <b>@defaultplan.MenuItemName</b>
                                <br />
                                <p> @*<b>Description:</b>*@@defaultplan.Description</p>
                          
                                @*<b>Nutrition Info:</b><br />*@
                                
                                <strong >
                                    <hr />
                                    <b><span>@defaultplan.Calories</span></b>
                                    <b><span>@defaultplan.Fat<span></span></span></b>
                                    <b> <span>@defaultplan.Carbohydrates<span></span></span></b>
                                    @*<b> <span>@defaultplan.DietaryFiber<span>g</span></span></b>*@
                                    <b>
                                        <span>@defaultplan.Protein<span></span></span>
                                    </b>
                                    <b>
                                        <span>@defaultplan.Sodium<span></span></span>
                                    </b>
                                    <hr />
                                </strong>
                                <br /><br />
                                </div>
                        </td>
                    }
                    @if (defaultplan.MealTypeID == (int)Enums.MealTypes.ChildEntree)
                    {
                        @*<td style="width:80px">Day @defaultplan.DayNumber:</td>*@
                        <td class="">
                            <span class="meals_menu">Child</span>
                            <br/>
                            <img id="imageurl" class="img-responsive" src="@defaultplan.MenuItemImageUrl" />
                        </td>
                        <td class="menuitems">
                            <div class="menu_data">
                                <b>@defaultplan.MenuItemName</b>
                                <br />
                              <p> @*<b>Description:</b>*@@defaultplan.Description</p>
                         
                                @*<b>Nutrition Info:</b><br />*@
                                
                              <strong >
                                  <hr />
                                  <b><span>@defaultplan.Calories</span></b>
                                  <b><span>@defaultplan.Fat<span></span></span></b>
                                  <b> <span>@defaultplan.Carbohydrates<span></span></span></b>
                                  @*<b> <span>@defaultplan.DietaryFiber<span>g</span></span></b>*@
                                  <b>
                                      <span>@defaultplan.Protein<span></span></span>
                                  </b>
                                  <b>
                                      <span>@defaultplan.Sodium<span></span></span>
                                  </b>
                                  <hr />
                              </strong>
                                <br /><br />
                                </div>
                        </td>
                    }
                    @if (defaultplan.MealTypeID == (int)Enums.MealTypes.OtherEntree)
                    {
                        @*<td style="width:80px">Day @defaultplan.DayNumber:</td>*@
                        <td class="">
                            <span class="meals_menu">Other</span>
                            <br/>
                            <img id="imageurl" class="img-responsive" src="@defaultplan.MenuItemImageUrl" />
                        </td>
                        <td class="menuitems">
                            <div class="menu_data">
                                <b>@defaultplan.MenuItemName</b>
                                <br />
                                <p>  @*<b>Description:</b>*@@defaultplan.Description</p>
                  
                                @*<b>Nutrition Info:</b><br />*@
                                
                                <strong >
                                    <hr />
                                    <b><span>@defaultplan.Calories</span></b>
                                    <b><span>@defaultplan.Fat<span></span></span></b>
                                    <b> <span>@defaultplan.Carbohydrates<span></span></span></b>
                                    @*<b> <span>@defaultplan.DietaryFiber<span>g</span></span></b>*@
                                    <b>
                                        <span>@defaultplan.Protein<span></span></span>
                                    </b>
                                    <b>
                                        <span>@defaultplan.Sodium<span></span></span>
                                    </b>
                                    <hr />
                                </strong>
                              
                                <br /><br />
                                </div>
                        </td>
                    }
                </tr>
            }
        }
        else
        {
            <tr><td style="text-align: center;">No default menu</td></tr>
        }
    </tbody>
</table>
<button type="button" style="display:none" name="" id="btnaddtocart" onclick="window.location.href='/browse-menu.aspx'" class="btn btn-green">SEE THIS WEEK’S A LA CARTE MENUS</button><br />
@*Program plan menu end*@


