@using HealthyChefCreationsMVC.CustomModels;
@model  List<hccProgramDefaultMenuDetails>

@if (Model != null && Model.Count > 0)
{
    var count = 0;
    <div id='myCarousel-@ViewData["MealType"]' class="carousel slide menu-carousel" data-ride="carousel">
        <div id="defaultBreakFastMenu" class="carousel-inner carousel-content">
            <!-- Wrapper for slides -->
            @foreach (var defaultplan in Model)
            {
                var isActive = count == 0 ? "active" : "";
                <div class="menu_data item @isActive">
                    <table id="plan-mealtypes-@ViewData["MealType"]" cellpadding="5" cellspacing="1">
                        <tbody id="planmenu">
                            <tr>
                                <td colspan="2">
                                    <span class="meals_menu">@ViewData["MealType"]</span>
                                </td>
                            </tr>
                            <tr class="hiderowmenu">

                                @*<td style="width:80px">Day @defaultplan.DayNumber:</td>*@
                                <td class="">                                    
                                    <img id="imageurl" class="img-responsive" src="@defaultplan.MenuItemImageUrl" />
                                </td>
                                <td class="menuitems" style="text-align: justify;">

                                    <strong class="menuItemtitle">@defaultplan.MenuItemName</strong><br />
                                    <p> @defaultplan.Description</p>

                                    @*<b>Nutrition Info:</b><br />*@
                                    <br />
                                    <strong>
                                        <b>
                                            <span>@defaultplan.Calories</span>
                                        </b>
                                        <b>
                                            <span>@defaultplan.Fat<span></span></span>
                                        </b>

                                        <b> <span>@defaultplan.Carbohydrates<span></span></span></b>
                                        @*<b> <span>@defaultplan.DietaryFiber<span>g</span></span></b>*@
                                        <b>
                                            <span>@defaultplan.Protein<span></span></span>
                                        </b>
                                        <b>
                                            <span>@defaultplan.Sodium<span></span></span>
                                        </b>
                                    </strong>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                count++;
            }
        </div>
        <!-- Left and right controls -->
        <a class="carousel-left carousel-control left" href="#myCarousel-@ViewData["MealType"]" data-slide="prev">
            <span class="fa fa-chevron-left top45"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-right carousel-control right" style="margin-right:10px;" href="#myCarousel-@ViewData["MealType"]" data-slide="next">
            <span class="fa fa-chevron-right top45"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}
<script>
    $(document).ready(function () {
        $('.menu-carousel').carousel({
            pause: true,
            interval: false,
        });
    })
</script>