@model  HealthyChefCreationsMVC.CustomModels.ProgramDetailsViewModel
@using HealthyChef.Common
@{
    ViewBag.Title = Model.ProgramName;
    Layout = "~/Views/Shared/_LayoutNoColumns.cshtml";
}

<div class="full-page-header">
    @*<div class="alignleft">

        </div>
        <div class="info">

        </div>
        <div class="cl">&nbsp;</div>*@
</div>
<!-- Body Content -->

<link href="~/Content/popover.css" rel="stylesheet">

<script src="~/Scripts/jquery.popover-1.1.2.js"></script>

<style type="text/css">
    fieldset {
        margin: 0;
        /*padding: 1em;*/
        border: none;
    }

    .glyphicon-menu-left:before, .glyphicon-menu-right:before {
        font-size: medium;
    }

    #myCarousel .carousel-control:hover, #myCarousel .carousel-control:focus {
        color: #39aa35;
    }

    .fa-angle-left:before {
        content: "\f104";
    }

    .fa-angle-right:before {
        content: "\f105";
    }

    .menuitems strong {
        font-weight: bold;
        color: #276f22;
    }

    .carousel-control:hover, .carousel-control:focus {
        color: #39aa35;
        opacity: 1;
    }

    .menuitems hr {
        border-top: 1px solid #cccccc;
    }

    .form-control {
        border: 1px solid #276f22;
    }

    .menuitems b {
        padding-right: 5%;
    }

    .mealsincludetblform tr {
        width: 33.3%;
    }

    .meals_data {
        float: left;
        padding-left: 3%;
        width: 33.3%;
    }

    .bg-lime-light {
        background: #39aa35;
        color: #fff;
    }

    #plan-options, #myCarousel {
        border: 2px solid #39aa35;
        border-radius: 10px;
        display: block;
    }

    .section .description {
        width: 100%;
        float: left;
        display: inline;
        padding-left: 0px;
    }

    .menu_list {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

    #planmenu tr td:first-child {
        vertical-align: top;
        color: #276f22;
        font-weight: bold;
        text-transform: uppercase;
        width: 140px;
    }

    .menu_list li a {
        font-size: 14px;
        color: #333;
        font-weight: 600;
        text-decoration: underline;
    }

    .form-select-menu {
        margin: 13px 0px;
    }

    .itemlist > .item {
        display: inline-block;
        width: 20%;
        float: left;
        margin-top: 5%;
        text-align: center;
        /*height: 50px;*/
    }

    .content_field {
        margin-top: 5%;
        padding: 15px;
        border: 1px solid #ddd;
        display: inline-block;
        width: 100%;
        text-align: center;
        border-radius: 5px;
    }

    #btnYourpreferences:hover {
        background: #fff;
        color: #39aa35;
    }

    .text_format .col-md-12, .text_format .col-md-4 {
        padding: 0px;
    }

    .text_format {
        margin: 30px 0px;
    }

        .text_format .btn-green {
            border-radius: 0px;
            padding: 5px !important;
            width: 100%;
        }

            .text_format .btn-green:hover {
                color: #fff;
            }

    .orange {
        color: orange;
    }

    .popoverClass {
        height: 35px;
        width: 450px;
    }

    #plan-mealtypes tr td {
        padding: 0px 6px !important;
    }

    .left_col #plan-mealtypes {
        padding: 0px 6px !important;
        width: auto;
        float: left;
    }

    #plan-options tr td {
        padding: 0px 2px !important;
    }

    .col-title {
        color: grey;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        /*font-weight: normal;*/
        border: none;
        padding: 0px;
        display: inline-block;
        /*text-transform: uppercase;*/
    }

    .popover.bottom {
        font-size: 0 !important;
        line-height: 0;
        text-indent: 0px !important;
        left: -70% !important;
        width: 100% !important;
        background-image: none !important;
        position: relative !important;
        border: 1px;
    }

    .popover .arrow, .popover .top-arrow {
        position: absolute !important;
        top: 0 !important;
        left: 50% !important;
        margin: -10px 0 0 -3px !important;
        width: 0 !important;
        height: 0 !important;
        border-top: 4px solid transparent !important;
        border-left: 0px solid transparent !important;
        border-right: 0px solid transparent !important;
        border-bottom: 0px solid #121212 !important;
    }

    .popover.bottom .arrow:after {
        top: 1px;
        margin-left: 97px;
        border-bottom-color: #000;
        border-top-width: 0;
        content: " ";
    }

    a.btn-green:hover, a.btn-green:focus {
        color: #fff;
        text-decoration: none;
    }
</style>

@using (Html.BeginForm("AddProgramToCart", "Programs", FormMethod.Post))
{
    <div class="background_bg">
        <div class="container">
            <div class="top">&nbsp;</div>
            <div class="row">
                @*<h2 class="Mobile_details" style="color: #286f23;display:none">@Model.ProgramName</h2>*@
           
                <div class="left_col col-md-8">
                    <div class="middle health-chief-diet weightloss">
                        <h2>@Model.ProgramName</h2>
                        <div class="section">
                            <div class="col-md-4" style="padding: 0px;">
                                <img alt="@Model.Program.Name" src="@Model.Program.ImagePath" class="" width="100%">
                            </div>
                            <div class="col-md-8">
                                <div class="description">
                                    <div style="margin-bottom:10px; color: grey; font-size: 14px; line-height: 18px;text-align:justify">
                                        @Model.Program.Description
                                        <span id="dots" style="color:#fff">...</span>
                                        <span id="programFetures">
                                            @Html.Partial("~/Views/Programs/_showProgramFeatures.cshtml", Model)
                                        </span>
                                    </div>
                                    <a id="learnMore" class="btn btn-green" target="_blank" onclick="showOrHideProgramFetures()">LEARN MORE</a>
                                </div>
                            </div>
                            <div class="cl">&nbsp;</div>
                        </div>
                    </div>
                    <div id="examplemenu" class="exampleMeniWidthStyle">
                        @Html.Partial("~/Views/Programs/_ExampleDisplayMenu.cshtml", Model)
                        <br />
                    </div>
                </div>

                <div class="right_col col-md-4" style="padding:0px;margin-top:20px;">
                    <fieldset style="background:#f2f2f2;border: 2px solid #dcd7d7;padding: 0px;border-radius: 5px;">
                        <div class="col-height">
                            <table id="plan-types" cellpadding="0" cellspacing="0" class="form-select-menu" border="0">
                                <tbody>
                                    <tr><td class="col-title" align="center" colspan="2">@Model.ProgramName @*Plan Type*@</td></tr>
                                    <tr>
                                        <td align="center">
                                            <span class="weight_loss">Days Per Week</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <div id="myCarousel1" class="carousel" data-interval="false" style="width:25%">
                                                <div id="plantypeslider" class="carousel-inner" data-interval="false">
                                                    @foreach (var planType in Model.PlanTypes)
                                                    {
                                                        var isDefaultPlanType = planType.IsDefault ? "active" : "";
                                                        <div class="item @isDefaultPlanType" selected="@isDefaultPlanType"
                                                             id="plan-type-@planType.PlanID"
                                                             data-id="@planType.PlanID"
                                                             data-price="@planType.PricePerDay"
                                                             data-weeks="@planType.NumWeeks"
                                                             data-days-per-week="@planType.NumDaysPerWeek"
                                                             data-meals-per-day="@planType.MealsPerDay"
                                                             data-default="@isDefaultPlanType"
                                                             value="@planType.PlanID">
                                                            @planType.NumDaysPerWeek
                                                        </div>
                                                    }
                                                </div>

                                                <!-- Left and right controls -->
                                                <a class="left carousel-control" href="#myCarousel1" data-slide="prev" onclick="PriceCalculator('prev',@Model.programmealtypes.Count(),@Model.ProgramId)">
                                                    <span class="fa fa-minus"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="right carousel-control" href="#myCarousel1" data-slide="next" onclick="PriceCalculator('next',@Model.programmealtypes.Count(),@Model.ProgramId)">
                                                    <span class="fa fa-plus"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </td>


                                        @*<td style="display:none;"><div id="plantypecost">$59.99/day</div></td>*@
                                    </tr>
                                    <tr hidden="hidden" style="display:none;">
                                        <td class="left-box" valign="top">
                                            <select name="itemId" id="plantypeids">

                                                @foreach (var planType in Model.PlanTypes)
                                                {
                                                    var isDefaultPlanType = planType.IsDefault ? "true" : "false";
                                                    <option selected="@isDefaultPlanType"
                                                            id="plan-type-@planType.PlanID"
                                                            data-id="@planType.PlanID"
                                                            data-price="@planType.PricePerDay"
                                                            data-weeks="@planType.NumWeeks"
                                                            data-days-per-week="@planType.NumDaysPerWeek"
                                                            data-meals-per-day="@planType.MealsPerDay"
                                                            data-default="@isDefaultPlanType"
                                                            value="@planType.PlanID">
                                                        @planType.NumDaysPerWeek
                                                    </option>
                                                }
                                            </select>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            @*Program mealtype start*@
                            <div class="col-md-12 text-center meal_include">
                                <span class="col-title">Meals Included</span>
                                <table id="plan-mealtypes" cellpadding="0" cellspacing="0" class="form-select-menu plan_meals tdform mealsincludetblform" border="0" width="100%" style="margin:12px 0px">

                                    <tbody class="mealt_type">
                                        @if (Model.ProgramName.Contains("Living"))
                                        {

                                            //foreach (var planType in Model.programmealtypes)
                                            //{
                                            <tr>
                                                @if (Model.programmealtypes.Where(x => x.MealTypeID == (int)Enums.MealTypes.BreakfastEntree).FirstOrDefault() != null)
                                                {
                                                    <td>
                                                        <input type="checkbox" class="mealtype" name="mealType" value="1" checked><span>Breakfast</span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <input type="checkbox" class="mealtype" name="mealType" value="1"><span>Breakfast </span>
                                                    </td>
                                                }

                                                @if (Model.programmealtypes.Where(x => x.MealTypeID == (int)Enums.MealTypes.LunchEntree).FirstOrDefault() != null)
                                                {
                                                    <td><input type="checkbox" class="mealtype" name="mealType" value="2" checked><span>Lunch</span></td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <input type="checkbox" class="mealtype" name="mealType" value="2"><span>Lunch</span>
                                                    </td>
                                                }

                                                @if (Model.programmealtypes.Where(x => x.MealTypeID == (int)Enums.MealTypes.DinnerEntree).FirstOrDefault() != null)
                                                {
                                                    <td><input type="checkbox" class="mealtype" name="mealType" value="3" checked><span>Dinner</span></td>
                                                }
                                                else
                                                {
                                                    <td><input type="checkbox" class="mealtype" name="mealType" value="3"><span>Dinner</span></td>
                                                }

                                                @*@if (Model.programmealtypes.Where(x => x.MealTypeID == (int)Enums.MealTypes.ChildEntree).FirstOrDefault() != null)
                                        {
                                            <td><input type="checkbox" class="mealtype" name="mealType" value="4" checked>Child</td>
                                        }
                                        else
                                        {
                                            <td><input type="checkbox" class="mealtype" name="mealType" value="4">Child</td>
                                        }

                                        @if (Model.programmealtypes.Where(x => x.MealTypeID == (int)Enums.MealTypes.OtherEntree).FirstOrDefault() != null)
                                        {
                                            <td><input type="checkbox" class="mealtype" name="mealType" value="5" checked>Other</td>
                                        }
                                        else
                                        {
                                            <td><input type="checkbox" class="mealtype" name="mealType" value="5">Other</td>
                                        }*@

                                            </tr>
                                            //}
                                        }

                                        else
                                        {
                                            foreach (var planType in Model.programmealtypes)
                                            {
                                                <tr class="meals_data">
                                                    @if (planType.MealTypeID == (int)Enums.MealTypes.BreakfastEntree)
                                                    {
                                                        <td><i class="fa fa-check"></i><span>Breakfast</span></td>
                                                    }
                                                    @if (planType.MealTypeID == (int)Enums.MealTypes.LunchEntree)
                                                    {
                                                        <td><i class="fa fa-check"></i><span>Lunch</span></td>
                                                    }
                                                    @if (planType.MealTypeID == (int)Enums.MealTypes.DinnerEntree)
                                                    {
                                                        <td><i class="fa fa-check"></i><span>Dinner</span></td>
                                                    }
                                                    @if (planType.MealTypeID == (int)Enums.MealTypes.ChildEntree)
                                                    {
                                                        <td><i class="fa fa-check"></i><span>Child</span></td>
                                                    }
                                                    @if (planType.MealTypeID == (int)Enums.MealTypes.OtherEntree)
                                                    {
                                                        <td><i class="fa fa-check"></i><span>Other</span></td>
                                                    }
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                @*Program mealtype end*@
                            </div>
                        </div>
                        <div class="col-height text-center daily_cat">
                            <span id="legend-options" class="col-title">Portion Size @*Plan Option*@</span>
                            <div style="display:none;">
                                <table id="plan-options" class="form-select-menu table table-hover col-height">

                                    <tbody>
                                        @foreach (var planOption in Model.PlanOptions)
                                        {
                                            var isDefaultPlanOption = planOption.IsDefault ? "true" : "false";
                                            <tr>
                                                <td class="left-box" valign="top">
                                                    <input type="radio" style="color: green;background-color: #ccc;" name="optionId"
                                                           id="plan-option-@planOption.ProgramOptionID"
                                                           data-id="@planOption.ProgramOptionID"
                                                           data-price="@planOption.OptionValue"
                                                           data-default="@isDefaultPlanOption"
                                                           value="@planOption.ProgramOptionID">
                                                </td>
                                                <td class="middle-box" valign="top">
                                                    <label for="plan-option-@planOption.ProgramOptionID">
                                                        @planOption.OptionText
                                                    </label>
                                                </td>
                                                <td class="right-box" align="right" valign="top" style="display:none;">

                                                    <span>

                                                        @if (@planOption.OptionValue == 0)
                                                        {
                                                            <span id="">
                                                                @string.Format("{0:f2}", planOption.OptionValue)
                                                            </span>
                                                        }

                                                        else if (@planOption.OptionValue < 0)
                                                        {
                                                            <span id="">
                                                                -$@string.Format("{0:f2}", Math.Abs(planOption.OptionValue))
                                                            </span>
                                                        }

                                                        else if (@planOption.OptionValue > 0)
                                                        {
                                                            <span id="">
                                                                +$@string.Format("{0:f2}", planOption.OptionValue)
                                                            </span>
                                                        }

                                                    </span>/ day
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div id="myCarousel2" class="form-select-menu mealsincludetblform carousel slide slider_new" data-interval="false">
                                    <div id="planoptionslider" class="carousel-inner">
                                        @foreach (var planOption in Model.PlanOptions)
                                        {
                                            var isDefaultPlanOption = planOption.IsDefault ? "active" : "";<div class="item @isDefaultPlanOption" selected="@isDefaultPlanOption"
                                                                                                                id="plan-option-@planOption.ProgramOptionID"
                                                                                                                data-id="@planOption.ProgramOptionID"
                                                                                                                data-price="@planOption.OptionValue"
                                                                                                                data-default="@isDefaultPlanOption"
                                                                                                                value="@planOption.ProgramOptionID">
                                                <a data-toggle="tooltip" href="#" title="@planOption.OptionText">@planOption.OptionText</a>
                                            </div>
                                            <span style="display:none;">

                                                @if (@planOption.OptionValue == 0)
                                                {
                                                    <span id="">
                                                        @string.Format("{0:f2}", planOption.OptionValue)
                                                    </span>
                                                }

                                                else if (@planOption.OptionValue < 0)
                                                {
                                                    <span id="">
                                                        -$@string.Format("{0:f2}", Math.Abs(planOption.OptionValue))
                                                    </span>
                                                }

                                                else if (@planOption.OptionValue > 0)
                                                {
                                                    <span id="">
                                                        +$@string.Format("{0:f2}", planOption.OptionValue)
                                                    </span>
                                                }

                                            </span><span style="display:none;">/ day</span>

                                        }
                                    </div>

                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev" onclick="Planoptions('prev',@Model.programmealtypes.Count(),@Model.ProgramId)">
                                        <span class="fa fa-chevron-left"></span>
                                        @*<span class="sr-only">Previous</span>*@
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" data-slide="next" onclick="Planoptions('next',@Model.programmealtypes.Count(),@Model.ProgramId)">
                                        <span class="fa fa-chevron-right"></span>
                                        @*<span class="sr-only">Next</span>*@
                                    </a>
                                </div>
                            </div>
                            <div id="divLoader" style="display:none;"> <img src="~/Content/Images/ajax-loading.gif" alt="Loader" /> </div>
                            <input type="hidden" id="program-id" value="33">
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-height text-center">
                                @*<span style="float:left;padding:0px 20px;width:40%"> Deliveried on</span>*@
                                <div class="select_dropdown">
                                    <select name="deliveryDateString" id="ddldeliveryDate" style="max-width:100%;font-size: 13px;" class="date-picker form-control">
                                        @*<option data-calendarid="0" value="0">CHOOSE DELIVERY DATE</option>*@
                                        @foreach (var d in Model.calendar)
                                        {
                                            <option data-calendarid="@d.CalendarID" value="@d.DeliveryDate"> Arrives @d.DeliveryDate.ToString("ddddd, MMMM d")</option>
                                        }
                                    </select>
                                </div>

                                <div class="select_dropdown">
                                    <select name="weeklydeldate" id="weeklydeldate" style="max-width:100%;font-size: 13px;" class="date-picker form-control">
                                        @foreach (var weekno in Model.plantypesfornoofweeks)
                                        {
                                            if (Model.plantypesfornoofweeks.Max(x => x.NumWeeks) == @weekno.NumWeeks)
                                            {
                                                <option value="@weekno.NumWeeks" selected="selected">@weekno.NumWeeks Weeks,1 Delivery Per Week</option>
                                            }
                                            else
                                            {
                                                <option value="@weekno.NumWeeks">@weekno.NumWeeks Weeks,1 Delivery Per Week</option>
                                            }
                                        }
                                    </select>
                                </div>

                                @*@if (Model.activeProfiles.Count != 0)
                        {
                            <span style="float:left;padding:0px 20px;width:40%;">Profile</span>
                            <div id="divProfiles">
                                <select name="profileId" id="UserprofileId" class="date-picker">
                                    @foreach (var p in Model.activeProfiles)
                                    {
                                        if (p.IsChildProfile == false)
                                        {
                                            <option value="@p.UserProfileID" selected="selected">@p.ProfileName</option>
                                        }
                                        else
                                        {
                                            <option value="@p.UserProfileID">@p.ProfileName</option>
                                        }
                                    }
                                </select>
                            </div>
                        }*@
                                @if (Model.activeProfiles.Count > 1)
                                {
                                    <div id="divProfiles" class="select_dropdown">
                                        <h3 class="font-myriad-cond color-olive">Select a Profile</h3>
                                        <select name="ProfileID" id="UserprofileId" class="date-picker dropdown_style" style="width:100%">
                                            @foreach (var p in (Model.activeProfiles).OrderBy(x => x.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss.fff")))
                                            {
                                                if (p.IsChildProfile == false)
                                                {
                                                    <option value="@p.UserProfileID" selected="selected">@p.ProfileName</option>
                                                }
                                                else
                                                {
                                                    <option value="@p.UserProfileID">@p.ProfileName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                }

                                <div class="select_dropdown selectprofiledetails">
                                    <div align="center">
                                        @*Your selected plan price is*@
                                        @*<legend>Cost For Subscribe</legend>*@
                                        <div class="col-md-4" style="padding:0px 5px;margin-top:5px" id="HideMealsPerDay">
                                            <div id="costpermeal">0.00</div><label>Per Meal</label>
                                            <hr />
                                            <div id="costpersubscribemeal">0.00</div><label>Per Meal</label>
                                        </div>

                                        @*<div class="col-md-3" style="padding:0px 5px;margin-top:5px">

                                    <div id="costpermeal">0.00</div><label>Per Meal</label>
                                    <hr />
                                    <div id="costpersubscribemeal">0.00</div><label>Per Meal</label>

                                </div>*@

                                        @*<legend>Cost for purchase</legend>*@
                                        <div class="col-md-4" style="padding:0px 5px;margin-top:5px">
                                            <div id="costperday">0.00</div><label>Per Week</label>
                                            <hr />
                                            <div id="costpersubscribeday">0.00</div><label>Per Week</label>
                                        </div>
                                        <div class="col-md-8" style="margin-bottom:5px;padding:0px">
                                            @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                            {
                                                <button type="button" name="" id="btnaddtocart" onclick="return AddtoCart('false','true')" class="btn btn-orange purchase_btn">Add to <br /> Cart</button><br />
                                                <button type="button" name="" id="btnaddtocart" onclick="return AddtoCart('true','true')" class="btn btn-orange subscribe_btn">Subscribe  & <br /> Save 5%</button>
                                            }
                                            else
                                            {
                                                <button type="button" name="" id="btnaddtocart" onclick="return AddtoCart('false','false')" class="btn btn-orange purchase_btn">Add to <br /> Cart</button><br />
                                                <button type="button" name="" id="btnaddtocart" onclick="return AddtoCart('true','false')" class="btn btn-orange subscribe_btn">Subscribe  & <br /> Save 5%</button>
                                            }
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-12 preferences">
                                            <input id='btnYourpreferences' class="btn btn-default" type="button" value="My Preferences" />
                                        </div>
                                        <legend style="display:none;">SubTotal</legend>
                                        <div style="display:none;" id="program-subtotal">0.00</div>
                                    </div>

                                    <p id="days-in-week-label" align="center" style="display:none;">for a total of <b>X</b> meals, plus extras.</p>

                                </div>

                                <div style="text-align:center;margin:20px 0px;display: none;width: 100%;">
                                    <span style="display:none;">Quantity</span>
                                    <input name="Quantity" type="number" min="1" value="1" max="99" maxlength="2" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)" id="quantity" style="margin-right: 1em; text-align: center; width: 20px;display:none;">
                                    <span id="" style="color:Red;display:none;">*</span>
                                    <span id="" style="color:Red;display:none;">*</span>
                                    <input type="button" name="" value="Add to Cart" id="btnaddtocart" onclick="return AddtoCart('false')" class="add-cart page-button-plus page-button-submit" style="float: left;display:none;">
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="clearfix"></div>
                    <div class="content_field questions Desktop_details">
                        <h4>Questions?</h4>
                        <div class="col-md-12 chat_online">

                            @*<h4 style="color:#39aa35;font-weight:bold">Chat Now</h4>*@
                            <img src="~/Content/Images/redesign/chaticon.png" />
                            <a id="my_custom_link" href="mailto:ktzghdfu@intercom-mail.com">Chat online now</a>
                        </div>
                        <div class="col-md-12 callus">
                            <p>or call us toll free:</p>
                            <a href="tel:18665752433" class="callus_number">
                                @*<img alt="" src="/App_Themes/HealthyChef/images/icon-1.png" />*@
                                1-866-575-2433
                            </a>
                        </div>
                    </div>
                    <div class="content_field" style="display:none;">
                        <h4>See Our Meal Plans</h4>
                        <div class="col-md-12">
                            <ul class="menu_list">
                                <li><a href="/meal-programs/healthy-living.aspx" target="_blank" id="Healthy Living">Healthy Living</a></li>
                                <li><a href="/meal-programs/healthy-mommy.aspx" target="_blank" id="Healthy Mommy">Healthy Mommy</a></li>
                                <li><a href="/weight-loss-programs/low-carb.aspx" target="_blank" id="Low Carb ">Low Carb </a></li>
                                <li><a href="/weight-loss-programs/mediterranean-diet.aspx" target="_blank" id="Mediterranean Weight Loss Diet">Mediterranean Weight Loss Diet</a></li>
                                <li><a href="/custom-programs/a-la-carte-menu.aspx" target="_blank" id="A La Carte Meals">A La Carte Meals</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content_field" style="display:none;">
                        <h4>This Week’s A La Carte Meals</h4>
                        <div class="col-md-12">
                            <ul class="menu_list">
                                <li><a href="/Menu?mealtype=0" target="_blank" id="Breakfast">Breakfast</a></li>
                                <li><a href="/Menu?mealtype=1" target="_blank" id="Lunch">Lunch</a></li>
                                <li><a href="/Menu?mealtype=2" target="_blank" id="Dinner">Dinner</a></li>
                                <li><a href="/Menu?mealtype=3" target="_blank" id="Child">Child</a></li>
                                <li><a href="/Menu?mealtype=4" target="_blank" id="Dessert">Dessert</a></li>
                                <li><a href="/Menu?mealtype=5" target="_blank" id="Other">Other</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cl">&nbsp;</div>
    </div>
    <div class="bottom">&nbsp;</div>

    @*</div>*@


}
<div id="snackbar" style="display:none"><span id="lblAddtocartmessage"></span> </div>


<script type="text/javascript">
    $('.right').addClass('active');
    $('.right').css('opacity', '1');
    function validateAddtoCart() {

        var QTY = $("#quantity").val();

        if (QTY === null || QTY == "") {
            alert('please enter quantity');
            return false;
        }
        else if (QTY === "0") {
            alert('quantity should be greater than zero');
            return false;
        }

    }
    $('#btnYourpreferences').click(function (e)
    {
        window.location.href="/my-profile.aspx"
          //location.href = '@Url.Content("~/Account/Index/")';
     });
</script>

<style>
    .fa.fa-check {
        font-size: 14px;
        border: 0px solid #ddd;
        color: darkgray;
        vertical-align: top;
        width: 20px;
    }

    input[type="radio" i] {
        margin: 2px 0px 0px 0px;
        display: none;
    }

    .left-box input[type='radio']:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .btn-orange, .btn-orange:hover {
        border: 1px solid #f06324;
        color: #fff;
        padding: 3px 10px;
        border-radius: 5px;
        background-image: linear-gradient(#f16e05, #fb8b08);
    }

    #snackbar {
        visibility: hidden;
        min-width: 250px;
        background-color: #276f22;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 5px 16px;
        position: fixed;
        z-index: 1;
        left: 0px;
        top: 0px;
        font-size: 17px;
        width: 100%;
    }

        #snackbar.show {
            visibility: visible;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }

    @@-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    @@keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }
</style>
<script type="text/javascript">
    var itemid = '';
    $(document).ready(function () {
        //$("#btnaddtocart").click(function () {
        //    AddtoCart('false');
        //});
        var itemid = '';
         $('#NavigationItem_@Model.Program.MoreInfoNavID').parent().parent().prev().parent().addClass('menu-active');
        function AddtoCart(IsAutorenew)
        {
            var deliveryDate_ = $('#ddldeliveryDate option:selected').val();
            if (deliveryDate_ != '0') {
            $("#divLoader").css('display', '');
            $('body').css("opacity", '0.5');
            if (@HttpContext.Current.User.Identity.IsAuthenticated)
            {
                var ErrorMessage = "";
                var ErrorCount = "0";

                var QTY = $("#quantity").val();
                if (QTY === null || QTY == "") {
                    ErrorCount = "1";
                    ErrorMessage = ErrorMessage + 'please enter quantity';
                }
                else if (QTY === "0") {
                    ErrorCount = "1";
                    ErrorMessage = ErrorMessage + 'quantity should be greater than zero';

                }

                if (ErrorCount === "1" || ErrorMessage != "") {
                    alert(ErrorMessage);
                }
                else {
                    if (itemid != '')
                    {
                        var itemId_ = itemid;// $("#plantypeslider").find('.item.active').attr('value');  //$("input[name='itemId']:checked").val();
                    }
                    else
                    {
                        var itemId_ =  $("#plantypeslider").find('.item.active').attr('value');  //$("input[name='itemId']:checked").val();
                    }

                    var deliveryDate_ = $('#ddldeliveryDate option:selected').val();

                    var optionId_ = $("#planoptionslider").find('.item.active').attr('value');
                    var quantity_ = $("#quantity").val();
                    var isrecurred = IsAutorenew;// $('#isRecurring').is(':checked');
                    var profile = $('#UserprofileId').val();


                    var ProgramAddToCartModel = { itemId: itemId_, optionId: optionId_, deliveryDateString: deliveryDate_, Quantity: quantity_, profileId: profile, isRecurring: isrecurred }

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("AddProgramToCart", "Programs")',
                        data: JSON.stringify(ProgramAddToCartModel), //'{ _addItemToCartModel: "' + AddtoCartFormData + '"}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (res) {
                            if (res.statusCode == 200) {

                                var x = document.getElementById("snackbar");
                                x.className = "show";
                                setTimeout(function () { x.className = x.className.replace("show", ""); }, 1000);
                                $('#lblAddtocartmessage').text(res.successMessage);
                                $('#snackbar').show();
                                $("html, body").animate({ scrollTop: 0 }, "slow");
                                /*Redirect to Index page in Programs*/
                            @*window.location.href = '@Url.Action("Index", "Programs")';*@
                                if (isrecurred == 'true') {
                                   // window.location.href = '@Url.Action("CartCheckout", "Cart")';
                                    window.location.href = '/cart.aspx';
                                }
                                else {
                                    window.location.href = '/cart.aspx';
                                }

                                return true;
                            }
                            else if (res.statusCode == 400) {

                                var x = document.getElementById("snackbar");
                                x.className = "show";
                                setTimeout(function () { x.className = x.className.replace("show", ""); }, 1000);
                                $('#lblAddtocartmessage').text(res.errorMessage);
                                $('#snackbar').show();
                                $("html, body").animate({ scrollTop: 0 }, "slow");
                                $('body').css("opacity", '1');
                                $("#divLoader").css('display', 'none');
                                return false;
                            }

                        },
                        failure: function (response) {
                            alert(response.errorMessage);
                        }
                    });
                }
            }
            else
            {
                alert('Please login and subscribe the plan');
            }
        }
           else
        {
            alert('Please Choose Delivery date');
        }
        }

        //Select first radio button for Plan Types
        //$(':radio:first', '.form-select-menu').attr('checked', 'checked');

        //Alternate row colors and remove border from last List Item
        $('.form-select-menu').each(function () {
            //$('tr:odd', $(this)).addClass('bg-grey-light');
            $('tr:last td', $(this)).css('border', 'none');
        });

        //Do green background highlighting on radio click
        //$('select').on('change', function () {
        //    debugger;
        //    $('tr', $(this).closest('.form-select-menu')).removeClass('bg-lime-light');
        //    $(this).closest('tr').addClass('bg-lime-light');
        //    calcPrice();
        //});
        $(':radio', '.form-select-menu').click(function () {
            $('tr', $(this).closest('.form-select-menu')).removeClass('bg-lime-light');
            $(this).closest('tr').addClass('bg-lime-light');
            calcPrice();
        });
        $('input[type=radio][data-default$="true"]').each(function () {
            $(this).attr('checked', 'checked').closest('tr').addClass('bg-lime-light');
        });

            calcPrice();

        function calcPrice()
        {
            $('#HideMealsPerDay').hide();
            // var variance = parseFloat($('input[type=radio]:checked', 'table#plan-options').attr('data-price'));
            var variance = parseFloat($("#planoptionslider .active").data('price'));
            if (isNaN(variance)) { variance = 0; }

            //Determine checked plan-type element
            //var planId = parseFloat($('input[type=radio]:checked', 'table#plan-types').val());
            var planId = parseFloat($('#plantypeslider .active').attr('value'));
            var planRadio = $('#plan-type-' + planId);

            var pricePerDay = parseFloat($(planRadio).attr('data-price'));
            var weeks = parseFloat($(planRadio).attr('data-weeks'));
            var weeksDays = parseFloat($(planRadio).attr('data-days-per-week'));
            var days = parseFloat(weeks * weeksDays);
            var mealsPerDay = parseInt($(planRadio).attr('data-meals-per-day'));
            var totalMeals = days * mealsPerDay;
            //alert('variance: ' + variance + '\nplanId: ' + planId + '\npricePerDay: ' + pricePerDay + '\nweeks: ' + weeks + '\nweeksDays: ' + weeksDays + '\ndays: ' + days);
            var subtotal = (pricePerDay + variance) * days;
            var subtotalmealprice = '$' + subtotal.toFixed(2);
            var costperday = ((pricePerDay + variance) * 1).toFixed(2);
            var costpermeal = (costperday / mealsPerDay).toFixed(2);
            $('#program-subtotal').text(subtotalmealprice);
            $('#costperday').text('$' + (costperday * weeksDays).toFixed(2));
            //$('#costpermeal').text('$' +costpermeal);
            var discountpriceformeal = (costpermeal - (costpermeal * 0.05)).toFixed(2);
            var discountpriceforday = (costperday - (costperday * 0.05)).toFixed(2);;
            $('#costpersubscribeday').text('$' + (discountpriceforday * weeksDays).toFixed(2));
            //$('#costpersubscribemeal').text('$' + discountpriceformeal);
            //$('#program-subtotal').formatCurrency();
            $('b', '#days-in-week-label').text(totalMeals);
        }

        $('#aRecurringDescription').popover({
            //url: '/recurring-description.aspx',
            content: "Auto-renew saves you time by automatically renewing your order for the selected program plan when it ends, so you don't have to log back in to place a new order every few weeks. By selecting auto-renew, you authorize us to place a new order for the plan you have selected and to charge your selected payment method to complete your purchase at the end of each plan period until auto-renew is cancelled by you. You may cancel auto-renew at any time.You have auto renew this order please select the below checkbox",
            placement: "bottom",
            classes: 'popoverClass',
            trigger: 'none'
        });

        $('#aRecurringDescription').click(function (event) {

            event.preventDefault();
            event.stopPropagation();
            $('#aRecurringDescription').popover('show');
        });
        $('body').click(function () {
            $('#aRecurringDescription').popover('hide');
        });

    });
    //$(function () {
    //    //show
    //    $(document).on('click', '.trigger', function () {
    //        $(this).addClass("on");
    //        $(this).tooltip({
    //            items: '.trigger.on',
    //            position: {
    //                my: "left+30 center",
    //                at: "right center",
    //                collision: "flip"
    //            }
    //        });
    //        $(this).trigger('mouseenter');
    //    });
    //});
    $("#ddldeliveryDate").change(function ()
    {
        var programid=@Model.ProgramId;
        var calendarid = $('option:selected', this).attr("data-calendarid");
        $.ajax({
                    type: "POST",
                    url: '@Url.Action("DetailsbyCalendarId", "Programs")',
                    data: JSON.stringify({ Id: programid, calendarid: calendarid }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (res)
                    {
                        if (res.Message.length > 0)
                        {
                            $("#defaultmenu").hide();
                            $("#planmenu").show();
                            $("#examplemenu").html(res.Message);
                            //for (var i = 0; i < res.length; i++) {
                            //    //var html = '<td class="menuitems" border="1"><b>' + res[i].MenuItemName + '</b> <br /><br /><b>Description:</b>' + res[i].Description + '<br /><br /><b>Nutrition Info:</b><br />' + res[i].Calories + '  ' + res[i].Fat + ' ' + res[i].Protein + ' ' + res[i].Carbohydrates + ' ' + res[i].DietaryFiber + '</td>';
                            //    var html = ' <td class="menuitems"><b>' + res[i].MenuItemName + '</b><br />' + res[i].Description + '<br /><hr /><strong><b>' + res[i].Calories + ' </b><b>' + res[i].Fat + '</b><b>' + res[i].Protein + '</b><b>' + res[i].Carbohydrates + '</b><b>' + res[i].DietaryFiber + '</b></strong><hr /><br /><br /></td>';
                            //    var lasttddata = $("#planmenu").find(".hiderowmenu td:last-child")[i];
                            //    lasttddata.innerHTML = html;
                            //    var imagechangeurlhtml = '<img  class="img-responsive" src=' + res[i].MenuItemImageUrl + ' />';
                            //    //var imageurl = $("#planmenu").find(".hiderowmenu td:eq(1)")[i];
                            //    var imageurl = $("#planmenu").find(".hiderowmenu .img-responsive")[i];
                            //    imageurl.setAttribute('src', res[i].MenuItemImageUrl);
                            //};
                        }
                        else
                        {
                            $("#planmenu").hide();
                            $("#defaultmenu").show();
                        }
                    },
                    error: function (response)
                    {
                        alert(response.errorMessage);
                    }
                });
    });

    function validateProgramForm()
    {
        var qty = $('#quantity').val();
        if (qty === undefined || qty === null || qty === '' || isNaN(qty) || qty == 0) {
            alert('Please enter a valid quantity');
            return false;
        }
        return true;
    }
</script>
<script>

    function showOrHideProgramFetures() {
        debugger;
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("programFetures");
        var btnText = document.getElementById("learnMore");

        if (dots.style.display === "none") {
            dots.style.display = "inline-block";
            btnText.innerHTML = "Learn more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Show less";
            moreText.style.display = "block";
        }
        //$("#programFetures").toggle();
        //$("#learnMore").text($("#learnMore").text() == 'SHOW LESS'? 'LEARN MORE' : 'SHOW LESS');
    }

    //function LearnmoreNavigation(navigationid)
    //{
    //    window.location.href = window.location.origin+'/Content/Details/' + navigationid;
    //}
    function maxLengthCheck(object) {
        if (object.value.length > object.maxLength)
            object.value = object.value.slice(0, object.maxLength)
    }
    $("input[type='number']").attr({
        "max": 99,
        "min": 1
    });
    function isNumeric(evt) {
        //var theEvent = evt || window.event;
        //var key = theEvent.keyCode || theEvent.which;
        //key = String.fromCharCode(key);
        //var regex = /1-9]|\./;
        ////if (!regex.test(key)) {
        ////    theEvent.returnValue = false;
        ////    if (theEvent.preventDefault) theEvent.preventDefault();
        ////}

        var charCode = (evt.which) ? evt.which : event.keyCode;
        if ((charCode == 46) || (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57)))
            return false;

        return true;

    }
    $(document).ready(function () {
        $('#myCarousel1').carousel({
            pause: true,
            interval: false,
        });
    });
</script>

<script>

    $('.mealtype').click(function () {
        var value = [];
        $('.mealtype:checked').each(function () {
            value.push($(this).val());
        });
        if (value.length == 0) {
            window.alert("Please select at least one meal type");
        }
        if (value.length == 1 && value[0] == 1) {
            window.location.href = "/Programs/DetailsbyCheckbox/63/HealthyLivingBreakfast";
        }
        if (value.length == 1 && value[0] == 2) {
            window.location.href = "/Programs/DetailsbyCheckbox/64/HealthyLivingLunch";
        }
        if (value.length == 1 && value[0] == 3) {
            window.location.href = "/Programs/DetailsbyCheckbox/51/HealthyLivingDinner";
        }
        if (value.length == 2 && ((value[0] == 1 && value[1] == 2) || (value[0] == 2 && value[1] == 1))) {
            window.location.href = "/Programs/DetailsbyCheckbox/54/HealthyLivingBreakfastLunch";
        }
        if (value.length == 2 && ((value[0] == 2 && value[1] == 3) || (value[0] == 3 && value[1] == 2))) {
            window.location.href = "/Programs/DetailsbyCheckbox/50/HealthyLivingDinner";
        }
        if (value.length == 2 && ((value[0] == 3 && value[1] == 1) || (value[0] == 1 && value[1] == 3))) {
            window.location.href = "/Programs/DetailsbyCheckbox/53/HealthyLivingDinner";
        }
        if (value.length == 3) {
            window.location.href = "/meal-programs/healthy-living.aspx";
        }
    });
</script>

<script>
    $('#weeklydeldate').change(function ()
    {
        $('#HideMealsPerDay').hide();
        var selectedValue = parseInt(jQuery(this).val());
        //alert(selectedValue)
        var numberofdaysperweek = parseFloat($('#plantypeslider .active').attr('data-days-per-week'));
        var planoptionid = parseFloat($("#planoptionslider .active").attr('value'));
        var PlanPriceByNumofweeks = { programId:@Model.ProgramId, PlanId: '0', NumDaysPerWeek: numberofdaysperweek, NumWeeks: selectedValue, ProgramOptionId: planoptionid, Planprice: '0.00', PlanOptionprice: '0.00' }
         $.ajax({
             type: "POST",
             url: '@Url.Action("GetPlanPriceByNumofweeks", "Programs")',
             data: JSON.stringify(PlanPriceByNumofweeks),
             contentType: "application/json; charset=utf-8",
             dataType: "json",
             success: function (res)
             {
                 itemid = res.PlanId;
                 var variance = parseFloat(res.PlanOptionprice);
                 var planId = parseFloat(res.PlanId);
                 var pricePerDay = parseFloat(res.Planprice);
                 var weeks = selectedValue //parseFloat($(planRadio).attr('data-weeks'));
                 var weeksDays = parseFloat(res.NumDaysPerWeek);
                 var days = parseFloat(weeks * weeksDays);
                 var mealsPerDay = parseInt(@Model.programmealtypes.Count());
                 var totalMeals = days * mealsPerDay;
                 var subtotal = (pricePerDay + variance) * days;
                 var subtotalmealprice = '$' + subtotal.toFixed(2);
                 var costperday = ((pricePerDay + variance) * 1).toFixed(2);
                 var costpermeal = (costperday / mealsPerDay).toFixed(2);
                 $('#program-subtotal').text(subtotalmealprice);
                 $('#costperday').text('$' + (costperday * weeksDays).toFixed(2));
                 //$('#costpermeal').text('$' + costpermeal);
                 var discountpriceformeal = (costpermeal - (costpermeal * 0.05)).toFixed(2);
                 var discountpriceforday = (costperday - (costperday * 0.05)).toFixed(2);;
                 $('#costpersubscribeday').text('$' + (discountpriceforday * weeksDays).toFixed(2));
                 //$('#costpersubscribemeal').text('$' + discountpriceformeal);
                 //$('#program-subtotal').formatCurrency();
                 $('b', '#days-in-week-label').text(totalMeals);
             },
             error: function (response)
             {
                 alert(response.errorMessage);
             }
         });
    });
</script>
