@model HealthyChefCreationsMVC.CustomModels.CreatePassword

@using (Html.BeginForm("CreatePassword", "Home", FormMethod.Post))
{
    <div class="wm-field">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2" })
        @Html.TextBoxFor(m => m.Email, new { @class = "col-md-6" })
        @Html.ValidationMessageFor(m => m.Email)
           </div>
                <div class="wm-field">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2" })
                    @Html.PasswordFor(m => m.Password, new { @class = "col-md-6" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="wm-field">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "col-md-6" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <div class="col-md-offset-2">
                    <input type="submit" value="Finish" class="pixels-button-solid-green pixels-button" />
                </div>
  }


<style type="text/css">
    #sidebar, #content .top, #slider, body.home-page #content .bottom {
        display: none;
    }

    body.home-page #content {
        width: 100% !important;
        padding: 20px !important;
        margin: 0px !important;
        background: #fff;
    }

    .form_submit {
        padding: 20px;
    }

    body.home-page #wrapper {
        background: none;
    }

    .wm-field {
        margin: 5px 0px;
        display: inline-block;
        width: 100%;
    }

        .wm-field .col-md-6 {
            padding: 0px;
        }
</style>