@model HealthyChefCreationsMVC.CustomModels.CardInformation

@{
    var YearsDropdown = new List<SelectListItem>();
    YearsDropdown.Add(new SelectListItem() { Text = "---", Value = "-1" });
    int currYear = DateTime.Now.Year;
    for (int i = 0; i <= 10; i++)
    {
        YearsDropdown.Add(new SelectListItem()
        {
            Text = (currYear + i).ToString(),
            Value = (currYear + i).ToString()
        });
    }
}

        @using (Html.BeginForm("CreditCard", "Home", FormMethod.Post))
            {
                <div class="wm-field">
                    @Html.LabelFor(m => m.NameOnCard, new { @class = "col-md-2" })
                    @Html.TextBoxFor(m => m.NameOnCard, new { @class = "col-md-6" })
                    @Html.ValidationMessageFor(m => m.NameOnCard)
                </div>
                <div class="wm-field">
                    @Html.LabelFor(m => m.CardNumber, new { @class = "col-md-2" })
                    @Html.TextBoxFor(m => m.CardNumber, new { @class = "col-md-6", onkeydown = "return isNumeric();" })
                    @Html.ValidationMessageFor(m => m.CardNumber)
                </div>
                <div>
                    @Html.Label("ExpirationDate:", new { @class = "col-md-2" })
                    @Html.DropDownList("ExpireInMonth", new List<SelectListItem>
                 {
                    new SelectListItem{ Text="01", Value = "1" },
                    new SelectListItem{ Text="02", Value = "2" },
                    new SelectListItem{ Text="03", Value = "3" },
                    new SelectListItem{ Text="04" , Value = "4" },
                    new SelectListItem{ Text="05" , Value = "5" },
                    new SelectListItem{ Text="06" , Value = "6" },
                    new SelectListItem{ Text="07" , Value = "7" },
                    new SelectListItem{ Text="08" , Value = "8" },
                    new SelectListItem{ Text="09" , Value = "9" },
                    new SelectListItem{ Text="10", Value = "10" },
                    new SelectListItem{ Text="11", Value = "11" },
                    new SelectListItem{ Text="12", Value = "12" },
                 }, "---")
                    @Html.DropDownListFor(m => m.ExipiresOnYear, YearsDropdown)

                    @Html.ValidationMessageFor(m => m.ExipiresOnMonth)
                    @Html.ValidationMessageFor(m => m.ExipiresOnYear)
                </div>
                <div class="wm-field">
                    @Html.LabelFor(m => m.CardIdCode, new { @class = "col-md-2" })
                    @Html.TextBoxFor(m => m.CardIdCode, new { @class = "col-md-6" })?
                </div>
                <div class="col-md-offset-2">
                    <input type="submit" value="Save" class="pixels-button-solid-green pixels-button" />
                </div>
}



<style type="text/css">
    #sidebar, #content .top, #slider, body.home-page #content .bottom {
        display: none;
    }

    body.home-page #content {
        width: 100% !important;
        padding: 20px !important;
        margin: 0px !important;
        background: #fff;
    }

    .form_submit {
        padding: 20px;
    }

    body.home-page #wrapper {
        background: none;
    }

    .wm-field {
        margin: 5px 0px;
        display: inline-block;
        width: 100%;
    }

        .wm-field .col-md-6 {
            padding: 0px;
        }
</style>
<script type="text/javascript">
    function isNumeric(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if ((charCode == 46) || (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57)))
            return false;

        return true;
    }
</script>