@model HealthyChefCreationsMVC.CustomModels.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutNoColumns.cshtml";
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
{
    @*<div>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>*@
    <div class="background_bg" style="padding:20px 0px">
        <div class="text-center">
            <h2 class="header color-orange">Account Log In</h2>
            Enter your email address to reset your password.
        </div>
        <div class="text-center">

            <div class="p-10 col-md-offset-4 form-group forgot_header" style="margin-top:10px;">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })<span></span>
                @Html.TextBoxFor(m => m.Email, new { @class = "col-md-6 form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="clearfix"></div>
            <div>
                <input type="submit" class="btn btn-green" style="margin-top:1%;margin-left: 5%;" value="Submit" />@*pixels-button-solid-green pixels-button*@
            </div>
            <div>

                <span style="color:red;">@ViewBag.Message</span>
            </div>
        </div>
    </div>
}

<style type="text/css">
    .background_bg h2.header {
        color: #276f22;
        font-size: 21px;
        line-height: 40px;
        font-weight: bold;
    }
    
    input, select, textarea {
        max-width: 210px;
    }
    .forgot_header .field-validation-error {
        float: left;
        width: 60%;
        text-align: left;
        margin-left: 16.6%;
    }
    .col-md-6 {
        padding: 0px;
    }
    @@media screen and (max-width: 768px) {
        .background_bg {
            background: #fff;
        }
    }
    
</style>