@model  HealthyChefCreationsMVC.CustomModels.LoginViewModel
   

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutNoColumns.cshtml"; /*null;*/
}


@Html.HiddenFor(m => m.ReturnUrl)
<div>
    @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
</div>
<div class="clearfix"></div>
@*<div class="loader" style="display:none"></div>*@
<div id="myLoadingElement" style="display: none; display: none;position: absolute;top: 49%;width: 100%;left: 40%;">
    <img src="~/Content/Images/ajax-loading.gif" alt="Loading..." />
</div>

<div class="login-page container" style="display:block">
    <div class="col-md-12 form_submit" id="fsubmit">

        @if (Model.IsSubscribe)
        {
            <div class="label_loginstat" style=" width: 80%;margin: 0 auto;margin-left:0px !important">
                <label style="color:green;font-size:20px; font-weight:bold;/*margin-left:200px;*/ margin-top:20px;" class="tocont">To Continue: Please Register Or Log In</label>
            </div>
        }
        @Html.Partial("~/Views/Home/RegisterModel.cshtml", Model.registrationModel)
        <div class="col-md-2"></div>
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            <div class="login">
                <div class="col-md-5">
                    <h2 style="margin-top:20px;" class="registermobile">Login</h2>
                    @*<div class="text-center">*@
                    @*<h2 class="header">Account Log In</h2>*@
                    @*<p>New Customers - Please enter your email address only, and click Continue.</p>
                    <p>Existing Customers - Please enter your email address and password, and click Continue.</p>*@
                    @*</div>*@
                    @Html.HiddenFor(m => m.ReturnUrl)
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2" })*@
                        <label class="control-label" for="Email">Email:</label><br />
                        @Html.TextBoxFor(m => m.Email, new { @class = "textbox" })

                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="clearfix"></div>
                    <div class="p-10 cms-login" style="margin-left: 38.6%;display:none">
                        @*@Html.RadioButtonFor(m => m.CustomerType, 0, new { @class = "pull-left" })<p>I am a new customer</p>*@
                        @Html.RadioButtonFor(m => m.CustomerType, 1, new { @class = "pull-left", @Checked = "checked" })<p>I am a returning customer</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Password">Password:</label><br />
                        @Html.PasswordFor(m => m.Password, new { @class = "textbox cms-password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="clearfix"></div>
                    <div class="p-10">
                        <input type="submit" class="btn-green" style="width:auto" value="Login" />
                    </div>
                    <div class="p-10">
                        @Html.ActionLink("Forgot your password? Click Here", "ForgotPassword", "Home")
                    </div>
                    <div>
                        <span style="color:red;" class="validation_error_new">@ViewBag.ErrorMessage</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="col-md-12 loginregister" style="display:none">
    <div class="col-md-6">
        <div class="register">
            <h2 >Register</h2>
            <div class="form-group">
                <div class="col-md-4" style="padding-left:0px">
                    <label class="control-label">First Name</label><br />
                    <input type="text" class="" />
                </div>
                <div class="col-md-4" style="padding:0px">
                    <label class="control-label">Last Name</label><br />
                    <input type="text" class="" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="control-label">Email</label><br />
                <input type="text" class="" />
            </div>
            <div class="form-group">
                <label class="control-label">Create a Password</label><br />
                <input type="text" class="" />
            </div>
            <div class="p-10">
                <button type="button" class="btn-green">Continue</button>
            </div>
            <div class="p-10">

                <a href="#" onclick="fb_login();"><img src="images/fb_login_awesome.jpg" border="0" alt=""></a>
                <fb:login-button data-size="xlarge" data-button-type="continue_with" autologoutlink="true" perms="read_friendlists, create_event, email, publish_stream"></fb:login-button>
                @*<button type="button" class="btn-blue">Sign up with Facebook</button>*@
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="login">
            <h2 >Login</h2>
            <div class="form-group">
                <label class="control-label">Email</label><br />
                <input type="text" class="" />
            </div>
            <div class="form-group">
                <label class="control-label">Password</label><br />
                <input type="text" class="" />
            </div>
            <div class="p-10">
                <button type="button" class="btn-green">Login</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        //Bind event handlers to radial buttons
        $("input[name=CustomerType]").click(function (e) {
            localStorage.removeItem('radioValue');
            checkLoginRadios();
        })
        if (localStorage.getItem('radioValue') != null) {
            $("input[name=CustomerType][value=" + 0 + "]").prop('checked', true);
            $('input[type=password]').val("");
            //$('.cms-password').attr('disabled', true);
            $('#Password').val('');
            $('#Password').removeClass('field-validation-error').next('span[data-valmsg-for]').removeClass("field-validation-error").addClass("field-validation-valid").html("");
        }
        else {
            checkLoginRadios();
        }

        function checkLoginRadios() {

            if ($('input:radio:checked', '.cms-login').val() == '1') {
                localStorage.removeItem('radioValue');
                $('input[type=password]').val("");
                // $('.cms-password').removeAttr('disabled');
            }
            else {
                $('input[type=password]').val("");
                // $('.cms-password').attr('disabled', true);
                $('#Password').removeClass('field-validation-error').next('span[data-valmsg-for]').removeClass("field-validation-error").addClass("field-validation-valid").html("");
            }
        }
    });

</script>
@*FB Login Code*@
<script src="https://connect.facebook.net/en_US/all.js"></script>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            //appId: '1596057560504745',331132644288223,378650106059453
            appId: '2325250274426054',
            oauth: true,
            status: true, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            xfbml: true // parse XFBML
        });

    };

    function logout() {
        FB.logout(function (response) {
            // user is now logged out
        });
    }

    function login() {
        if ($("#fbbtn").text() == "Logout") {
            logout();
            $("#fbbtn").html("");
            $("#fbbtn").html("<img style='float: left; padding: 1px 5px; width: 25px;' src='https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/_2UL8WOqQ_s.png' />Continue with Facebook");
        }
        else {
            FB.login(function (response) {
                // handle the response
                //  console.log(response.authResponse.userID);
                SubmitLogin(response);

            }, { scope: 'public_profile,email' });
        }

    }
    function SubmitLogin(response) {
        var credentials = { uid: response.authResponse.userID, accessToken: response.authResponse.accessToken };
        $.ajax({
            url: "/FacebookLogin.aspx",
            type: "POST",
            data: credentials,
            error: function () {
                $("#myLoadingElement").hide();
                alert("error logging in to your facebook account.");
            },
            success: function (response) {
                // alert('hi');
                $("#myLoadingElement").show();
                $("#fbbtn").html("");
                $("#fbbtn").html("<img style='float: left; padding: 1px 5px; width: 25px;' src='https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/_2UL8WOqQ_s.png' />Logout");
                logout();
                if (response != null) {
                    //window.location.href = "/Home/DirectHomeDashBoardLoginbyFB?email=" + response;
                    var loginModel = { Email: response, Password: response, CustomerType: 1, ReturnUrl: null, FirstName: null, LastName: null };
                    $.ajax({
                        url: "/Facebooksignup.aspx",
                        type: "POST",
                        data: loginModel,
                        error: function () {
                            $("#myLoadingElement").hide();
                            alert("error logging in to your facebook account.");
                        },
                        success: function (response) {
                            $("#myLoadingElement").hide();
                            window.location.href = "/my-profile.aspx";
                        }
                    });
                }
                else {
                    alert("Unable to login with your FB Credentials.");
                }
            }
        });
    }
    (function () {
        var e = document.createElement('script');
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
    }());
</script>
<style type="text/css">
    .textbox {
        border-color: #ccc !important;
    }

    .register input, .login input {
        width: 100%;
    }

    .register label, .register h2, .login label, .login h2 {
        color: #276f22;
    }

    .validation_error {
        position: absolute;
        width: 100%;
        top: -23%;
        left: 1%;
        color: #f00;
        float: left;
        font-size: 12px;
    }

    .loginregister {
        padding: 40px 10px;
    }

    .btn-green, .btn-green:hover {
        background: #276f22;
        border: 1px solid #276f22;
        color: #fff;
        padding: 5px 30px;
    }

    .btn-blue {
        background: #337ab7;
        border: 1px solid #337ab7;
        color: #fff;
        padding: 5px 30px;
    }

    .form-group {
        margin-bottom: 15px;
        display: inline-block;
        width: 100%;
    }
    /*.register input, .login input {
        margin-bottom: 15px;
    }*/

    #sidebar, #content .top, #slider, body.home-page #content .bottom {
        display: none;
    }

    body.home-page #content {
        width: 100% !important;
        padding: 20px !important;
        /*margin: 0px !important;*/
        background: #fff;
    }

    input[type="radio" i] {
        margin: 3px 3px 0px 5px;
    }

    .form_submit {
       /*padding: 50px 0px;*/
    }
    .form_submit .col-md-5{
        padding:0px;
    } 

    .p-5 {
        padding: 5px 0px;
    }

    body.home-page #wrapper {
        background: none;
    }

    .p-10 a {
        text-decoration: underline;
    }

    @@media only screen and (max-width:767px) {
        body.home-page #navigation {
            margin: 0px !important;
        }

        body.home-page #main {
            width: 100%;
        }

        .p-10 {
            margin-left: 0% !important;
        }
    }

    .field-validation-error {
        float: left;
        /*padding-left: 5px;*/
        width: 100%;
    }
    .login h2 {
        margin-bottom: 12px;
    }
</style>
