@model HealthyChefCreationsMVC.CustomModels.ViewMenuModel
@{
    ViewBag.Title = "Build a Healthy Meal Plan for Delivery | Create Your Own Meal Plan for Delivery";
    Layout = "~/Views/Shared/_LayoutNoColumns.cshtml";

    var isBreakFast = Model.ActiveTab == 0 ? "active" : "";
    var isLunch = Model.ActiveTab == 1 ? "active" : "";
    var isDinner = Model.ActiveTab == 2 ? "active" : "";
    var isChild = Model.ActiveTab == 3 ? "active" : "";
    var isDessert = Model.ActiveTab == 4 ? "active" : "";
    var isOther = Model.ActiveTab == 5 ? "active" : "";
}

<div id="main">
<div class="background_bg">
    <div class="container-bottom">
        <div class="container-cnt">
            <!-- Header -->
            <div class="full-page-header" style="display:none;">
                <div class="alignleft">
                    <p><img width="350" height="233" src="/userfiles/images/QuinoaBowls sm.jpg" alt=""></p>
                </div>
                <div class="info">
                    <h2>A La Carte Menu</h2>
                    <p>
                        <span style="color: rgb(0, 0, 0);">
                            Select an upcoming delivery date and view the menu below to begin creating your own meal plan for delivery. <br>
                        </span>
                    </p>
                    <p>&nbsp;</p>
                    <p><span style="color: rgb(0, 0, 0);">Create your own meal plan for delivery, pick your entrees and customize each meal.&nbsp; Next, order side dishes, desserts, snacks, soups and salads.</span></p>
                    <p>&nbsp;</p>
                    <p><span style="color: rgb(0, 0, 0);">Your meals will be made to your specific order, and delivered to your door each week fresh, not frozen, and ready to eat.</span></p>
                    <p><strong> </strong></p>
                </div>
                <div class="cl">&nbsp;</div>
            </div>
            <!-- Body Content -->




            <style type="text/css">
                .sticky {
                    position: fixed;
                    top: 0;
                    margin-left: 8px;
                }

                #cart-meals {
                    width: 200px;
                    height: 600px;
                    overflow-y: scroll;
                }

                    #cart-meals ul {
                        margin: 0;
                        padding: 0;
                    }

                        #cart-meals ul li {
                            margin: 0;
                            padding: 0.6em;
                            border-bottom: dashed 1px #999;
                            display: block;
                        }
            </style>

            <input type="hidden" name="ctl00$body$ctl00$hdnLastMealTab" id="hdnLastMealTab" value="Breakfast">
            <!-- Contents Container -->
            <div class="meals container">

                <!-- Date Picker -->
                <!-- Meal Items By Selected Date -->

                <div class="m-nav" style="text-align: center;">
                    <!--<ul>
            <li>

                <input type="submit" name="ctl00$body$ctl00$btnBreakfast" value="Breakfast" id="btnBreakfast" class="alc-button-submit active">

            </li>
            <li>

                <input type="submit" name="ctl00$body$ctl00$btnLunch" value="Lunch" id="btnLunch" class="alc-button-submit">

            </li>
            <li>

                <input type="submit" name="ctl00$body$ctl00$btnDinner" value="Dinner" id="btnDinner" class="alc-button-submit">

            </li>
            <li>

                <input type="submit" name="ctl00$body$ctl00$btnChild" value="Child" id="btnChild" class="alc-button-submit">

            </li>
            <li>

                <input type="submit" name="ctl00$body$ctl00$btnDessert" value="Dessert" id="btnDessert" class="alc-button-submit">

            </li>
            <li>

                <input type="submit" name="ctl00$body$ctl00$btnOther" value="Other" id="btnOther" class="alc-button-submit">

            </li>


        </ul>-->
                    <span style="float:left;color: #276f22;font-weight:bold;font-size:1.6em" class="mble_displaynone">Weekly A La Carte Menus : </span>

                    <ul>
                        <li>
                            <input type="button" name="" value="Breakfast" id="MealType0" class="alc-button-submit @isBreakFast" onclick="ToggleMeals(0)">
                        </li>
                        <li>
                            <input type="button" name="" value="Lunch" id="MealType1" class="alc-button-submit @isLunch" onclick="ToggleMeals(1)">
                        </li>
                        <li>
                            <input type="button" name="" value="Dinner" id="MealType2" class="alc-button-submit @isDinner" onclick="ToggleMeals(2)">
                        </li>
                        <li>
                            <input type="button" name="" value="Child" id="MealType3" class="alc-button-submit @isChild" onclick="ToggleMeals(3)">
                        </li>
                        <li style="display:none">
                            <input type="button" name="" value="Dessert" id="MealType4" class="alc-button-submit @isDessert" onclick="ToggleMeals(4)">
                        </li>
                        <li>
                            <input type="button" name="" value="Other" id="MealType5" class="alc-button-submit @isOther" onclick="ToggleMeals(5)">
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <hr />

                    <fieldset class="css-order">
                        <ul>
                            <li style="width: 100%;">
                                <div class="font-myriad-bold-cond" style="float: left;padding: 0px 1px;color: #39aa35;font-weight: bold;">This Menu  Delivered On@*[Next Delivery Date]*@: &nbsp;</div>
                                @*<div class="font-myriad-bold-cond" style="font-size: 2em; float: left;">Select a Delivery Date:&nbsp;</div>*@
                                <div style="float: left;">
                                    @*<select name="DeliveryDate" onchange="" id="ddlDeliveryDate" class="date-picker">

                            @foreach (var d in Model.calendar)
                            {
                            <option value="@d.DeliveryDate">@d.DeliveryDate.ToString("MMMM d, yyyy (ddd)")</option>
                            }

                            </select>*@

                                    @Html.DropDownList("DeliveryDate", Model.calendarDropdown, new { id = "ddlDeliveryDate", @class = "date-picker", @placeholder = "Select a Delivery Dates" })
                                </div>
                            </li>
                        </ul>
                    </fieldset>




                </div>
                <div id="Yourcartpartialview" class="Mobile_details" style="display:none">
                    @Html.Partial("~/Views/Menu/_YourcartPage.cshtml", Model)
                </div>
                <div class="col-md-8">
                    <div class="meals">
                        @*<h2>&nbsp;</h2>*@

                        <style>
                            .healthychef-favorite-logo {
                                height: 15px;
                            }

                            .options-logo {
                                width: 20px;
                            }

                            .main-description img[src=''] {
                                width: 0px;
                                height: 0px;
                            }
                        </style>

                        <div class="article-cnt" style="display: block;">
                            <div id="MealDetailsContainer">
                                @foreach (var m in Model.alcMenu)
                                {
                                    var _showHealthyChefFav = m.meal.CanyonRanchRecipe != true ? "hidden" : "";
                                    var _showSoyFree = m.meal.CanyonRanchApproved != true ? "hidden" : "";
                                    var _showVegOptAvail = m.meal.VegetarianOptionAvailable != true ? "hidden" : "";
                                    var _showVeganOptAvail = m.meal.VeganOptionAvailable != true ? "hidden" : "";
                                    var _showGlutenFreeAvail = m.meal.GlutenFreeOptionAvailable != true ? "hidden" : "";
                                    using (Html.BeginForm("AddMealToCart", "Menu", FormMethod.Post, new { @id = "AddMealToCart" + m.meal.MenuItemID }))
                                    {
                                        <span id="ctl00_body_ctl00_MealTabRepeater_lvwMealItems_ctrl0_lblHeaderMealType"></span>
                                        <div class="mealItem">
                                            <div class="col-md-4" style="padding-left: 0px;">
                                                @*<img class="img-responsive" src="@Url.Content(m.meal.i"/>*@
                                                <img class="img-responsive" src="@m.meal.ImageUrl" />
                                            </div>
                                            <div class="main-description">
                                                <span class="food-title"><a href="/ProductDescription?ItemName=@m.meal.Name">@m.meal.Name</a></span>
                                                @*<span><img id="" title="Healthy Chef Favorite" class="healthychef-favorite-logo @_showHealthyChefFav" src="~/Content/Images/Healthy-Chef-Logo-leaves.png"></span>
                                        <span><img id="" title="Soy Free Option Available" class="options-logo @_showSoyFree" src="~/Content/Images/sf-button.png" style="border-width:0px;"></span>
                                        <span><img id="" title="Vegetarian Option Available" class="options-logo @_showVegOptAvail" src="~/Content/Images/vg-button.png" alt="Vegetarian Option Available" style="border-width:0px;"></span>
                                        <span><img id="" title="Vegan Option Available" class="options-logo @_showVeganOptAvail" src="~/Content/Images/vn-button.png" alt="Vegan Option Available" style="border-width:0px;"></span>
                                        <span><img id="" title="Gluten Free Option Available" class="options-logo @_showGlutenFreeAvail" src="~/Content/Images/gf-button.png" alt="Gluten Free Option Available" style="border-width:0px;"></span>*@
                                                <div class="ptb-10">@m.meal.Description</div>
                                                <p><em>Allergens: @m.AllergenList</em></p>

                                                <div class="fly-out" style="width: 100%;display:none;">
                                                    <table style="width: 100%;display:none !important;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align: top;width: 33.3%;padding-right: 1em;">
                                                                    <div class="fly-column" style="width: 100%;">

                                                                        @if (Model.activeProfiles.Count > 1)
                                                                        {
                                                                            <div id="divProfiles">
                                                                                <h3 class="font-myriad-cond color-olive">Select a Profile</h3>
                                                                                <select name="ProfileID" id="" class="date-picker" style="width:100%">
                                                                                    @foreach (var p in (Model.activeProfiles).OrderBy(x => x.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss.fff")))
                                                                                    {
                                                                                        if (p.IsChildProfile == false)
                                                                                        {
                                                                                            <option value="@p.UserProfileID" selected="selected">@p.ProfileName</option>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <option value="@p.UserProfileID">@p.ProfileName</option>
                                                                                        }
                                                                                    }
                                                                                </select>
                                                                            </div>
                                                                        }

                                                                        @if (m.mealSizes != null && m.mealSizes.Count > 1)
                                                                        {
                                                                            <div id="ctl00_body_ctl00_MealTabRepeater_lvwMealItems_ctrl0_divSizes">
                                                                                <h3 class="font-myriad-cond color-olive">Serving Size</h3>
                                                                                <table class="form-select-menu radio-sizes">

                                                                                    <tbody>
                                                                                        @foreach (var ms in m.mealSizes)
                                                                                        {
                                                                                            <tr class="bg-lime-light">
                                                                                                <td class="left-box" style="width:100%;margin-top: 3px;display: inline-block;">
                                                                                                    <span class="meal-size" data-price="@ms.Price"><input id="" type="radio" name="sizeId1" value="@ms.SizeId"></span>
                                                                                                </td>
                                                                                                <td class="middle-box">
                                                                                                    @ms.Description
                                                                                                </td>
                                                                                                <td class="right-box">
                                                                                                    @string.Format("{0:c}", ms.Price)
                                                                                                </td>
                                                                                            </tr>
                                                                                        }


                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        }
                                                                        else if (m.mealSizes.Count == 1)
                                                                        {
                                                                            <input type="hidden" value="@m.mealSizes[0].SizeId" name="sizeId" />
                                                                        }
                                                                    </div>
                                                                </td>
                                                                <td style="vertical-align: top;padding-right: 1em;width:33.3%">
                                                                    <div class="fly-column" style="width: 100%;">
                                                                        @if (m.prefsList != null && m.prefsList.Count != 0)
                                                                        {
                                                                            <div id="ctl00_body_ctl00_MealTabRepeater_lvwMealItems_ctrl0_divPrefs">
                                                                                <h3 class="font-myriad-cond color-olive">Options</h3>@*Preferences*@
                                                                                <table class="form-select-menu radio-prefs" border="0">

                                                                                    <tbody>
                                                                                        @foreach (var pref in m.prefsList)
                                                                                        {
                                                                                            <tr>
                                                                                                <td class="left-box" style="width:100%">
                                                                                                    <span class="meal-prefs" data-price="@pref.Preference.Cost"><input id="" type="checkbox" name="prefIds" value="@pref.PreferenceID"></span>
                                                                                                </td>
                                                                                                <td class="middle-box">
                                                                                                    @pref.Preference.Name
                                                                                                </td>
                                                                                                <td class="right-box">
                                                                                                    @pref.Preference.Cost
                                                                                                </td>
                                                                                            </tr>
                                                                                        }

                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </td>
                                                                <td id="sidesDishesColumn" style="vertical-align: top;width: 33.3%;">
                                                                    <div class="fly-column" style="width: 100%;">
                                                                        @if (Model.alcSides != null)
                                                                        {
                                                                            <div id="ctl00_body_ctl00_MealTabRepeater_lvwMealItems_ctrl0_divSidesDishes">
                                                                                <h3 class="font-myriad-cond color-olive">Select Side Dishes</h3>
                                                                                <table class="form-select-menu select-sides" border="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <select name="sideDish1" id="ddlSide1-@m.meal.MenuItemID" class="meal-side" meal-side="1" style="width:100%;margin-bottom: 2px;">
                                                                                                    @foreach (var d in Model.alcSides)
                                                                                                    {
                                                                                                        <option value="@d.MenuItemID" cost-child="@d.CostChild" cost-small="@d.CostSmall" cost-regular="@d.CostRegular" cost-large="@d.CostLarge">@d.Name</option>
                                                                                                    }
                                                                                                </select>
                                                                                            </td>
                                                                                        </tr>

                                                                                        <tr class="bg-grey-light">
                                                                                            <td style="border: none;">
                                                                                                @if (Model.alcSides != null)
                                                                                                {
                                                                                                    <select name="sideDish2" id="ddlSide2-@m.meal.MenuItemID" class="meal-side" meal-side="2" style="width:100%;">
                                                                                                        @foreach (var d in Model.alcSides)
                                                                                                        {
                                                                                                            <option value="@d.MenuItemID" cost-child="@d.CostChild" cost-small="@d.CostSmall" cost-regular="@d.CostRegular" cost-large="@d.CostLarge">@d.Name</option>
                                                                                                        }
                                                                                                    </select>
                                                                                                }
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>

                                                                        }
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="cl">&nbsp;</div>
                                                </div>
                                            </div>
                                            @*select modal popup start*@
                                            <div id="Addselectpopup-@m.meal.MenuItemID" class="modal-dialog new_modalpopup Addselectpopup" style="display:none;">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" id="closebutton">&times;</button>
                                                        <h4 class="modal-title">@m.meal.Name</h4>
                                                    </div>
                                                    <div class="modal-body nutrition_body">
                                                        <div class="table-responsive" style="width: 100%;">
                                                            <table style="width: 100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="vertical-align: top;width: 33.3%;padding-right: 1em;">
                                                                            <div class="fly-column" style="width: 100%;">

                                                                                @if (Model.activeProfiles.Count > 1)
                                                                                {
                                                                                    <div id="divProfiles">
                                                                                        <h3 class="font-myriad-cond color-olive">Select a Profile</h3>
                                                                                        <select name="ProfileID" id="" class="date-picker" style="width:100%">
                                                                                            @foreach (var p in (Model.activeProfiles).OrderBy(x => x.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss.fff")))
                                                                                            {
                                                                                                if (p.IsChildProfile == false)
                                                                                                {
                                                                                                    <option value="@p.UserProfileID" selected="selected">@p.ProfileName</option>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <option value="@p.UserProfileID">@p.ProfileName</option>
                                                                                                }
                                                                                            }
                                                                                        </select>
                                                                                    </div>
                                                                                }

                                                                                @if (m.mealSizes != null && m.mealSizes.Count > 1)
                                                                                {
                                                                                    <div id="ctl00_body_ctl00_MealTabRepeater_lvwMealItems_ctrl0_divSizes">
                                                                                        <h3 class="font-myriad-cond color-olive">Serving Size</h3>
                                                                                        <table class="form-select-menu radio-sizes">

                                                                                            <tbody>
                                                                                                @foreach (var ms in m.mealSizes)
                                                                                                {
                                                                                                    <tr class="bg-lime-light">
                                                                                                        <td class="left-box" style="width:100%;margin-top: 3px;display: inline-block;">
                                                                                                            <span class="meal-size" data-price="@ms.Price"><input id="" type="radio" name="sizeId" onchange="adjustRadioValues(@ms.Price,@m.meal.MenuItemID);" value="@ms.SizeId"></span>
                                                                                                        </td>
                                                                                                        <td class="middle-box">
                                                                                                            @ms.Description
                                                                                                        </td>
                                                                                                        <td class="right-box">
                                                                                                            @string.Format("{0:c}", ms.Price)
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                }


                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                }
                                                                                else if (m.mealSizes.Count == 1)
                                                                                {
                                                                                    <input type="hidden" value="@m.mealSizes[0].SizeId" name="sizeId" />
                                                                                }
                                                                            </div>
                                                                        </td>
                                                                        <td style="vertical-align: top;padding-right: 1em;width: 33.3%">
                                                                            <div class="fly-column" style="width: 100%;">
                                                                                @if (m.prefsList != null && m.prefsList.Count != 0)
                                                                                {
                                                                                    <div id="ctl00_body_ctl00_MealTabRepeater_lvwMealItems_ctrl0_divPrefs">
                                                                                        <h3 class="font-myriad-cond color-olive">Options</h3>@*Preferences*@
                                                                                        <table class="form-select-menu radio-prefs" border="0">

                                                                                            <tbody>
                                                                                                @foreach (var pref in m.prefsList)
                                                                                                {
                                                                                                    <tr>
                                                                                                        <td class="left-box" style="width:100%;margin-top: 3px;display: inline-block;">
                                                                                                            <span class="meal-prefs" data-price="@pref.Preference.Cost"><input id="" type="checkbox" name="prefIds" value="@pref.PreferenceID"></span>
                                                                                                        </td>
                                                                                                        <td class="middle-box">
                                                                                                            @pref.Preference.Name
                                                                                                        </td>
                                                                                                        <td class="right-box">
                                                                                                            @pref.Preference.Cost
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                }

                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                }
                                                                            </div>
                                                                        </td>
                                                                        <td id="sidesDishesColumn" style="vertical-align: top;width: 33.3%;">
                                                                            <div class="fly-column" style="width: 100%;">
                                                                                @if (Model.alcSides != null)
                                                                                {
                                                                                    <div id="ctl00_body_ctl00_MealTabRepeater_lvwMealItems_ctrl0_divSidesDishes">
                                                                                        <h3 class="font-myriad-cond color-olive">Select Side Dishes</h3>
                                                                                        <table class="form-select-menu select-sides" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <select name="sideDish1" id="ddlSide11-@m.meal.MenuItemID" class="meal-side" meal-side="1" style="width:100%;margin-bottom: 2px;">
                                                                                                            @foreach (var d in Model.alcSides)
                                                                                                            {
                                                                                                                <option value="@d.MenuItemID" cost-child="@d.CostChild" cost-small="@d.CostSmall" cost-regular="@d.CostRegular" cost-large="@d.CostLarge">@d.Name</option>
                                                                                                            }
                                                                                                        </select>
                                                                                                    </td>
                                                                                                </tr>

                                                                                                <tr class="bg-grey-light">
                                                                                                    <td style="border: none;">
                                                                                                        @if (Model.alcSides != null)
                                                                                                        {
                                                                                                            <select name="sideDish2" id="ddlSide22-@m.meal.MenuItemID" class="meal-side" meal-side="2" style="width:100%;">
                                                                                                                @foreach (var d in Model.alcSides)
                                                                                                                {
                                                                                                                    <option value="@d.MenuItemID" cost-child="@d.CostChild" cost-small="@d.CostSmall" cost-regular="@d.CostRegular" cost-large="@d.CostLarge">@d.Name</option>
                                                                                                                }
                                                                                                            </select>
                                                                                                        }
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>

                                                                                }
                                                                            </div>
                                                                        </td>
                                                                        @*<td style="padding: 0px 10px;width: 33.3%;vertical-align: top;display:none;">
                                                                    <div class="panel-add-to-cart" style="position: relative;">
                                                                        Price: <span class="plan-price-text right-align">@m.Price</span>
                                                                        <div style="height: 10px;"></div>
                                                                        Quantity:
                                                                        <input name="Quantity" type="number" min="0" value="1" max="99" maxlength="2" onkeypress="return isNumeric(event)" oninput="maxLengthCheck(this)" id="ctl00_body_ctl00_MealTabRepeater_lvwMealItems_ctrl0_txtQuantity" class="right-align txt-quantity" style="width:20px;">
                                                                        <span id="ctl00_body_ctl00_MealTabRepeater_lvwMealItems_ctrl0_rfvQty" style="color:Red;display:none;">*</span>
                                                                        <span id="ctl00_body_ctl00_MealTabRepeater_lvwMealItems_ctrl0_cprQty" style="color:Red;display:none;">*</span>
                                                                        <div style="height: 10px;"></div>
                                                                        @if (m.mealSizes.Count == 1)
                                                                        {
                                                                            <input type="button" name="" value="Add to Cart" onclick="AddMealToCart(@m.meal.MenuItemID);" id="" class="addToCart btn-orange" data-dismiss="modal" size="@m.mealSizes[0].SizeId.ToString()" price="@m.mealSizes[0].Price.ToString()">
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="button" name="" value="Add to Cart" onclick="AddMealToCart(@m.meal.MenuItemID);" id="" data-dismiss="modal" class="addToCart btn-orange">
                                                                        }
                                                                        <span id="ctl00_body_ctl00_MealTabRepeater_lvwMealItems_ctrl0_lblAddItemFeedback"></span>
                                                                        <div id="ctl00_body_ctl00_MealTabRepeater_lvwMealItems_ctrl0_ValSumAtC" style="color:Red;font-size:XX-Small;display:none;">

                                                                        </div>
                                                                    </div>
                                                                </td>*@
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div class="cl">&nbsp;</div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="familystyle_div">
                                                            <div class="menuquestion cart_check">
                                                                <div class="check align_FS">
                                                                    <span>Save 10% With <b class="familystyle">Family Style</b></span>
                                                                    <input type="checkbox" id="isFamilyStyle1_@m.meal.MenuItemID" onclick="togleFamilyStyle1(@m.meal.MenuItemID);" />

                                                                    <div class="questionmark" data-toggle="modal" data-target="#familystyleinfo">
                                                                        <img src="~/Content/Images/question.png" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="align_23">
                                                                <div class="align_FS_2">
                                                                    <strike style="margin-right:10px" class="strike"><span class="plan-price-text right-align" style="display:none" id="OriginalPriceStrike1_@m.meal.MenuItemID">@m.Price</span></strike><span class="plan-price-text right-align" id="originalprice1_@m.meal.MenuItemID">@m.Price</span><span class="plan-price-text right-align" style="display:none" id="discountedprice1_@m.meal.MenuItemID">@m.DiscountedMockPrice</span><span class="Qty_price"> | QTY:</span>
                                                                    <input type="number" id="Quantity1_@m.meal.MenuItemID" class="Quantitymenu" onkeydown="return checkShortcut();" onchange="validateQuantity1(@m.meal.MenuItemID)" name="Quantity1" value="1" min="1" />
                                                                </div>
                                                                <div class="align_FS_2_3">
                                                                    <div id="divfamilystyleerror1_@m.meal.MenuItemID" class="divfamilystyleerror" style="display:none;float: left;">
                                                                        <span style="margin: 3px 5px;">Family Style requires 2 or more servings.</span>
                                                                    </div>
                                                                    <div class="pull-right">
                                                                        @if (m.mealSizes.Count == 1)
                                                                        {
                                                                            <input type="button" name="" value="Add" onclick="AddMealToCart1(@m.meal.MenuItemID);" id="" class="addToCart btn-orange" data-dismiss="modal" size="@m.mealSizes[0].SizeId.ToString()" price="@m.mealSizes[0].Price.ToString()">
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="button" name="" value="Add" onclick="AddMealToCart1(@m.meal.MenuItemID);" id="" data-dismiss="modal" class="addToCart btn-orange">
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*select modal popup end*@
                                            @*"?" popup Start*@
                                            <div id="familystyleinfo" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        @*<div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    @*<h4 class="modal-title">Modal Header</h4>
                                                </div>*@
                                                        <div class="modal-body">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <p>Family Style will deliver 2 or more portions in one serving dish.This makes heating meals for the whole family more convenient, reduces packaging, and allows you to save 10% on the price.</p>
                                                        </div>
                                                        @*<div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>*@
                                                    </div>

                                                </div>
                                            </div>

                                            @*"?" popup End*@
                                            @*Nutrition modal popup start*@
                                            <div id="nutritiondata-@m.meal.MenuItemID" class="modal-dialog new_modalpopup" style="display:none">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" id="closebutton">&times;</button>
                                                        <h4 class="modal-title">@m.meal.Name</h4>
                                                    </div>
                                                    <div class="modal-body nutrition_body">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <fieldset>
                                                                    <legend>&nbsp;&nbsp;Calories</legend>
                                                                    <label>@m.NutritionInfo.Calories</label>
                                                                </fieldset>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <fieldset>
                                                                    <legend>&nbsp;&nbsp;Fat (g)</legend>
                                                                    <label>@m.NutritionInfo.Fat</label>
                                                                </fieldset>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <fieldset>
                                                                    <legend>&nbsp;&nbsp;Protein (g)</legend>
                                                                    <label>@m.NutritionInfo.Protein</label>
                                                                </fieldset>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <fieldset>
                                                                    <legend>&nbsp;&nbsp;Carbohydrates (g)</legend>
                                                                    <label>@m.NutritionInfo.Carbohydrates</label>
                                                                </fieldset>
                                                            </div>
                                                            @*<div class="col-md-2">
                                                        <fieldset>
                                                            <legend>DietaryFiber:</legend>
                                                            <label>@m.NutritionInfo.DietaryFiber</label>
                                                        </fieldset>
                                                    </div>*@
                                                            <div class="col-md-3">
                                                                <fieldset>
                                                                    <legend>&nbsp;&nbsp;Sodium (mg)</legend>
                                                                    <label>@m.NutritionInfo.Sodium</label>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            @*Nutrition modal popup end*@


                                            <div class="side-column nutrition">
                                                <input type="button" value="Customize" class="page-button-submit" onclick="SelectViewDetails(@m.meal.MenuItemID)" />
                                                <input type="button" value="Nutrition" onclick="GetNutritionInfo(@m.meal.MenuItemID)" class="page-button nut" style="width: 97%;margin-top:5px;" />
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="familystyle_div">
                                                <div class="menuquestion cart_check">
                                                    <div class="align_FS">
                                                        <span>Save 10% With <b class="familystyle">Family Style</b></span>
                                                        <input type="checkbox" id="isFamilyStyle_@m.meal.MenuItemID" onclick="togleFamilyStyle(@m.meal.MenuItemID);" />

                                                        <div class="questionmark" data-toggle="modal" data-target="#familystyleinfo">
                                                            <img src="~/Content/Images/question.png" />
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="align_23">
                                                    <div class="align_FS_2">
                                                        <span class="plan-price-text right-align" style="display:none" id="OriginalPriceStrike_@m.meal.MenuItemID"><strike class="strike">@m.Price</strike></span><span class="plan-price-text right-align" id="originalprice_@m.meal.MenuItemID">@m.Price</span><span class="plan-price-text right-align" style="display:none" id="discountedprice_@m.meal.MenuItemID">@m.DiscountedMockPrice</span><span class="Qty_price"> | QTY:</span>
                                                        <input type="number" id="Quantity_@m.meal.MenuItemID" class="Quantitymenu" onkeydown="return checkShortcut();" onchange="validateQuantity(@m.meal.MenuItemID)" name="Quantity" value="1" min="1" />
                                                    </div>
                                                    <div class="align_FS_2_3">
                                                        <div id="divfamilystyleerror_@m.meal.MenuItemID" class="divfamilystyleerror" style="display:none;float: left;">
                                                            <span style="margin: 3px 5px;">Family Style requires 2 or more servings.</span>
                                                        </div>
                                                        <div class="pull-right">
                                                            @if (m.mealSizes.Count == 1)
                                                            {
                                                                <input type="button" name="" value="ADD" onclick="AddMealToCart(@m.meal.MenuItemID);" id="" class="addToCart btn-orange" data-dismiss="modal" size="@m.mealSizes[0].SizeId.ToString()" price="@m.mealSizes[0].Price.ToString()">
                                                            }
                                                            else
                                                            {
                                                                <input type="button" name="" value="ADD" onclick="AddMealToCart(@m.meal.MenuItemID);" id="" data-dismiss="modal" class="addToCart btn-orange">
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="cl">&nbsp;</div>
                                        </div>
                                        <input type="hidden" name="menuItemID" value="@m.meal.MenuItemID" />
                                        <input type="hidden" name="DeliveryDate" class="SelectedDeliveryDate" value="" />

                                        <div class="modal fade" id="myModal" role="dialog">

                                        </div>

                                    }
                                }
                            </div>

                        </div>


                        <!-- Breakfast -->

                    </div>
                </div>
                <div class="loading-text" id="divLoader" style="display:none">
                    <h1>
                        Adding
                        <span class="dot-one"> .</span>
                        <span class="dot-two"> .</span>
                        <span class="dot-three"> .</span>
                    </h1>
                </div>
                @*<div id="divLoader" style="display:none;"> <h1 style="font-family: 'Ubuntu',sans-serif;color: #F06324;text-align:center;margin-top:110px">Adding...</h1>*@@*<img src="~/Content/Images/ajax-loading.gif" alt="Loader" />*@

                <div id="Yourcartpartialview" class="Desktop_details">
                    @Html.Partial("~/Views/Menu/_YourcartPage.cshtml", Model)
                </div>
            </div>
            @*<div class="cl">&nbsp;</div>*@
            <div class="clearfix"></div>
            @*<div class="article-list">
                    <span><img id="ctl00_body_ctl00_MealTabRepeater_imgCaynonRanchLogo" title="Healthy Chef Favorite" class="healthychef-favorite-logo" src="~/Content/images/Healthy-Chef-Logo-leaves.png" style="border-width:0px;"> Healthy Chef Favorite</span>
                    <span><img id="ctl00_body_ctl00_MealTabRepeater_imgSoyFree" title="Soy Free Option Available" class="options-logo" src="~/Content/Images/sf-button.png" style="border-width:0px;"> Soy Free Option Available</span>
                    <span><img id="ctl00_body_ctl00_MealTabRepeater_imgVegetarianOption" title="Vegetarian Option Available" class="options-logo" src="~/Content/Images/vg-button.png" alt="Vegetarian Option Available" style="border-width:0px;"> Vegetarian Option Available</span>
                    <span><img id="ctl00_body_ctl00_MealTabRepeater_imgVeganOption" title="Vegan Option Available" class="options-logo" src="~/Content/Images/vn-button.png" alt="Vegan Option Available" style="border-width:0px;"> Vegan Option Available</span>
                    <span><img id="ctl00_body_ctl00_MealTabRepeater_imgGlutenFree" title="Gluten Free Option Available" class="options-logo" src="~/Content/Images/gf-button.png" alt="Gluten Free Option Available" style="border-width:0px;"> Gluten Free Option Available</span>
                </div>*@

        </div>
        <script>
            $("#closebutton").click(function () {
                $('input[value="3"]').prop('checked', true);
            });
        </script>

        <script type="text/javascript">
                var _activeTab = 2;
                $(document).ready(function () {
                    var deliveryDate = $('#ddlDeliveryDate').val();
                    //$("#cartdeliverydate").text(new Date(deliveryDate).toDateString("yyyy-MM-dd"));
                    $("#ddlDeliveryDate").change(function () {
                        //ToggleMeals(@Model.ActiveTab);
                        if ($('#MealType0').attr('class') == "alc-button-submit active")
                            _activeTab = 0;
                        else if ($('#MealType1').attr('class') == "alc-button-submit active")
                            _activeTab = 1;
                        else if ($('#MealType2').attr('class') == "alc-button-submit active")
                            _activeTab = 2;
                        else if ($('#MealType3').attr('class') == "alc-button-submit active")
                            _activeTab = 3;
                        else if ($('#MealType5').attr('class') == "alc-button-submit active")
                            _activeTab = 5;
                    ToggleMeals(_activeTab);
                            var deliveryDate = $('#ddlDeliveryDate').val();
                            $("#cartdeliverydate").text(new Date(deliveryDate).toDateString("yyyy-MM-dd"));
                        });

                        $('.SelectedDeliveryDate').val($('#ddlDeliveryDate').val());
                        $('.fly-out').hide();
                        //$('.panel-add-to-cart').hide();
                      //  $('.m-nav input:not(.active)').hover(function () {
                            //if ($(this).hasClass('active'))
                            //    return;
                           // $(this).toggleClass('active');
                       // });

                        //Prepare each row iteration
                        $('.mealItem').each(function (index, element) {
                            //Select the first radio button in each set
                            $(this).find('[type="radio"]').prop('checked', false);
                            $(this).find('[type="radio"][value="3"]').prop('checked', true);
                            //Alternate row colors and remove border from last List Item
                            $(this).find('.form-select-menu').each(function () {
                                $('tr:odd', $(this)).addClass('bg-grey-light');
                                $('tr:last td', $(this)).css('border', 'none');
                            });
                            //Set default prices
                            calcPrice(element, false);
                        });

                        //set all <DIV> elements equal in height w/o max-height property
                        if ($('.m-nav')[0]) {

                            //Show only 1st meal program article container
                            $('.article-cnt').hide();
                            $(".article-cnt:first").show();

                            $('.m-nav li a:first').addClass('active-meal');

                            //Set references
                            $('.m-nav li a').each(function (i, e) {
                                $(e).click(function (event) {
                                    event.preventDefault();
                                    $("#hdnLastMealTab").val($(this).text());
                                    //Clear active menu item
                                    $('.m-nav li a').removeClass('active-meal');

                                    //Display the correct article
                                    $('.article-cnt').hide();
                                    $('.article-cnt:eq(' + i + ')').show();

                                    //Set this menu item as active
                                    $(this).addClass('active-meal');
                                });
                            });
                        }

                        var lastMealTab = $("#hdnLastMealTab").val();

                        if (lastMealTab.length > 0) {
                            var t = $('.m-nav li a:contains(' + lastMealTab + ')');
                            var idx = $('.m-nav li a').index($('.m-nav li a:contains(' + lastMealTab + ')'));
                            //Clear active menu item
                            $('.m-nav li a').removeClass('active-meal');

                            //Display the correct article
                            $('.article-cnt').hide();
                            $('.article-cnt:eq(' + idx + ')').show();

                            //Set this menu item as active
                            t.addClass('active-meal');
                        }

                        //Select Button Click comment
                        //$('.aSelectALC').click(function (event)
                        //{
                        //    event.preventDefault();

                        //    //Hide any open elements
                        //    $('.fly-out').hide();
                        //    $('.panel-add-to-cart').hide();

                        //    //Scroll to element
                        //    $('.fly-out', $(this).closest('.mealItem')).toggle();
                        //    var position = $(this).closest('.mealItem').offset();
                        //    if (($(this).closest('.mealItem').outerHeight() + position.top) < $(document).height()) {
                        //        window.scrollTo(0, position.top - 10);
                        //    }

                        //    //Apply method
                        //    //$(this).closest('.mealItem').find('.panel-add-to-cart').show();
                        //});
                        //unselect sibling size options on select
                        $('.meal-size').click(function () {
                            $('tr', $(this).closest('.form-select-menu')).removeClass('bg-lime-light');
                            $(this).closest('tr').addClass('bg-lime-light');

                            $(this).closest('.mealItem').find('[type="radio"]').prop('checked', false);
                            $(this).find(':radio').prop('checked', true);

                            calcPrice($(this).closest('.mealItem'), true);
                        });

                        $(':checkbox', '.form-select-menu').click(function () {
                            if ($(this).is(':checked')) {
                                $(this).closest('tr').addClass('bg-lime-light');
                            } else {
                                $(this).closest('tr').removeClass('bg-lime-light');
                            }
                           //calcPrice($(this).closest('.mealItem'), true);
                        });

                        //Do green background highlighting on load
                        $('input[type=radio]:checked', '.form-select-menu').each(function () {
                            $('tr', $(this).closest('.form-select-menu')).removeClass('bg-lime-light');
                            $(this).closest('tr').addClass('bg-lime-light');
                        });

                        $(".meal-side").change(function () {
                            var mealItem = $(this).closest('.mealItem');

                            if (mealItem.length == 0)
                                return;

                            if (!checkHighlightMealSideControl(mealItem, 1) || !checkHighlightMealSideControl(mealItem, 2))
                                return;

                            //calcPrice(mealItem, true);
                        });

                        function checkHighlightMealSideControl(mealItem, ordinal) {

                            if (!mealItem)
                                return false;

                            var mealSideControl = mealItem.find("select[meal-side='" + ordinal + "']");

                            if (mealSideControl.length == 0)
                                return false;

                            var mealSideMenuItemId = mealSideControl.val();

                            if (mealSideMenuItemId > -1) {
                                mealSideControl.closest('tr').addClass('bg-lime-light');
                            } else {
                                mealSideControl.closest('tr').removeClass('bg-lime-light');
                            }
                            return true;
                        }

                        function getMealSideCostBySize(mealSide, size) {
                            var result;

                            switch (size) {
                                case "1":
                                    result = parseFloat(mealSide.attr("cost-child"));
                                    break;
                                case "2":
                                    result = parseFloat(mealSide.attr("cost-small"));
                                    break;
                                case "3":
                                    result = parseFloat(mealSide.attr("cost-regular"));
                                    break;
                                case "4":
                                    result = parseFloat(mealSide.attr("cost-large"));
                                    break;
                                default:
                                    result = 0;
                                    break;
                            }
                            return isNaN(result) ? 0 : result;
                        }

                        function getMealSideCost(mealItem, ordinal) {
                            try {
                                var selectedMealSide = mealItem.find("select[meal-side='" + ordinal + "']").find(":selected");
                                if (selectedMealSide.length == 0)
                                    return 0;

                                var selectedSize = mealItem.find(".meal-size").find("input:checked");
                                if (selectedSize.length == 0)
                                    return 0;

                                return getMealSideCostBySize(selectedMealSide, selectedSize.val());
                            }
                            catch (ex) {
                                return 0;
                            }
                        }

                        //Functions
                        function calcPrice(mealItem, allowOverridePrice) {
                            var price = 0;
                            //Grab Size price
                            var sizePrice = parseFloat($('input[type=radio]:checked', mealItem).closest("span").attr('data-price'));
                            price += ((isNaN(sizePrice)) ? 0 : sizePrice);
                            //Grab Option prices
                            $('input[type=checkbox]:checked', mealItem).each(function (index, element) {
                                var optionPrice = parseFloat($(element).attr('data-price'));
                                price += ((isNaN(optionPrice)) ? 0 : optionPrice);
                            });

                            if (allowOverridePrice) {
                                price += getMealSideCost(mealItem, 1);
                                price += getMealSideCost(mealItem, 2);
                            }

                            //Output to Html
                            var priceLabel = $('.plan-price-text', mealItem);

                            if (priceLabel.text().trim() == '' || allowOverridePrice) {
                                priceLabel.text('$' + price);
                                priceLabel.formatCurrency();
                            }
                        }
                    });

                function ToggleMeals(selectedTab) {
                        var deliveryDate = $('#ddlDeliveryDate').val();
                        //window.location.href = '/Menu/Display?mealtype=' + selectedTab + '&deliveryDate=' + deliveryDate;

                        _activeTab = selectedTab;
                        UpdateMealDetailsByMealId(selectedTab, deliveryDate);
                        $('.alc-button-submit').removeClass('active');
                        document.getElementById('MealType' + _activeTab).className = 'alc-button-submit active';
                    }

                    function UpdateMealDetailsByMealId(mealtype, deliveryDate)
                    {
                        $('#MealDetailsContainer').html($('#LoadingProgress').html());
                        $.ajax({
                        url: '@Url.Action("MealDetailsByMealId", "Menu")',
                        type: 'GET',
                        data: { mealtype: mealtype, deliveryDate: deliveryDate },

                        success: function (partialView)
                        {
                            $('.alc-button-submit').removeClass('active');
                            document.getElementById('MealType' + _activeTab).className = 'alc-button-submit active';
                            //$('#MealType' + _activeTab).addClass('active');
                            $('#MealDetailsContainer').html(partialView);
                            ReAssignInitialFunctionality();
                        }
                        });
                    }

                    function ReAssignInitialFunctionality()
                    {
                        $('.fly-out').hide();
                        //$('.panel-add-to-cart').hide();
                       // $('.m-nav input:not(.active)').hover(function () {
                            //if ($(this).hasClass('active'))
                            //    return;
                          //  $(this).toggleClass('active');
                       // });

                        //Prepare each row iteration
                        $('.mealItem').each(function (index, element) {
                            //Select the first radio button in each set
                            $(this).find('[type="radio"]').prop('checked', false);
                            $(this).find('[type="radio"][value="3"]').prop('checked', true);
                            //Alternate row colors and remove border from last List Item
                            $(this).find('.form-select-menu').each(function () {
                                $('tr:odd', $(this)).addClass('bg-grey-light');
                                $('tr:last td', $(this)).css('border', 'none');
                            });
                            //Set default prices
                            calcPrice(element, false);
                        });

                        //set all <DIV> elements equal in height w/o max-height property
                        if ($('.m-nav')[0]) {

                            //Show only 1st meal program article container
                            $('.article-cnt').hide();
                            $(".article-cnt:first").show();

                            $('.m-nav li a:first').addClass('active-meal');

                            //Set references
                            $('.m-nav li a').each(function (i, e) {
                                $(e).click(function (event) {
                                    event.preventDefault();
                                    $("#hdnLastMealTab").val($(this).text());
                                    //Clear active menu item
                                    $('.m-nav li a').removeClass('active-meal');

                                    //Display the correct article
                                    $('.article-cnt').hide();
                                    $('.article-cnt:eq(' + i + ')').show();

                                    //Set this menu item as active
                                    $(this).addClass('active-meal');
                                });
                            });
                        }

                        var lastMealTab = $("#hdnLastMealTab").val();

                        if (lastMealTab.length > 0) {
                            var t = $('.m-nav li a:contains(' + lastMealTab + ')');
                            var idx = $('.m-nav li a').index($('.m-nav li a:contains(' + lastMealTab + ')'));
                            //Clear active menu item
                            $('.m-nav li a').removeClass('active-meal');

                            //Display the correct article
                            $('.article-cnt').hide();
                            $('.article-cnt:eq(' + idx + ')').show();

                            //Set this menu item as active
                            t.addClass('active-meal');
                        }

                        //Select Button Click
                        $('.aSelectALC').click(function (event) {
                            event.preventDefault();

                            //Hide any open elements
                            $('.fly-out').hide();
                           // $('.panel-add-to-cart').hide();

                            //Scroll to element
                           // $('.fly-out', $(this).closest('.mealItem')).toggle();
                            var position = $(this).closest('.mealItem').offset();
                            if (($(this).closest('.mealItem').outerHeight() + position.top) < $(document).height()) {
                                window.scrollTo(0, position.top - 10);
                            }

                            //Apply method
                           // $(this).closest('.mealItem').find('.panel-add-to-cart').show();
                        });

                        //unselect sibling size options on select
                        $('.meal-size').click(function () {
                            $('tr', $(this).closest('.form-select-menu')).removeClass('bg-lime-light');
                            $(this).closest('tr').addClass('bg-lime-light');

                            $(this).closest('.mealItem').find('[type="radio"]').prop('checked', false);
                            $(this).find(':radio').prop('checked', true);

                            calcPrice($(this).closest('.mealItem'), true);
                        });

                        $(':checkbox', '.form-select-menu').click(function () {
                            if ($(this).is(':checked')) {
                                $(this).closest('tr').addClass('bg-lime-light');
                            } else {
                                $(this).closest('tr').removeClass('bg-lime-light');
                            }
                            //calcPrice($(this).closest('.mealItem'), true);
                        });

                        //Do green background highlighting on load
                        $('input[type=radio]:checked', '.form-select-menu').each(function () {
                            $('tr', $(this).closest('.form-select-menu')).removeClass('bg-lime-light');
                            $(this).closest('tr').addClass('bg-lime-light');
                        });

                        $(".meal-side").change(function () {
                            var mealItem = $(this).closest('.mealItem');

                            if (mealItem.length == 0)
                                return;

                            if (!checkHighlightMealSideControl(mealItem, 1) || !checkHighlightMealSideControl(mealItem, 2))
                                return;

                            //calcPrice(mealItem, true);
                        });

                        function checkHighlightMealSideControl(mealItem, ordinal) {
                            if (!mealItem)
                                return false;

                            var mealSideControl = mealItem.find("select[meal-side='" + ordinal + "']");

                            if (mealSideControl.length == 0)
                                return false;

                            var mealSideMenuItemId = mealSideControl.val();

                            if (mealSideMenuItemId > -1) {
                                mealSideControl.closest('tr').addClass('bg-lime-light');
                            } else {
                                mealSideControl.closest('tr').removeClass('bg-lime-light');
                            }
                            return true;
                        }

                        function getMealSideCostBySize(mealSide, size) {
                            var result;

                            switch (size) {
                                case "1":
                                    result = parseFloat(mealSide.attr("cost-child"));
                                    break;
                                case "2":
                                    result = parseFloat(mealSide.attr("cost-small"));
                                    break;
                                case "3":
                                    result = parseFloat(mealSide.attr("cost-regular"));
                                    break;
                                case "4":
                                    result = parseFloat(mealSide.attr("cost-large"));
                                    break;
                                default:
                                    result = 0;
                                    break;
                            }
                            return isNaN(result) ? 0 : result;
                        }

                        function getMealSideCost(mealItem, ordinal) {
                            try {
                                var selectedMealSide = mealItem.find("select[meal-side='" + ordinal + "']").find(":selected");
                                if (selectedMealSide.length == 0)
                                    return 0;

                                var selectedSize = mealItem.find(".meal-size").find("input:checked");
                                if (selectedSize.length == 0)
                                    return 0;

                                return getMealSideCostBySize(selectedMealSide, selectedSize.val());
                            }
                            catch (ex) {
                                return 0;
                            }
                        }

                        //Functions
                        function calcPrice(mealItem, allowOverridePrice) {
                            var price = 0;
                            //Grab Size price
                            var sizePrice = parseFloat($('input[type=radio]:checked', mealItem).closest("span").attr('data-price'));
                            price += ((isNaN(sizePrice)) ? 0 : sizePrice);
                            //Grab Option prices
                            $('input[type=checkbox]:checked', mealItem).each(function (index, element) {
                                var optionPrice = parseFloat($(element).attr('data-price'));
                                price += ((isNaN(optionPrice)) ? 0 : optionPrice);
                            });

                            if (allowOverridePrice) {
                                price += getMealSideCost(mealItem, 1);
                                price += getMealSideCost(mealItem, 2);
                            }

                            //Output to Html
                            var priceLabel = $('.plan-price-text', mealItem);

                            if (priceLabel.text().trim() == '' || allowOverridePrice) {
                                priceLabel.text('$' + price);
                                priceLabel.formatCurrency();
                            }
                        }
                    }
        </script>
        <script>
            function maxLengthCheck(object) {
                if (object.value.length > object.maxLength)
                    object.value = object.value.slice(0, object.maxLength)
            }
            $("input[type='number']").attr({
                "max": 99,
                "min": 1
            });
            function isNumeric(evt) {
                //var theEvent = evt || window.event;
                //var key = theEvent.keyCode || theEvent.which;
                //key = String.fromCharCode(key);
                //var regex = /[1-9]|\./;
                //if (!regex.test(key)) {
                //    theEvent.returnValue = false;
                //    if (theEvent.preventDefault) theEvent.preventDefault();
                //}

                var charCode = (evt.which) ? evt.which : event.keyCode;
                if ((charCode == 46) || (charCode != 46 && charCode > 31
                    && (charCode < 48 || charCode > 57)))
                    return false;

                return true;

            }
        </script>
    </div>
</div>
</div>

@*</div>*@




<div id="LoadingProgress" style="width: 100%; height: 100%; background-color: rgb(102, 102, 102); z-index: 30001; opacity: 0.8;display:none">
    <p style="color: White;margin-left: 25%;">
        Loading, please wait...
        <img src="~/Content/Images/ajax-loading.gif">
    </p>
</div>
<div id="snackbar" style="display:none">Product Added To Cart</div>

<script type="text/javascript">
    $(document).ready(function () {
        try {
            var WeeklyMenuHeader = $('#bs-example-navbar-collapse-1').children()[0];
            $(WeeklyMenuHeader).addClass('active');
        }
        catch (e) {

        }
    });
    //$('.familystyle').hover(function () {
    //    $('#familystyleinfo').modal();
    //})

</script>

<style>
    .display {
        display: inline-block !important;
    }

    #snackbar {
        visibility: hidden;
        min-width: 250px;
        background-color: #276f22;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 5px 16px;
        position: fixed;
        z-index: 1;
        left: 0px;
        top: 0px;
        font-size: 17px;
        width: 100%;
    }


        #snackbar.show {
            visibility: visible;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }

    @@-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    @@keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    .modal-title {
        color: #fff;
    }

    .modal-header .close {
        margin-top: -2px;
        opacity: 1;
        color: #fff;
    }

    .new_modalpopup .modal-content {
        border: 0px solid #92c84b;
        border-radius: 0px;
    }

    .new_modalpopup .modal-header {
        min-height: 16.428571429px;
        padding: 5px;
        border-bottom: 1px solid #39aa35;
        color: #fff;
        background: #39aa35;
    }

    #Addselectpopup {
        top: 0%;
    }

    .modal-dialog {
        left: 29%;
        top: 24%;
        position: absolute;
        width: 100%;
        padding: 0px;
    }

    .nutrition_body {
        border-bottom: 0px solid #92c84b;
    }

    .modal-footer .plan-price-text {
        margin: 20px;
    }

    .modal-footer.pull-right .btn-orange {
        padding: 10px;
    }

    .panel-add-to-cart {
        margin: 0.5em 0;
        padding: 10px 17px;
        width: 100%;
        height: 120px;
        float: right;
        background-image: url(Content/images/panel-add-to-cart.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .nutrition_body legend {
        font-size: 11px;
        border: none;
        margin-bottom: 0px;
        margin-left: -9px;
        /*width: auto;*/
    }

    .nutrition_body fieldset label {
        height: 100%;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        margin: 10px auto;
        font-size: 16px;
        color: #276f22;
    }

    .Addselectpopup {
        padding: 10px;
        top: 6%;
    }

    .new_modalpopup .modal-footer h3 {
        float: left;
        padding: 6px 20px;
    }

    .new_modalpopup .modal-footer {
        border-top: 0px solid #ddd;
        padding: 6px 20px 20px;
    }

    .btn-orange, .btn-orange:hover {
        border-radius: 0px;
        background: #FF6600;
        border: 0px;
        padding: 10px 24px;
        background-image: linear-gradient(#f16e05, #fb8b08);
    }

    .sidemenucart {
        border: 1px solid #ddd;
        padding: 5px;
        display: inline-block;
        width: 100%;
        height: 370px;
        overflow-y: auto;
    }

    .colcart li {
        list-style-type: none;
        float: left;
    }

    .colcart ul {
        margin: 0px;
        padding: 0px;
    }

    .colcart p {
        margin-right: 10px;
        float: left;
    }

    .colul {
        margin-bottom: 10px !important;
        display: inline-block;
    }

    .css-order {
        /*float: right;
        margin-bottom: 20px !important;*/
    }

    #yourcart .col-11 {
        margin-bottom: 5px;
        display: grid;
    }

    .food-title a {
        color: #39aa35;
    }

        .food-title a:hover {
            color: #276f22;
        }
</style>