@model  HealthyChefCreationsMVC.CustomModels.ContentViewModel

@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaKeywords = Model.MetaKeywords;
    ViewBag.MetaDescription = Model.MetaDescription;
    Layout = "~/Views/Shared/_LayoutNoColumns.cshtml";
}
<div id="snackbar" style="display:none">Giftcertificate is Added To Cart </div>
<div id="main">
<div class="content_tab">
    @if (!string.IsNullOrEmpty(Model.RightTopBox))
    {
        <div class="post content_view">
            <div class="">
                @if (!string.IsNullOrEmpty(Model.HeaderImage))
                {
                    <div class="heading-image">
                        @Html.Raw(Model.HeaderImage)
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.HeaderText))
                {
                    <div class="info">
                        @Html.Raw(Model.HeaderText)
                    </div>
                }
            </div>
            <div class="container">
                <div class="col-md-8">
                    <div class="more-space sample">

                        <h2 class="color-orange">@Html.Raw(Model.PageContentTitle)</h2>

                        <div class="content_col">
                            @Html.Raw(Model.Body)

                        </div>
                    </div>
                </div>
                <div id="sidebar" class="col-md-4" style="margin-top: 5%;">
                    <div class="box-green">

                        @if (Model.PageContentTitle == "Gift Certificates")
                        {
                        <div id="divBuy" class="buttons">
                            <a class=""><span>Buy A Gift Certificate Now</span></a>
                            <a class=""><span>Enter your recipient's information</span></a>
                        </div>

                            <div class="col-12 buycertificateblock">
                                <div class="col-6">
                                    @*<label class="">First name:</label>*@
                                    <input type="text" id="txtgiftcerfirstname" name="firstname" placeholder="First Name" class="form-control" value=""  />
                                </div>
                                <div class="col-6">
                                    @*<label class="">Last name:</label>*@
                                    <input type="text" id="txtgiftcerlastname" name="lastname" value="" class="form-control" placeholder="Last Name" />
                                </div>
                            </div>
                            <div class="col-12 buycertificateblock">
                                <div class="col-6">
                                    <input type="text" id="txtgiftceraddress1" name="Address 1" placeholder="Address 1" class="form-control" value="" />
                                </div>
                                <div class="col-6">
                                    <input type="text" id="txtgiftceraddress2" name="Address 2" placeholder="Address 2" value="" class="form-control"  />
                                </div>
                            </div>
                            <div class="col-12 buycertificateblock">
                                <div class="col-6">
                                    <input type="text" id="txtgiftcercity" placeholder="City" name="City" class="form-control" value="" />
                                </div>
                                <div class="col-6">
                                    <select class="form-control" id="txtgiftcerstate">
                                        <option value="-1">State</option>
                                        @foreach (var state in HealthyChef.Common.Helpers.US_States)
                                        {
                                            <option value="@state.Abbr">@state.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 buycertificateblock">
                                <div class="col-6">
                                    <input type="text" min="0"  max="99999" maxlength="5"  id="txtgiftcerzipcode"  name="Zipcode" placeholder="Zip Code" class="form-control allownumericwithoutdecimal" value=""/>
                                </div>
                                <div class="col-6">
                                    <input type="number" id="txtgiftcerphone" name="phone" placeholder="Phone" class="form-control allownumericwithoutdecimal" value=""/>
                                </div>
                            </div>
                            <div class="col-12 buycertificateblock">
                                <div class="col-6">
                                    <input type="text" id="txtgiftcerreceiptemail" name="Receipient Email" placeholder="Recipient Email" class="form-control" value=""/>
                                </div>
                                <div class="col-6">
                                    <input type="number" id="txtgiftceramount" name="Amount" placeholder="Amount $" class="form-control" value=""/>
                                </div>
                            </div>
                            <div class="col-12 buycertificateblock">
                                <textarea id="txtgiftcerreceiptmessage" placeholder="Recipient Message" class="textarea"></textarea>
                            </div>
                            <div class="col-12 buycertificateblock gift_btn">
                                <button id="btnbuygiftcertificate" class="btn btn-orange" onclick="return AddGifCertificateToCart()">ADD TO CART</button>
                            </div>
                            <div id="ErrorMessage" style="color:red;"></div>
                        }
                        else
                        {
                            @Html.Raw(Model.RightTopBox)
                        }
                        @*<div class="first-block">
                <h4>FIRST TIME BUYERS SAVE 10%</h4>
                <a id="my_custom_link" style="font-size:18px;font-weight:bold;color:#333" href="mailto:ktzghdfu@intercom-mail.com"><img src="~/Content/Images/redesign/chaticon.png" />Chat Online Now</a><br />
                <span>or call us toll free : <a href="tel:18665752433" class="phoneno" style="font-weight:bold;font-size: 17px;color:#333">1-866-575-2433</a></span>
            </div>
            <div class="second-block">
                <img src="~/Content/Images/redesign/bannermedium5.jpg" />
                <h4>See Our Meals Plan</h4>
                <p>
                    <a class="btn-orange" href="/topic/meal-programs.aspx"><span>WEIGHT LOSS PLANS</span></a><br /><br />
                    <a class="btn-green" href="/topic/meal-programs.aspx"><span>EVERYDAY HEALTH PLAN</span></a><br /><br />
                </p>
            </div>
            <div class="second-block">
                <img src="~/Content/Images/redesign/bannermedium5.jpg" /><br /><br />
                <p>
                    <a class="btn-orange" href="/topic/browse-menu.aspx"><span>THIS WEEK'S A LA CARTE MENUS</span></a><br /><br />
                </p>
            </div>*@
                        @*<div class="top">&nbsp;</div>
            <div class="bottom">&nbsp;</div>*@
                    </div>
                    <div class="clearfix"></div>
                    <div class="content_field white_cntet help_header ">
                        <div id="" class="buttons">
                            <a class=""><h4>Have a Question or Need Help?</h4></a>
                        </div>
                        <div class="col-md-12 more-space" style="padding-top:23px;padding-left:0px">
                          <div class="col-md-8 help_line">
                              <p style="margin-right:32px;">
                                  Contact customer service at <br /> 866-575-2433 or <a href="/contact_us.aspx">email us</a>
                              </p>
                          </div>
                          <div class="col-md-4 help_line_img">
                              @*<img src="~/Content/Images/redesign/giftcertificates-shortimage.jpg" />*@
                              <img src="https://www.healthychefcreations.com/Content/Images/redesign/giftcertificates-shortimage.jpg" />
                          </div>
                        </div>
                       
                    </div>
                    @*<div class="">
            @{
                Html.RenderAction("WhiteBoxSection", "Common");
            }
        </div>*@
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="post p-gap">
            @*col-md-12*@
            <div class="full-page-header container">
                <div class="alignleft">
                    @if (!string.IsNullOrEmpty(Model.HeaderImage))
                    {
                        <div class="heading-image1">
                            @Html.Raw(Model.HeaderImage)
                        </div>
                    }
                </div>
                @if (!string.IsNullOrEmpty(Model.HeaderText))
                {
                    <div class="info">
                        @Html.Raw(Model.HeaderText)
                    </div>
                }

            </div>
            <div class="content_col">
                @Html.Raw(Model.Body)
            </div>
        </div>
    }

</div>
 </div>
<div class="clearfix"></div>
@*@Html.Raw(Model.HtmlString)*@

<script type="text/javascript">
    $(document).ready(function () {
        try
        {
            $('#NavigationItem_@Model.Id').addClass('active');
            $('#NavigationItem_@Model.Id').parent().addClass('active');
            $('#NavigationItem_@Model.Id').parent().parent().addClass('active');
            $('#NavigationItem_@Model.Id').parent().parent().parent().addClass('active');
        }
        catch (e)
        {

        }
        });
    function AddGifCertificateToCart()
    {
        $('#ErrorMessage').text('');
        var firstname = $('#txtgiftcerfirstname').val();
        var lastname = $('#txtgiftcerlastname').val();
        var address1 = $('#txtgiftceraddress1').val();
        var address2 = $('#txtgiftceraddress2').val();
        var city = $('#txtgiftcercity').val();
        var state = $('#txtgiftcerstate').val();
        var phone = $('#txtgiftcerphone').val();
        var postalcode = $('#txtgiftcerzipcode').val();
        var receiptemail = $('#txtgiftcerreceiptemail').val();
        var amount = $('#txtgiftceramount').val();
        var receiptmessage = $('#txtgiftcerreceiptmessage').val();
        if (firstname == "")
        {
            $('#ErrorMessage').append('FirstName is required<br/>');
        }
        if (lastname == "")
        {
            $('#ErrorMessage').append('LastName is required<br/>');
        }
        if (address1 == "")
        {
            $('#ErrorMessage').append('Address1 is required<br/>');
        }
        //if (address2 == "")
        //{
        //    $('#ErrorMessage').append('Address2 is required<br/>');
        //}
        if (city == "")
        {
            $('#ErrorMessage').append('City is required<br/>');
        }
        if (state == "-1")
        {
            $('#ErrorMessage').append('State is required<br/>');
        }
        if (postalcode == "" || postalcode.length > 6 || postalcode.length<4)
        {
            $('#ErrorMessage').append('Zipcode is required<br/>');
        }
        if (amount == "")
        {
            $('#ErrorMessage').append('Amount is required<br/>');
        }
        else {

            var _customerShippingInfo = { FirstName: firstname, LastName: lastname, Address1: address1, Address2: address2, City: city, State: state, Phone: phone, PostalCode: postalcode, ReceiptEmail: receiptemail, Amount: amount, ReceiptMessage: receiptmessage };

        $.ajax({
            type: "POST",
            url: '/BuyGiftCertificate.aspx', @*'@Url.Action("BuyGiftCertificate", "Content")',*@
            data: JSON.stringify(_customerShippingInfo), //'{ _addItemToCartModel: "' + AddtoCartFormData + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                if (res.Success === false) {
                    alert(res.Message);
                }
                else {
                    $('#UserCartCountGlobal').html(res.CartCount);
                    $('#aCart').addClass('cart-has-items');
                    //alert('Product Added To Cart');
                    var x = document.getElementById("snackbar");
                    x.className = "show";
                    setTimeout(function () { x.className = x.className.replace("show", ""); }, 1000);
                    $('#snackbar').show();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    $('#txtgiftcerfirstname').val('');
                    $('#txtgiftcerlastname').val('');
                    $('#txtgiftceraddress1').val('');
                    $('#txtgiftceraddress2').val('');
                    $('#txtgiftcercity').val('');
                    $('#txtgiftcerstate').val('');
                    $('#txtgiftcerphone').val('');
                    $('#txtgiftcerzipcode').val('');
                    $('#txtgiftcerreceiptemail').val('');
                    $('#txtgiftceramount').val('');
                    $('#txtgiftcerreceiptmessage').val('');
                    return false;
                }
            },
            failure: function (response) {
                alert(response.d);
            }
        });
        }
    }
    $(".allownumericwithoutdecimal").on("keypress keyup blur", function (event) {
        $(this).val($(this).val().replace(/[^\d].+/, ""));
        if ((event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });
</script>



<style>
    #snackbar {
        visibility: hidden;
        min-width: 250px;
        background-color: #276f22;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 5px 16px;
        position: fixed;
        z-index: 1;
        left: 0px;
        top: 0px;
        font-size: 17px;
        width: 100%;
    }

    .form-control {
font-size:12px;
color:grey;
    }
    select.form-control {
        line-height: 2.4;
    }
        #snackbar.show {
            visibility: visible;
            /*-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
                                            animation: fadein 0.5s, fadeout 0.5s 2.5s;*/
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
        }
    .box-green {
        padding: 6px 10px;
        background: #f2f2f2;
        border: 2px solid #ddd;
    }
</style>
