@model  HealthyChefCreationsMVC.CustomModels.HeaderViewModel

<script type="text/javascript">
    $(document).ready(function () {
        $('', '#navigation').prependTo('');
    });
</script>
<script>

    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
    var jq = $.noConflict();
    jq(document).ready(function () {

        var menu = jq("#navigation > ul");

        jq(".navbar-toggle").click(function () {
            if ($(menu).css("display") = "none") {
                $(menu).slideDown();
                $("#main").addClass("mgn0");

            }
            else {
                $(menu).slideUp();
                $("#main").removeClass("mgn0");
            }
        });
    });
</script>

<div class="page-content">
    <div class="container">
        <div id="navigation">
            <h1 id="logo" style="display:none">
                <a href="/" title="Healthy Chef">
                    Healthy Chef
                    <img src="/App_Themes/HealthyChef/Images/Healthy-Chef-Logo.png" />
                </a>
            </h1>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <ul id="bs-example-navbar-collapse-1" class="collapse navbar-collapse" data-navigation="true">
                @{ var _sitemap = Model.mySiteMap; }
                @if (_sitemap.Count != 0)
                {
                    foreach (var s in _sitemap)
                    {
                <li id="About Us">

                    @if (s.Title == "Weight Loss Diets")
                    {
                        @*<a class="mainmenu" tabindex="-1"  id="NavigationItem_@s.Key" onclick="Getsubmenunavigationofweightloss()">@s.Title</a>*@
                        <a class="mainmenu" tabindex="-1" href="/weight-loss-programs.aspx" id="NavigationItem_@s.Key">@s.Title</a>
                        <span class="caret dropdown-toggle" data-toggle="dropdown" role="button"></span>
                    }
                    else
                    if (s.Title == "Everyday Meal Plans")
                    {
                        @*<a class="mainmenu" tabindex="-1"  id="NavigationItem_@s.Key"  onclick="Getsubmenunavigationofeverydaymealplans()">@s.Title</a>*@
                        <a class="mainmenu" href="/everydaymealplans.aspx" tabindex="-1" id="NavigationItem_@s.Key">@s.Title</a>
                        <span class="caret dropdown-toggle" data-toggle="dropdown" role="button"></span>
                    }
                    else
                    {
                        <a class="mainmenu" tabindex="-1" href="/@s.Url.Replace(@"~/","")" id="NavigationItem_@s.Key">@s.Title</a>
                        <span class="caret dropdown-toggle" data-toggle="dropdown" role="button"></span>
                    }
                    @if (s.HasChildNodes == true)
                    {
                        if (s.Title == "Weekly Menus")
                        {
                        <ul class="drop-down-menu dropdown-menu">
                            @for (int i = 0; i < s.ChildNodes.Count; i++)
                            {
                                if (s.ChildNodes[i].Url == "~/browse-menu/dinner.aspx")
                                {
                                    <li><a href="/@s.ChildNodes[i].Url.Replace(@"~/browse-menu/dinner.aspx", "browse-menu.aspx")" id="NavigationItem_@s.ChildNodes[i].Key">@s.ChildNodes[i].Title</a></li>
                                }
                                else
                                {
                                    <li><a href="/@s.ChildNodes[i].Url.Replace(@"~/", "")" id="NavigationItem_@s.ChildNodes[i].Key">@s.ChildNodes[i].Title</a></li>
                                }
                            }
                        </ul>
                        }
                        else
                        {
                            <ul class="drop-down-menu dropdown-menu">
                                @for (int i = 0; i < s.ChildNodes.Count; i++)
                                {
                                    <li><a href="/@s.ChildNodes[i].Url.Replace(@"~/","")" id="NavigationItem_@s.ChildNodes[i].Key">@s.ChildNodes[i].Title</a></li>
                                }
                            </ul>
                        }

                    }
                </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

<script>
    function Getsubmenunavigationofeverydaymealplans() {
        var Programnavigationidslist = [];
        var Everdaymealplansmainmenu = $('.mainmenu')[1];
        for (var i = 0; i < Everdaymealplansmainmenu.nextElementSibling.nextElementSibling.children.length; i++) {
            var Everydaymealplanddlitems = Everdaymealplansmainmenu.nextElementSibling.nextElementSibling.children[i].firstChild;
            var programinfoid = Everydaymealplanddlitems.getAttribute("id");
            var programsinfo = programinfoid.split("_");
            var programnavigationid = programsinfo[1];
            Programnavigationidslist.push(programnavigationid);
        }
        location.href = '/Programs/EverydayMealPlan?NavigationIdsList=' + Programnavigationidslist.toString();
    }
    function Getsubmenunavigationofweightloss() {
        var Programnavigationidslist = [];
        var Weightlossprogrammenu = $('.mainmenu')[2];
        for (var i = 0; i < Weightlossprogrammenu.nextElementSibling.nextElementSibling.children.length; i++) {
            var Weightlossprogramddlitems = Weightlossprogrammenu.nextElementSibling.nextElementSibling.children[i].firstChild;
            var programinfoid = Weightlossprogramddlitems.getAttribute("id");
            var programsinfo = programinfoid.split("_");
            var programnavigationid = programsinfo[1];
            Programnavigationidslist.push(programnavigationid);
        }
        location.href = '/Programs/WeightLossProgram?NavigationIdsList=' + Programnavigationidslist.toString();
    }
</script>