@model  HealthyChefCreationsMVC.CustomModels.HeaderViewModel

<script type="text/javascript">
    $(document).ready(function () {
        $('', '#navigation').prependTo('');
    });
</script>
<script>

    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
    var jq = $.noConflict();
    jq(document).ready(function () {

        var menu = jq("#navigation > ul");

        jq(".navbar-toggle").click(function () {
            if ($(menu).css("display") = "none") {
                $(menu).slideDown();
                $("#main").addClass("mgn0");

            }
            else {
                $(menu).slideUp();
                $("#main").removeClass("mgn0");
            }
        });
    });
</script>
<header class="main_menu home_menu">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/App_Themes/HealthyChef/Images/Healthy-Chef-Logo.png" class="img-responsive" /></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <div class="topbar" style="display: flow-root;">
                    <ul class="nav navbar-nav navbar-right" style="position: relative;
    z-index: 99999;">
                        <li class=""><a href="/contact_us.aspx"><i class="fa fa-envelope" aria-hidden="true" style="color:#39aa35;"></i> Email</a></li>
                        <li class=""><a href="/login.aspx"><i class="fa fa-user" aria-hidden="true" style="color:#39aa35;"></i> Login</a></li>
                        <li class=""><a href="/cart.aspx"><i class="fa fa-shopping-cart" aria-hidden="true" style="color:#39aa35;"></i> Cart <span>(5)</span></span></a></li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right" style="position: relative; z-index: 99999;">
                    @{ var _sitemap = Model.mySiteMap; }
                    @if (_sitemap.Count != 0)
                    {
                        foreach (var s in _sitemap)
                        {
                            <li class="@(@s.HasChildNodes ? "dropdown" : "")">
                                @{
                                    var title = s.Title;
                                    var href = s.Url.Replace("~/", "/");
                                    var clickevent = "";
                                    if (title == "Weight Loss Diets")
                                    {
                                        href = "/weight-loss-programs.aspx";
                                        clickevent = "Getsubmenunavigationofweightloss()";
                                    }
                                    else if (title == "Everyday Meal Plans")
                                    {
                                        href = "/everydaymealplans.aspx";
                                        clickevent = "Getsubmenunavigationofeverydaymealplans()";
                                    }

                                    <a class="mainmenu" id="NavigationItem_@s.Key"
                                       onclick="@clickevent" href="@href">
                                        @title
                                        @if (s.HasChildNodes)
                                        {
                                            /*<span class="caret"></span>*/
                                            <span class="dropdown-toggle" data-toggle="dropdown" href="#"> </span>
                                        }
                                    </a>

                                    if (s.HasChildNodes)
                                    {
                                        <ul class="dropdown-menu">
                                            @for (int i = 0; i < s.ChildNodes.Count; i++)
                                            {
                                                var childHref = "/" + s.ChildNodes[i].Url.Replace(@"~/", "");
                                                if (s.ChildNodes[i].Url == "~/browse-menu/dinner.aspx")
                                                {
                                                    childHref = "/" + s.ChildNodes[i].Url.Replace(@"~/browse-menu/dinner.aspx", "browse-menu.aspx");
                                                }

                                                <li><a href="@childHref" style="white-space: pre-wrap;" id="NavigationItem_@s.ChildNodes[i].Key">@s.ChildNodes[i].Title</a></li>
                                            }
                                        </ul>
                                    }
                                }
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    function Getsubmenunavigationofeverydaymealplans() {
        var Programnavigationidslist = [];
        var Everdaymealplansmainmenu = $('.mainmenu')[1];
        for (var i = 0; i < Everdaymealplansmainmenu.nextElementSibling.nextElementSibling.children.length; i++) {
            var Everydaymealplanddlitems = Everdaymealplansmainmenu.nextElementSibling.nextElementSibling.children[i].firstChild;
            var programinfoid = Everydaymealplanddlitems.getAttribute("id");
            var programsinfo = programinfoid.split("_");
            var programnavigationid = programsinfo[1];
            Programnavigationidslist.push(programnavigationid);
        }
        location.href = '/Programs/EverydayMealPlan?NavigationIdsList=' + Programnavigationidslist.toString();
    }
    function Getsubmenunavigationofweightloss() {
        var Programnavigationidslist = [];
        var Weightlossprogrammenu = $('.mainmenu')[2];
        for (var i = 0; i < Weightlossprogrammenu.nextElementSibling.nextElementSibling.children.length; i++) {
            var Weightlossprogramddlitems = Weightlossprogrammenu.nextElementSibling.nextElementSibling.children[i].firstChild;
            var programinfoid = Weightlossprogramddlitems.getAttribute("id");
            var programsinfo = programinfoid.split("_");
            var programnavigationid = programsinfo[1];
            Programnavigationidslist.push(programnavigationid);
        }
        location.href = '/Programs/WeightLossProgram?NavigationIdsList=' + Programnavigationidslist.toString();
    }
    $('ul.nav li.dropdown').hover(function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
</script>