@model HealthyChefCreationsMVC.CustomModels.TopHeaderViewModel
@{
    string carthasitems = Model.CartCount > 0 ? "cart-has-items" : string.Empty;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<!-- Facebook Pixel Code -->
<script type="text/javascript">
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '431320264352127');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=431320264352127&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->
<!-- Do not delete this script -->
<!-- Begin -->
<script>(function (w, d, t, r, u) { var f, n, i; w[u] = w[u] || [], f = function () { var o = { ti: "21003554" }; o.q = w[u], w[u] = new UET(o), w[u].push("pageLoad") }, n = d.createElement(t), n.src = r, n.async = 1, n.onload = n.onreadystatechange = function () { var s = this.readyState; s && s !== "loaded" && s !== "complete" || (f(), n.onload = n.onreadystatechange = null) }, i = d.getElementsByTagName(t)[0], i.parentNode.insertBefore(n, i) })(window, document, "script", "//bat.bing.com/bat.js", "uetq");</script>
<!-- End --><!-- header -->
<div id="header" style="display: none;">
    <div class="page_gap container">
        @*shell*@
        <div class="top-navigation Desktop_view">
            <table border="0" width="100%">
                <tr>
                    <td align="left">
                        <div id="logo">
                            <a href="/" title="Healthy Chef">
                                @*Healthy Chef*@
                                <img src="/App_Themes/HealthyChef/Images/Healthy-Chef-Logo.png" />
                            </a>
                        </div>
                    </td>
                    <td align="center">
                        <span>
                            <a href="tel:18665752433" class="phoneno">
                                @*<img alt="" src="/App_Themes/HealthyChef/images/icon-1.png" />*@
                                <i class="fa fa-phone"></i>1-866-575-2433
                            </a>
                        </span>
                    </td>
                    <td align="right">
                        <div>
                            <a href="@Url.Action("Index","Contactus")" class="btn btn-green">
                                @*<a href="/contact-us.aspx" class="btn btn-green">*@
                                @*<img alt="" src="/App_Themes/HealthyChef/images/icon-2.png" />*@ <i class="fa fa-envelope"></i><span class="mobile_del">Email</span>
                            </a>
                            @if (HttpContext.Current.User.Identity.IsAuthenticated == false)
                            {
                                <a id="alogin" href="@Url.Action("Login", "Home")" class="btn btn-green">
                                    @*<img alt="" src="/App_Themes/HealthyChef/images/gold-star.gif" />*@ <i class="fa fa-user"></i><span class="mobile_del">Login</span>
                                </a>
                                <input type="hidden" id="hdnauthenticate" value="false" />
                            }
                            @if (HttpContext.Current.User.Identity.IsAuthenticated == true)
                            { <input type="hidden" id="hdnauthenticate" value="true" /> <p>hai</p>
                                <a id="aProfile" class="btn btn-green" runat="server" visible="false" href="@Url.Action("Index", "Account")">
                                    @*<img alt="" src="/App_Themes/HealthyChef/images/icon-3.png" />*@ <i class="fa fa-user"></i><span class="mobile_del">Profile</span>
                                </a>
                                <a id="alogout" href="@Url.Action("Signout", "Home")" class="btn btn-green">
                                    @*<img alt="" src="/App_Themes/HealthyChef/images/gold-star.gif" />*@ <i class="fa fa-sign-out"></i><span class="mobile_del">Sign Out</span>
                                </a>
                            }
                            <a id="aCart" runat="server" class="@carthasitems btn btn-green" href="@Url.Action("Index","Cart")">
                                @*<img alt="" src="/App_Themes/HealthyChef/Images/icon-cart.png" />*@ <i class="fa fa-shopping-cart"></i><span class="mobile_del">Cart</span> (<b id="UserCartCountGlobal">@Model.CartCount</b>)
                            </a>
                            @if (Model.ShowAdminLink == true)
                            {
                                <a href="/admin" class="btn btn-green"><span>Admin</span></a>
                            }
                        </div>
</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="slider" style="display:none">

    @foreach (var image in Model.listImages)
    {
        <div class="slide" style="display: block;">
            <img class="fullscreen" src="@Url.Content(image.imageURL)" style="border-width: 0px; width: 1449px;" />
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        if ($('#hdnauthenticate').val() == "false") {
            $('.top-navigation').addClass('Extracol');
            $('.navbar-toggle').addClass('mobile-toggle-navbar');
            $('#alogin').css('visibility', 'visible');
            $('#alogout').css('visibility', 'hidden');
            $('#aProfile').css('visibility', 'hidden');
        }
        else {
            $('.top-navigation').removeClass('Extracol');
            $('#alogin').css('visibility', 'hidden');
            $('#alogout').css('visibility', 'visible');
            $('#aProfile').css('visibility', 'visible');
        }
    }); 
  </script>
